@media screen and (max-width: 1300px) {
  .container {
    max-width: 992px;
    width: 100%;
    padding: 0 15px;
  }

  body > header {
    .container {
      .dropPhone {
        left: 59%;
      }
    }
  }

  body > main {
    .main-header {
      .container {
        .main-headerbottom {
          max-height: none;
          gap: 5px;
          grid-template-columns: 1fr 1fr;

          .selectType {
            max-height: 72px;
            height: 50px;
            width: 100%;
            outline: none;
            padding: 0 16px;

            &:nth-child(1) {
              border-radius: 0;
            }
          }

          .duo-range {
            height: 50px;

            .noUi-horizontal {
              height: 0;
            }

            .range-txt {
              max-height: 72px;
              height: 50px;

              .txt-between {
                height: 100%;
              }
            }

            .slider {
              width: 100%;
            }
          }


          .btn-sbm {
            max-height: 72px;
            height: 100%;
            border-radius: 0;
          }
        }
      }
    }

    .main {
      .main-top {
        .main-topHeader {
          gap: 0;

          button {
            padding: 0;
          }
        }
      }
    }

    .card-section {
      max-width: 840px;
      gap: 20px;
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;

      .card {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .about-us {
      .SwiperExample {
        .swiper {
          padding-left: 0;
          padding-right: 0;
        }

        .stages {
          .stages-img {
            .stages-svg {
              width: 230px;
              height: 230px;
              padding: 15px 15px;

              h3 {
                font-size: 16px;
                line-height: 20px;
              }

              p {
                font-size: 12px;
                line-height: 15px;
                margin-top: 5px;
              }

              .stage-svg {
                margin: 0;
                width: 60px;
                height: 60px;

                svg {
                  width: 36px;
                }
              }

              .stage-number-one {
                width: 45px;
                left: 81%;
                top: 45%;
              }

              .stage-number {
                width: 60px;
                top: 45%;
              }

              .stage-arrow {
                top: 7%;
                left: 84%;
              }
            }
          }
        }
      }


    }
    .reviews {
      .reviews-bottom {
        .review-swipe {
          max-height: 500px;

          .review-comment {
            padding-top: 0;
            padding-bottom: 0;

            .review-commentTop {
              margin-top: auto;
            }
          }

          img {
            max-width: 500px;
          }
        }
      }
    }

    .houseProject {
      .swiper2Title {
        .swiper2Left {
          padding: 0;
          justify-content: center;
          display: flex;

          .swiper2LeftBlock {
            margin: 18px 40px 18px 32px;

            .swiper2LeftTop {
              h3 {
                font-size: 20px;
              }

              p {
                font-size: 14px;
              }
            }
          }
        }

        .swiper2Right {
          max-width: none;
          width: 100%;
          .swiper2RightBottom {
            padding: 0 20px;

            .swiper2Icon {
              gap: 6px;

              .project-share {
                width: 36px;

                svg {
                  width: 100%;
                }
              }

              .swiper2-button-prev {
                width: 36px;
              }

              .swiper2-button-next {
                width: 36px;
              }

              &:last-child {
                gap: 12px;
              }

              .project-link {
                gap: 15px;
              }
            }
          }
        }
      }
    }

    .why {
      .askAnswer {
        .answer {
          max-width: 450px;

          svg {
            width: 80px;
            margin: auto 0;
          }

          h2 {
            max-width: 300px;
          }
        }
      }
    }

  }
  .fancybox__container {
    .form-container {
      border-radius: 10px;

      .form-phone{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 40px;
        font-family: 'Inter', sans-serif;
        font-size: 24px;

        .form-h {
          color: #262626;
          font-size: 37px;
          line-height: 44px;
          margin-bottom: 10px;
        }

        label {
          display: grid;
          gap: 24px;
          transition: 0.2s;
          max-width: 500px;
          margin: 0 auto;

          &:hover {
            color: #FC5057;
            transition: 0.2s;
          }

          input {
            max-width: 500px;
            border-radius: 5px;
            padding: 7px 16px;
            background-color: #EEEFF4;
            color: #BFBFBF;
            border: 1px solid #BFBFBF;
            font-size: 14px;
            line-height: 24px;

          }
        }
        textarea {
          border-radius: 5px;
          padding: 12px 16px;
          background-color: #EEEFF4;
          color: #BFBFBF;
          border: 1px solid #BFBFBF;
          font-size: 14px;
          line-height: 24px;
          font-family: 'Inter', sans-serif;
          max-width: 500px;
        }
        .accept {
          display: flex;
          color: #707070;
          gap: 20px;
          max-width: 440px;
          font-size: 12px;
          line-height: 16px;
          background: none;
          transition: 0.2s;

          .check {
            width: 20px;
            height: 20px;
            border: 1px solid #ED1C24;
            border-radius: 4px;
            display: flex;
            flex-shrink: 0;

            svg {
              margin: auto auto;
            }
          }

          .accept-input {
            display: none;
          }

          .accept-input:checked + .check {
            background-color: #ED1C24;
            transition: 0.2s;
          }
        }
        .rephone {
          border: none;
          font-size: 14px;
          padding: 12px 92px;
          background-color: #ED1C24;
          border-radius: 4px;
          color: #FFFFFF;
          transition: 0.2s;
          margin: 0 auto;

          &:hover {
            background-color: #FC5057;
            color: white;
            transition: 0.2s;
          }
        }
      }
    }
    .fancyClass {
      padding: 10px;
      .swiper4slide {
        .swiper4Right {
          padding: 25px;
          gap: 30px;
          .swiper4RightTop {
            width: 350px;
            margin: 0 auto;
            gap: 15px;

          }
          .swiper4RightText {
            width: 350px;
            padding-right: 10px;
            max-height: 250px;
          }
        }
      }
    }

  }

  body > .project-main {
    .project-header {
      .container {
        .main-headerbottom {
          max-height: none;
          gap: 5px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          .project-filter-svg {
            width: 100%;
          }
          .selectType {
            border: 1px solid #D9D9D9;
            padding-left: 40px;
          }
          .duo-range {
            .duo-range-price {
              border: 1px solid #D9D9D9;

              .range-txt {
                padding: 0 40px;
              }
            }
          }
          .btn-sbm {
            margin-left: 0;
          }
        }
      }
    }
  }

  body > .card-page {
    .card-stages {
      .stages {
        .stages-img {
          .stages-svg {
            width: 230px;
            height: 230px;
            padding: 15px 15px;

            h3 {
              font-size: 16px;
              line-height: 20px;
            }

            p {
              font-size: 12px;
              line-height: 15px;
              margin-top: 5px;
            }

            .stage-svg {
              margin: 0;
              width: 60px;
              height: 60px;

              svg {
                width: 36px;
              }
            }

            .stage-number-one {
              width: 45px;
              left: 81%;
              top: 45%;
            }

            .stage-number {
              width: 60px;
              top: 45%;
            }

            .stage-arrow {
              top: 7%;
              left: 84%;
            }
          }
        }
      }
    }

    .layout-content {
      .layout-form {
        .layout-form-header {
          text-align: center;
        }
      }
    }
    .card-info {
      display: flex;
      justify-content: space-between;
      .card-info-left {
        .card-btns {
          .card-btn {
            padding: 24px 50px;
          }
        }
      }
    }
    .card-price {
      .price-btns {
        .price-btn {
          padding: 15px 0;
        }
      }
      .price-block {
        padding: 32px;
      }
      .active-price-block {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
    .card-new-project {
      padding: 40px 30px;
      margin-top: 100px;
      & > label {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .card-new-project-form {
        input {
          padding: 12px 10px 12px 16px;
        }
        button {
          padding: 12px 70px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  body > header {
    .container {
      .dropPhone {
        left: 59%;
      }
    }
  }
  .card-section {
    grid-template-columns: 1fr 1fr;

    .card {
      .card-footer {
        .project-info {
          display: flex;
        }
      }
    }
  }

  body > main {
    gap: 50px;

    .main-header {
      padding-bottom: 50px;

      .container {
        .main-headerbottom {
          max-width: 768px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 9px;
          margin: 0 auto;

          .selectType {
            height: 50px;
            padding-left: 10px;
          }

          .duo-range {
            height: 50px;

            .range-txt {
              height: 50px;
            }
          }
        }
      }
    }


    .main-video {
      padding: 0 15px;
      .container {
        padding: 0;
      }
    }
    .about-us {
      .SwiperExample {
        .container {
          padding-top: 50px;
          display: flex;
          flex-direction: column-reverse;
          gap: 0;

          .swiper-Btns {
            display: grid;
            grid-template-columns: 1fr 1fr;
            background-color: #D7B45D;
            height: 50px;
            margin-bottom: 0;

            .swiperTop-button-prev {
              cursor: pointer;
              width: 100%;
              display: flex;
              outline: none;

              svg {
                margin: 0 auto;
                height: 50px;
              }
            }

            .swiperTop-button-next {
              display: flex;
              cursor: pointer;
              width: 100%;
              outline: none;

              svg {
                margin: 0 auto;
                height: 50px;
              }
            }
          }
        }

        .swiper {
          padding: 0;
          .swiper-wrapper {
            .swiper-slide {
              display: flex;
              flex-direction: column;

              .slide-imgExample {
                height: auto;
              }

              .swiperExampleTxt {
                grid-template-rows: none;
                grid-template-columns: 1fr 1fr;

                .swiperExampleTxtTop {
                  .swiperTop {
                    .swiperExampleTop {
                      h3 {
                        font-size: 20px;
                        line-height: 31px;
                        margin: 0 auto;
                      }

                      p {
                        font-size: 12px;
                        line-height: 22px;
                        margin: 0 auto;
                      }
                    }

                    .swiperExampleBottom {
                      .swiper-sizeInfo {
                        text-align: center;

                        svg {
                          margin: 0 auto;
                          max-width: 32px;
                        }

                        .project-size {
                          font-size: 13px;
                        }

                        .project-txtSize {
                          font-size: 13px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .stages {
          padding-bottom: 50px;
          flex-direction: column;

          .stages-img {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 490px;
            margin: 50px auto 0;
          }
        }
      }


    }

    .reviews {
      .swiper4 {
        .swiper4btn {
          position: static;
          display: grid;
          grid-template-columns: 1fr 1fr;
          .swiper4-button-prev {
            width: 100%;
            margin: 0 auto;
            background-color: #303D4E;
            outline: none;
          }
          .swiper4-button-next {
            margin: 0 auto;
            background-color: #303D4E;
            width: 100%;
            outline: none;
          }
        }
        .swiper-wrapper {
          .swiper4slide {
            display: flex;
            flex-direction: column;

            .swiper4Right {
              border-top: 18px solid #ED1C24;
              border-left: none;
              padding-top: 50px;
              padding-bottom: 0;
            }
          }
        }
      }
    }

    .houseProject {
      .swiper2Title {
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .swiper2Right {
          .swiper-link {
            .swiper2 {
              .swiper-slide {
                .swiper2-img-name {
                  right: 80%;
                  margin-right: auto;
                }
              }
            }
          }
        }

        &:nth-child(even) {
          .swiper2Left {
            order: 1;
          }
        }

        &:nth-child(odd) {
          .swiper2Left {
            .swiper2Reverse {
              .swiper2LeftTop {
                text-align: start;
              }

              a {
                margin: 0 auto 0 0;
              }
            }
          }
        }

        .swiper2Left {
          .swiper2LeftBlock {
            margin: 20px auto 20px 20px;
          }
        }

        .swiper2Right {

          .swiper2RightBottom {
            height: 64px;
          }
        }

      }

      .row-2 {
        flex-direction: column-reverse;
        .swiper2Left {
          .swiper2LeftBlock {
            margin: 20px auto 20px 20px;
          }
        }
      }
    }

    .why {
      .askAnswer {
        .answer {
          margin: 0 auto;

          .answer-top {
            gap: 30px;
            margin-bottom: 10px;

            svg {
              width: 60px;
              height: 60px;
            }

            h2 {
              font-size: 18px;
              max-width: 200px;
            }
          }

          p {
            font-size: 14px;
          }
        }
      }
    }
  }
  body > footer {
    .footer-top {
      .container {
        .footer-info {
          .footer-infoArticle {
            .footer-infoLink {
              font-size: 12px;
              line-height: 15px;
            }
          }

          .form-mail {
            .form-mailabel {
              font-size: 12px;
              line-height: 12px;

              .form-mailInp {
                font-size: 12px;
                line-height: 16px;
                padding-bottom: 7px;
              }
            }

            .btn-mail {
              padding: 6px 11px;
              font-size: 12px;
              line-height: 7px;
            }
          }
        }
      }
    }
  }
  .aboutMain {
    gap: 50px;
  }
  body {
    overflow: auto;
  }

  body > .card-page {
    .card-stages {
      .stages {
        padding-bottom: 50px;
        flex-direction: column;

        .stages-img {
          display: grid;
          grid-template-columns: 1fr 1fr;
          width: 490px;
          margin: 50px auto 0;
        }
      }
    }
    .card-info {
      display: flex;
      flex-direction: column;
      .card-info-right {
        transform: translateY(0);
      }
    }
    .project-layout {
      margin-top: 100px;
      .layout-content {
        .layout-form {
          padding: 30px 60px;
        }
      }
    }
    .card-price {
      .price-btns {
        .price-btn {
          width: 160px;
        }
      }
      .price-block {
        display: none;
      }
      .active-price-block {
        display: flex;
        flex-direction: column;
        .price-block-left {
          max-width: none;
        }
        .price-block-right {
          .price-block-right-top {
            .price-block-right-form {
              justify-content: space-between;
            }
          }
        }
      }
    }
  }

  .fancybox__container {
    .form-container {
      border-radius: 10px;

      .form-phone{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 40px;
        font-family: 'Inter', sans-serif;
        font-size: 24px;

        .form-h {
          color: #262626;
          font-size: 37px;
          line-height: 44px;
          margin-bottom: 10px;
        }

        label {
          display: grid;
          gap: 24px;
          transition: 0.2s;
          max-width: 500px;
          margin: 0 auto;

          &:hover {
            color: #FC5057;
            transition: 0.2s;
          }

          input {
            max-width: 500px;
            border-radius: 5px;
            padding: 7px 16px;
            background-color: #EEEFF4;
            color: #BFBFBF;
            border: 1px solid #BFBFBF;
            font-size: 14px;
            line-height: 24px;

          }
        }
        textarea {
          border-radius: 5px;
          padding: 12px 16px;
          background-color: #EEEFF4;
          color: #BFBFBF;
          border: 1px solid #BFBFBF;
          font-size: 14px;
          line-height: 24px;
          font-family: 'Inter', sans-serif;
          max-width: 500px;
        }
        .accept {
          display: flex;
          color: #707070;
          gap: 20px;
          max-width: 440px;
          font-size: 12px;
          line-height: 16px;
          background: none;
          transition: 0.2s;

          .check {
            width: 20px;
            height: 20px;
            border: 1px solid #ED1C24;
            border-radius: 4px;
            display: flex;
            flex-shrink: 0;

            svg {
              margin: auto auto;
            }
          }

          .accept-input {
            display: none;
          }

          .accept-input:checked + .check {
            background-color: #ED1C24;
            transition: 0.2s;
          }
        }
        .rephone {
          border: none;
          font-size: 14px;
          padding: 12px 92px;
          background-color: #ED1C24;
          border-radius: 4px;
          color: #FFFFFF;
          transition: 0.2s;
          margin: 0 auto;

          &:hover {
            background-color: #FC5057;
            color: white;
            transition: 0.2s;
          }
        }
      }
    }
    .fancyClass {
      padding: 10px;
      .swiper4slide {
        display: flex;
        flex-direction: column;

        .swiper4Right {
          border-top: 18px solid #ED1C24;
          border-left: none;
          padding-top: 50px;
          padding-bottom: 0;
        }
      }
    }

  }
}

@media screen and (max-width: 900px) {
  body > header {
    .container {
      .dropPhone {
        left: 55%;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  body > header {
    .container {
      .dropPhone {
        left: 51%;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  body > header {
    .container {
      .dropPhone {
        left: 48%;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .phone-menu-active {
    overflow: hidden;
  }
  .container {
    width: 100%;
  }

  body > header {
    position: fixed;
    width: 100%;
    z-index: 1001;
    .container {
      padding: 0;
      .logo-page {
        padding: 0 15px;

        .open-cursor {
          transform: rotate(0);
        }

        #DropButton {
          transform: scale(-1, 1);
          order: 5;
          margin-right: 0;
          width: 35px;
          height: 35px;
          svg {
            width: 35px;
            height: 35px;
          }
        }
        .logo-svg {
          margin-left: 0;
        }
        .w-786 {
          display: block;

          svg {
            fill: #969BAB;
            width: 26px;
          }
        }

        .phone {
          display: none;
        }

        .login {
          display: none;
        }

        .search {
          display: none;
        }
      }

      .drop {
        display: none;
      }
    }

    .dropPhone2 {
      display: grid;
    }

    .phone-header {
      display: grid;
      grid-template-columns: 300px 1fr;
      transition: 0.3s;

      .phone-menu {
        width: 50%;
      }

      .open {
        transition: 0.4s;
      }

      .open-cursor {
        transform: rotate(180deg);
        transition: 0.4s;
      }
    }

    .phone-header-active {
      transform: translate(0%);
      transition: 0.3s;
    }

    .container {
      .dropPhone {
        display: none;
      }
    }
  }
  body > main {
    .card-section {
      max-width: 600px;
      margin: 0 auto;
      grid-template-columns: 1fr 1fr;

      .card {
        max-width: 290px;

        .project-name {
          padding: 10px;

          .project-h {
            font-size: 17px;
          }
        }

        .project-nametxt {
          font-size: 12px;
          padding: 2px 12px;
        }

        .card-footer {
          padding: 12px;

          .project-info {
            grid-template-columns: 43px 67px 77px;

            .project-infoRow {
              gap: 0;

              svg {
                margin-bottom: 8px;
              }

              .project-size {
                font-size: 12px;
                display: block;
                line-height: 17px;
              }

              .project-txtSize {
                font-size: 12px;
                margin-top: auto;
              }
            }
          }

          .project-footer {
            .project-footerInfo {
              .project-type {
                font-size: 13px;
              }

              .project-summ {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
    .where-top {
      margin-top: 100px;
    }
    .top5-block {
      .top5-block-list {
        padding: 12px 8px;
        .top5-block-list-button {
          font-size: 12px;
          svg {
            width: 20px;
            height: 20px;
            flex-shrink: 0;
          }
        }
        .top5-block-list-p {
          font-size: 12px;
        }
      }
    }
    .main-header {
      .container {
        .main-headerbottom {
          display: grid;
          grid-template-columns: none;
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
          gap: 9px;
          max-height: 1000px;
          margin: 0 auto;
        }
        .main-headertop {
          margin-top: 50px;
          font-size: 37px;
          line-height: 44px;
        }
      }
    }

    .main-video {
      .container {
        .video-player {
          padding: 70px;
        }
      }
    }

    .about-us {
      .SwiperExample {
        .swiper {
          .swiper-wrapper {
            .swiper-slide {
              .swiperExampleTxt {
                grid-template-rows: 1fr 1fr;
                grid-template-columns: none;

                .swiperExampleTxtTop {
                  .swiperTop {
                    margin: 25px auto;
                    gap: 25px;

                    .swiperExampleTop {
                      gap: 10px;

                      h3 {
                        font-size: 20px;
                        line-height: 31px;
                        margin: 0 auto;
                      }

                      p {
                        font-size: 12px;
                        line-height: 22px;
                        margin: 0 auto;
                      }
                    }

                    .swiperExampleBottom {
                      .swiper-sizeInfo {
                        text-align: center;

                        svg {
                          margin: 0 auto;
                          max-width: 32px;
                        }

                        .project-size {
                          font-size: 13px;
                        }

                        .project-txtSize {
                          font-size: 13px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .stages {
          .stages-img {
            flex-wrap: wrap;
            padding: 0 10px;
            justify-content: center;
          }
        }
      }


    }

    .houseProject {
      .swiper2Title {
        .swiper2Left {
          .swiper2LeftBlock {
            gap: 35px;
            .swiper2LeftTop {
              gap: 15px;
            }
          }
        }
      }
    }
  }

  body > .card-page {
    .card-stages {
      .stages {
        .stages-img {
          flex-wrap: wrap;
          padding: 0 10px;
          justify-content: center;
        }
      }
    }
    .card-top {
      .swiper5box {
        margin-bottom: 50px;
        margin-top: 80px;
      }
    }
  }
  body > footer {
    .footer-top {
      .container {
        .footer-info {
          gap: 100px;
          justify-content: center;

          .footer-infoArticle {
            display: none;
          }
        }
      }
    }
  }
  body > .project-main {
    .where-top {
      margin-top: 80px;
    }
    .project-header {
      .container {
        .main-headertop {
          font-size: 37px;
          line-height: 44px;
        }
        .project-headertop-txt {
          font-size: 16px;
          line-height: 27px;
          width: 100%;
        }
        .main-headerbottom {
          grid-template-columns: 1fr;

          .duo-range {
            .duo-range-price {
              .range-txt {
                .txt-between {
                  max-width: 85px;
                }
              }
            }
          }
          .range-square {
            .duo-range-price {
              .range-txt {
                .txt-between {
                  max-width: 40px;
                }
              }
            }
          }
        }
      }
    }
  }
  body > .aboutMain {
    gap: 50px;
    display: flex;
    flex-direction: column;
    .aboutHead {
      .header-about-text {
        font-size: 37px;
        line-height: 44px;
        padding-bottom: 25px;
      }
      .header-about-text2 {
        font-size: 25px;
        line-height: 32px;
        padding-bottom: 25px;
      }
    }
    .aboutText {
      grid-template-columns: 1fr;
      gap: 25px;
      .about-text {
        font-size: 16px;
        line-height: 27px;
      }
    }
    .about-img {
      display: flex;
      flex-direction: column;
      .about-img-right {
        display: flex;
        flex-direction: column;
      }
    }
    .about-what {
      gap: 25px;
      display: flex;
      flex-direction: column;
      .about-what2 {
        .about-what-text {
          font-size: 13px;
          line-height: 25px;
        }
      }
    }
    .about-us2 {
      max-width: 320px;
      .about-us2-h3 {
        font-size: 20px;
        line-height: 25px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  body > main {

    .card-section {
      grid-template-columns: 1fr;

      .card {
        width: 100%;
        max-width: none;
        .project {
          margin-left: auto;
          margin-right: auto;
          width: 100%;
          object-fit: cover;
          max-height: 273px;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          transition: 0.2s;
        }

        .project-name {
          display: flex;
          gap: 40px;
          padding: 22px;
          justify-content: space-between;

          .project-h {
            font-size: 29px;
            line-height: 40px;
          }
        }

        .project-nametxt {
          font-size: 16px;
          color: #18191F;
          line-height: 27px;
          padding: 2px 22px;
        }

        .card-footer {
          display: grid;
          margin-top: auto;
          padding: 22px;
          .project-info {
            display: flex;
            justify-content: flex-start;
            gap: 40px;
          }

          .project-border {
            margin: 36px 0 16px 0;
            border-bottom: 2px solid #969BAB;
          }

          .project-footer {
            display: grid;
            gap: 8px;

            .project-footerInfo {
              display: flex;
              justify-content: space-between;

              .project-type {
                font-size: 16px;
                line-height: 27px;
                color: #18191F;
              }

              .project-summ {
                font-weight: bold;
                font-size: 24px;
                line-height: 32px;
                color: #474A57;
              }
            }
          }
        }
      }
    }

    .top5-block {
      .top5-block-list {
        .top5-block-list-button {
          gap: 10px;
        }
      }
    }

    .main-video {
      .container {
        .imgVideo {
          display: none;
        }
        .video-player {
          padding: 45px 201px 70px 43px;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  body > header {
    .container {
      .logo-page {
        gap: 20px;

        #DropButton {
          order: 5;
          svg {
            width: 30px;
            height: 30px;
          }
        }

        .logo-svg {
          svg {
            width: 100px;
          }
        }

        .w-786 {
          display: block;
          width: 25px;

          svg {
            fill: #969BAB;
            width: 30px;
          }
        }

        .like {
          svg {
            width: 20px;
          }

          .heart {
            width: 11px;
            height: 11px;
            font-size: 7px;
            line-height: 1;
          }
        }
      }
    }

    .phone-header {
      .phone-menu {
        width: 100%;
      }
    }
  }
  .fancybox__container {
    .form-container {
      border-radius: 10px;

      .form-phone{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 40px;
        font-family: 'Inter', sans-serif;
        font-size: 24px;

        .form-h {
          color: #262626;
          font-size: 37px;
          line-height: 44px;
          margin-bottom: 10px;
        }

        label {
          display: grid;
          gap: 24px;
          transition: 0.2s;
          max-width: 500px;
          margin: 0 auto;

          &:hover {
            color: #FC5057;
            transition: 0.2s;
          }

          input {
            max-width: 500px;
            border-radius: 5px;
            padding: 7px 16px;
            background-color: #EEEFF4;
            color: #BFBFBF;
            border: 1px solid #BFBFBF;
            font-size: 14px;
            line-height: 24px;

          }
        }
        textarea {
          border-radius: 5px;
          padding: 12px 16px;
          background-color: #EEEFF4;
          color: #BFBFBF;
          border: 1px solid #BFBFBF;
          font-size: 14px;
          line-height: 24px;
          font-family: 'Inter', sans-serif;
          max-width: 500px;
        }
        .accept {
          display: flex;
          color: #707070;
          gap: 20px;
          max-width: 440px;
          font-size: 12px;
          line-height: 16px;
          background: none;
          transition: 0.2s;

          .check {
            width: 20px;
            height: 20px;
            border: 1px solid #ED1C24;
            border-radius: 4px;
            display: flex;
            flex-shrink: 0;

            svg {
              margin: auto auto;
            }
          }

          .accept-input {
            display: none;
          }

          .accept-input:checked + .check {
            background-color: #ED1C24;
            transition: 0.2s;
          }
        }
        .rephone {
          border: none;
          font-size: 14px;
          padding: 12px 92px;
          background-color: #ED1C24;
          border-radius: 4px;
          color: #FFFFFF;
          transition: 0.2s;
          margin: 0 auto;

          &:hover {
            background-color: #FC5057;
            color: white;
            transition: 0.2s;
          }
        }
      }
    }
    .fancyClass {
      padding: 10px;
      .swiper4slide {
        display: flex;
        flex-direction: column;

        .swiper4Right {
          padding-top: 25px;
          padding-bottom: 0;

          .swiper4RightTop {
            gap: 10px;

            h3 {
              font-size: 20px;
              line-height: 20px;
            }

            h5 {
              font-size: 12px;
              line-height: 24px;
            }
          }
        }

        .swiper4RightText {
          width: 300px;
          height: 200px;
          font-size: 12px;
          line-height: 22px;

          .review-link {
            font-size: 16px;
          }
        }
      }
    }

  }

  body > .card-page {
    .card-stages {
      .stages {
        padding-top: 25px;
        display: grid;
        gap: 0;

        .stages-top {
          h2 {
            font-size: 20px;
            line-height: 23px;
          }

          p {
            font-size: 12px;
            line-height: 21px;
          }
        }
        .stages-img {
          width: auto;
          grid-template-columns: 1fr;
        }
      }
    }
  }
  body > main {
    .main-header {
      .container {
        gap: 50px;

        .main-headertop {
          max-width: 290px;
          font-size: 20px;
          line-height: 23px;
        }

        .main-headerbottom {
          gap: 10px;

          .selectType {
            max-width: none;
            width: 100%;
            height: 45px;
            font-size: 13px;
            padding-left: 10px;
          }

          .noUi-base, .noUi-connects {
            width: 100%;
          }

          .duo-range {
            max-width: none;
            display: grid;
            height: 45px;
            width: 100%;

            .range-txt {
              max-width: none;
              height: 45px;

              .rangetext {
                font-size: 13px;
              }

              .txt-between {
                font-size: 13px;
              }
            }
          }

          .btn-sbm {
            height: 45px;
          }
        }
      }
    }

    .main {
      .main-top {
        .main-topHeader {
          .build-logo {
            h2 {
              font-size: 20px;
              line-height: 23px;
            }

            p {
              font-size: 14px;
              line-height: 21px;
            }
          }
        }
      }

      .card-pagination {
        gap: 5px;
        li {
          width: 24px;
          height: 24px;
          font-weight: 700;
          font-size: 12px;
        }

        .page-btn {
          width: 24px;
          height: 24px;
          font-size: 12px;
        }
      }
    }

    .main-video {
      .container {
        .video-player {
          padding: 20px;
          gap: 50px;
        }
      }
    }

    .about-us {
      .about-container {
        .about-txt {
          font-size: 20px;
          line-height: 23px;
        }

        .about-ustxt {
          font-size: 14px;
          line-height: 21px;
        }
      }

      .SwiperExample {
        .container {
          display: flex;
          flex-direction: column-reverse;
          gap: 0;

          .swiper {
            .swiper-wrapper {
              .swiper-slide {
                .swiperExampleTxt {
                  display: flex;
                  flex-direction: column;
                  .swiperExampleTxtBottom {
                    padding: 25px 0;
                  }
                }
              }
            }
          }

          .swiper-Btns {
            display: grid;
            grid-template-columns: 1fr 1fr;
            background-color: #D7B45D;
            height: 36px;

            .swiperTop-button-prev {
              cursor: pointer;
              width: 100%;
              display: flex;
              outline: none;

              svg {
                margin: 0 auto;
                height: 36px;
              }
            }

            .swiperTop-button-next {
              display: flex;
              cursor: pointer;
              width: 100%;
              outline: none;

              svg {
                margin: 0 auto;
                height: 36px;
              }
            }
          }
        }

        .swiper {
          padding-top: 0;

          .swiper-wrapper {
            .slide-box {
              .swiperExampleTxt {
                .swiperExampleTxtTop {
                  .swiperTop {
                    margin: 0;
                    gap: 30px;
                    padding: 20px 15px;

                    .swiperExampleTop {
                      gap: 12px;

                      h3 {
                        font-size: 17px;
                        line-height: 20px;
                      }

                      p {
                        font-size: 12px;
                        line-height: 12px;
                      }
                    }

                    .swiperExampleBottom {
                      padding: 0 10px;
                      justify-content: space-around;

                      .swiper-sizeInfo {
                        svg {
                          max-height: 36px;
                        }

                        .project-size {
                          font-size: 12px;
                        }

                        .project-txtSize {
                          font-size: 12px;
                        }
                      }
                    }
                  }
                }

                .swiperExampleTxtBottom {
                  .swiperButton {
                    .swiperMore {
                      padding: 6px 100px;
                      font-size: 12px;
                    }

                    .swiperTel {
                      font-size: 12px;
                      padding: 5px 100px;
                    }
                  }
                }
              }
            }
          }
        }

        .stages {
          padding-top: 25px;
          display: grid;
          gap: 0;

          .stages-top {
            h2 {
              font-size: 20px;
              line-height: 23px;
            }

            p {
              font-size: 12px;
              line-height: 21px;
            }
          }
          .stages-img {
            width: auto;
            grid-template-columns: 1fr;
          }
        }
      }
    }
    .houseProject {
      .house-projectHeader {
        text-align: center;

        h2 {
          font-size: 20px;
          line-height: 23px;
        }

        p {
          font-size: 14px;
          line-height: 21px;
        }
      }

      .swiper2Title {
        .swiper2Left {
          .swiper2LeftBlock {
            .swiper2LeftTop {
              max-width: 255px;

              h3 {
                font-size: 15px;
              }

              p {
                font-size: 14px;
                line-height: 18px;
              }
            }

            a {
              font-size: 14px;
              padding: 4px 28px;
            }
          }
        }
        &:nth-child(odd) {
          .swiper2Right {
            .swiper-link {
              .swiper2 {
                .swiper-slide {
                  .swiper2-img-name {
                    font-size: 12px;
                    right: 70%;
                  }
                }
              }
            }
          }
        }
        &:nth-child(even) {
          .swiper2Right {
            .swiper-link {
              .swiper2 {
                .swiper-slide {
                  .swiper2-img-name {
                    font-size: 12px;
                    right: 70%;
                  }
                }
              }
            }
          }
        }

        .swiper2Right {
          .swiper2RightBottom {
            padding: 0 10px;

            .swiper2Icon {
              .swiper2-button-prev {
                width: 30px;
                height: auto;
              }
              .swiper2-button-next {
                width: 30px;
                height: auto;
              }
              .project-share {
                width: 30px;
                height: auto;
              }
              .project-link {
                margin-left: 5px;
                .btn-share {
                  svg {
                    width: 25px;
                    height: auto;
                  }
                }
              }
            }
          }
        }
      }

      .swiper2WatchMore {
        font-size: 12px;
        padding: 10px 30px;
      }
    }

    .why {
      gap: 25px;
      .whyAsk {
        h2 {
          font-size: 20px;
          line-height: 23px;
        }

        p {
          font-size: 14px;
          line-height: 21px;
        }

      }
      .askAnswer {
        gap: 25px;
        .answer {
          .answer-top {
            h2 {
              font-size: 17px;
            }
          }

          p {
            font-size: 13px;
          }
        }
      }
    }

    .reviews {
      .reviews-header {
        h2 {
          font-size: 20px;
          line-height: 23px;
        }

        p {
          font-size: 14px;
          line-height: 21px;
        }
      }

      .swiper4 {
        .swiper4btn {
          .swiper4-button-next {
            height: 36px;
          }

          .swiper4-button-prev {
            height: 36px;
          }
        }
        .swiper-wrapper {
          .swiper4slide {
            display: flex;
            flex-direction: column;

            .swiper4Right {
              padding-top: 25px;
              padding-bottom: 0;
              gap: 30px;

              .swiper4RightTop {
                gap: 10px;

                h3 {
                  font-size: 20px;
                  line-height: 20px;
                }

                h5 {
                  font-size: 12px;
                  line-height: 24px;
                }
              }
              .swiper4RightText {
                height: 180px;
              }
            }

            .swiper4RightText {
              width: 300px;
              font-size: 12px;
              line-height: 22px;

              .review-link {
                font-size: 16px;
              }
            }
          }
        }
      }
      .review {
        font-size: 12px;
        padding: 5px 23px;
      }
    }
  }
  body > footer {
    .footer-top {
      .container {
        padding-bottom: 0;

        .footer-info {
          display: flex;

          .form-mail {
            margin: 0 auto;

            .form-mailabel {
              font-size: 14px;
              line-height: 24px;

              .form-mailInp {
                font-size: 14px;
                line-height: 24px;
              }
            }

            .btn-mail {
              margin-right: auto;
              font-size: 14px;
              line-height: 13px;
              padding: 8px 16px;
            }
          }

          .btn-up {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 440px) {
  body > .project-main {
    .project-header {
      .container {
        .main-headerbottom {
          .btn-sbm {
            width: 100%;
            padding: 12px 0;
          }
          .duo-range {
            .duo-range-price {
              .range-txt {
                &:nth-child(even) {
                  padding: 0 20px 0 10px;
                }
                &:nth-child(odd) {
                  padding: 0 10px 0 40px;
                }
              }
            }
          }
        }
      }
    }
  }
  .fancybox__container {
    .fancyClass {
      .swiper4slide {
        width: 100%;
        .swiper4Right {
          width: 100%;
          .swiper4RightTop {
            width: 100%;
          }
          .swiper4RightText {
            max-width: 250px;
            width: 100%;
          }
        }
      }
    }
    .form-container {
      padding: 10px;
      .form-phone {
        .form-h {
          font-size: 25px;
        }
      }
    }
  }
  body > main {
    .card-section {
      max-width: none;
      grid-template-columns: 1fr;

      .card {
        max-width: none;

        .project-name {
          padding: 5px 10px;
          align-items: center;

          .project-h {
            font-size: 17px;
            line-height: 24px;
          }
        }

        .project-nametxt {
          font-size: 12px;
          padding: 2px 12px;
          margin-bottom: 8px;
        }

        .card-footer {
          padding: 12px;

          .project-info {
            grid-template-columns: 43px 67px 77px;

            .project-infoRow {
              gap: 0;

              svg {
                margin-bottom: 8px;
              }

              .project-size {
                font-size: 12px;
                display: block;
                line-height: 15px;
                margin-bottom: 5px;
              }

              .project-txtSize {
                font-size: 12px;
                line-height: 15px;
                margin-top: auto;
              }
            }
          }

          .project-border {
            margin: 22px 0 12px 0;
          }

          .project-footer {
            gap: 12px;
            .project-footerInfo {
              .project-type {
                font-size: 13px;
                line-height: 16px;
              }

              .project-summ {
                font-size: 15px;
                line-height: 18px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 356px) {
  .container {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 0 10px;
    min-width: 300px;
  }
  body > header {
    .container {
      padding: 0;
      max-width: none;
    }
  }

  body > .project-main {
    .project-header {
      .container {
        .main-headerbottom {
          gap: 10px;
          .duo-range {
            .duo-range-price {
              .range-txt {
                padding: 0 10px 0 25px;
              }
            }
          }
          .selectType {
            padding-left: 25px;
          }
          .project-filter-svg {
            .selectType {
              padding-left: 25px;
            }
            .filter-svg {
              left: 5px;
            }
          }
        }
      }
    }
  }

  body > main {
    .main-video {
      padding: 0 10px;
      .container {
        .video-player {
          padding: 30px 10px 30px 10px;
        }
      }
    }
    .about-us {
      .SwiperExample {
        .swiper {
          .swiper-wrapper {
            .slide-box {
              .swiperExampleTxt {
                .swiperExampleTxtBottom {
                  .swiperButton {
                    .swiperMore {
                      padding: 6px 75px;
                    }
                    .swiperTel {
                      padding: 5px 75px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .reviews {
      .swiper4 {
        .swiper-wrapper {
          .swiper4slide {
            .swiper4Right {
              padding-top: 25px;
              gap: 35px;
              .swiper4RightText {
                height: auto;
                .review-link {
                  margin: 25px auto;
                }
                .txt-Content {
                  padding: 0 20px;
                }
              }
            }
          }
        }
      }
    }
    .main {
      .card-pagination {
        justify-content: center;
      }
    }
  }
}