@media screen and (max-width: 1300px) {
  .container {
    max-width: 992px;
    width: 100%;
    padding: 0 15px;
  }

  body > header .container .dropPhone {
    left: 59%;
  }

  body > main .main-header .container .main-headerbottom {
    max-height: none;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
  }
  body > main .main-header .container .main-headerbottom .selectType {
    max-height: 72px;
    height: 50px;
    width: 100%;
    outline: none;
    padding: 0 16px;
  }
  body > main .main-header .container .main-headerbottom .selectType:nth-child(1) {
    border-radius: 0;
  }
  body > main .main-header .container .main-headerbottom .duo-range {
    height: 50px;
  }
  body > main .main-header .container .main-headerbottom .duo-range .noUi-horizontal {
    height: 0;
  }
  body > main .main-header .container .main-headerbottom .duo-range .range-txt {
    max-height: 72px;
    height: 50px;
  }
  body > main .main-header .container .main-headerbottom .duo-range .range-txt .txt-between {
    height: 100%;
  }
  body > main .main-header .container .main-headerbottom .duo-range .slider {
    width: 100%;
  }
  body > main .main-header .container .main-headerbottom .btn-sbm {
    max-height: 72px;
    height: 100%;
    border-radius: 0;
  }
  body > main .main .main-top .main-topHeader {
    gap: 0;
  }
  body > main .main .main-top .main-topHeader button {
    padding: 0;
  }
  body > main .card-section {
    max-width: 840px;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
  body > main .card-section .card {
    margin-left: auto;
    margin-right: auto;
  }
  body > main .about-us .SwiperExample .swiper {
    padding-left: 0;
    padding-right: 0;
  }
  body > main .about-us .SwiperExample .stages .stages-img .stages-svg {
    width: 230px;
    height: 230px;
    padding: 15px 15px;
  }
  body > main .about-us .SwiperExample .stages .stages-img .stages-svg h3 {
    font-size: 16px;
    line-height: 20px;
  }
  body > main .about-us .SwiperExample .stages .stages-img .stages-svg p {
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;
  }
  body > main .about-us .SwiperExample .stages .stages-img .stages-svg .stage-svg {
    margin: 0;
    width: 60px;
    height: 60px;
  }
  body > main .about-us .SwiperExample .stages .stages-img .stages-svg .stage-svg svg {
    width: 36px;
  }
  body > main .about-us .SwiperExample .stages .stages-img .stages-svg .stage-number-one {
    width: 45px;
    left: 81%;
    top: 45%;
  }
  body > main .about-us .SwiperExample .stages .stages-img .stages-svg .stage-number {
    width: 60px;
    top: 45%;
  }
  body > main .about-us .SwiperExample .stages .stages-img .stages-svg .stage-arrow {
    top: 7%;
    left: 84%;
  }
  body > main .reviews .reviews-bottom .review-swipe {
    max-height: 500px;
  }
  body > main .reviews .reviews-bottom .review-swipe .review-comment {
    padding-top: 0;
    padding-bottom: 0;
  }
  body > main .reviews .reviews-bottom .review-swipe .review-comment .review-commentTop {
    margin-top: auto;
  }
  body > main .reviews .reviews-bottom .review-swipe img {
    max-width: 500px;
  }
  body > main .houseProject .swiper2Title .swiper2Left {
    padding: 0;
    justify-content: center;
    display: flex;
  }
  body > main .houseProject .swiper2Title .swiper2Left .swiper2LeftBlock {
    margin: 18px 40px 18px 32px;
  }
  body > main .houseProject .swiper2Title .swiper2Left .swiper2LeftBlock .swiper2LeftTop h3 {
    font-size: 20px;
  }
  body > main .houseProject .swiper2Title .swiper2Left .swiper2LeftBlock .swiper2LeftTop p {
    font-size: 14px;
  }
  body > main .houseProject .swiper2Title .swiper2Right {
    max-width: none;
    width: 100%;
  }
  body > main .houseProject .swiper2Title .swiper2Right .swiper2RightBottom {
    padding: 0 20px;
  }
  body > main .houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon {
    gap: 6px;
  }
  body > main .houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .project-share {
    width: 36px;
  }
  body > main .houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .project-share svg {
    width: 100%;
  }
  body > main .houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .swiper2-button-prev {
    width: 36px;
  }
  body > main .houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .swiper2-button-next {
    width: 36px;
  }
  body > main .houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon:last-child {
    gap: 12px;
  }
  body > main .houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .project-link {
    gap: 15px;
  }
  body > main .why .askAnswer .answer {
    max-width: 450px;
  }
  body > main .why .askAnswer .answer svg {
    width: 80px;
    margin: auto 0;
  }
  body > main .why .askAnswer .answer h2 {
    max-width: 300px;
  }

  .fancybox__container .form-container {
    border-radius: 10px;
  }
  .fancybox__container .form-container .form-phone {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 40px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
  }
  .fancybox__container .form-container .form-phone .form-h {
    color: #262626;
    font-size: 37px;
    line-height: 44px;
    margin-bottom: 10px;
  }
  .fancybox__container .form-container .form-phone label {
    display: grid;
    gap: 24px;
    transition: 0.2s;
    max-width: 500px;
    margin: 0 auto;
  }
  .fancybox__container .form-container .form-phone label:hover {
    color: #FC5057;
    transition: 0.2s;
  }
  .fancybox__container .form-container .form-phone label input {
    max-width: 500px;
    border-radius: 5px;
    padding: 7px 16px;
    background-color: #EEEFF4;
    color: #BFBFBF;
    border: 1px solid #BFBFBF;
    font-size: 14px;
    line-height: 24px;
  }
  .fancybox__container .form-container .form-phone textarea {
    border-radius: 5px;
    padding: 12px 16px;
    background-color: #EEEFF4;
    color: #BFBFBF;
    border: 1px solid #BFBFBF;
    font-size: 14px;
    line-height: 24px;
    font-family: "Inter", sans-serif;
    max-width: 500px;
  }
  .fancybox__container .form-container .form-phone .accept {
    display: flex;
    color: #707070;
    gap: 20px;
    max-width: 440px;
    font-size: 12px;
    line-height: 16px;
    background: none;
    transition: 0.2s;
  }
  .fancybox__container .form-container .form-phone .accept .check {
    width: 20px;
    height: 20px;
    border: 1px solid #ED1C24;
    border-radius: 4px;
    display: flex;
    flex-shrink: 0;
  }
  .fancybox__container .form-container .form-phone .accept .check svg {
    margin: auto auto;
  }
  .fancybox__container .form-container .form-phone .accept .accept-input {
    display: none;
  }
  .fancybox__container .form-container .form-phone .accept .accept-input:checked + .check {
    background-color: #ED1C24;
    transition: 0.2s;
  }
  .fancybox__container .form-container .form-phone .rephone {
    border: none;
    font-size: 14px;
    padding: 12px 92px;
    background-color: #ED1C24;
    border-radius: 4px;
    color: #FFFFFF;
    transition: 0.2s;
    margin: 0 auto;
  }
  .fancybox__container .form-container .form-phone .rephone:hover {
    background-color: #FC5057;
    color: white;
    transition: 0.2s;
  }
  .fancybox__container .fancyClass {
    padding: 10px;
  }
  .fancybox__container .fancyClass .swiper4slide .swiper4Right {
    padding: 25px;
    gap: 30px;
  }
  .fancybox__container .fancyClass .swiper4slide .swiper4Right .swiper4RightTop {
    width: 350px;
    margin: 0 auto;
    gap: 15px;
  }
  .fancybox__container .fancyClass .swiper4slide .swiper4Right .swiper4RightText {
    width: 350px;
    padding-right: 10px;
    max-height: 250px;
  }

  body > .project-main .project-header .container .main-headerbottom {
    max-height: none;
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  body > .project-main .project-header .container .main-headerbottom .project-filter-svg {
    width: 100%;
  }
  body > .project-main .project-header .container .main-headerbottom .selectType {
    border: 1px solid #D9D9D9;
    padding-left: 40px;
  }
  body > .project-main .project-header .container .main-headerbottom .duo-range .duo-range-price {
    border: 1px solid #D9D9D9;
  }
  body > .project-main .project-header .container .main-headerbottom .duo-range .duo-range-price .range-txt {
    padding: 0 40px;
  }
  body > .project-main .project-header .container .main-headerbottom .btn-sbm {
    margin-left: 0;
  }

  body > .card-page .card-stages .stages .stages-img .stages-svg {
    width: 230px;
    height: 230px;
    padding: 15px 15px;
  }
  body > .card-page .card-stages .stages .stages-img .stages-svg h3 {
    font-size: 16px;
    line-height: 20px;
  }
  body > .card-page .card-stages .stages .stages-img .stages-svg p {
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;
  }
  body > .card-page .card-stages .stages .stages-img .stages-svg .stage-svg {
    margin: 0;
    width: 60px;
    height: 60px;
  }
  body > .card-page .card-stages .stages .stages-img .stages-svg .stage-svg svg {
    width: 36px;
  }
  body > .card-page .card-stages .stages .stages-img .stages-svg .stage-number-one {
    width: 45px;
    left: 81%;
    top: 45%;
  }
  body > .card-page .card-stages .stages .stages-img .stages-svg .stage-number {
    width: 60px;
    top: 45%;
  }
  body > .card-page .card-stages .stages .stages-img .stages-svg .stage-arrow {
    top: 7%;
    left: 84%;
  }
  body > .card-page .layout-content .layout-form .layout-form-header {
    text-align: center;
  }
  body > .card-page .card-info {
    display: flex;
    justify-content: space-between;
  }
  body > .card-page .card-info .card-info-left .card-btns .card-btn {
    padding: 24px 50px;
  }
  body > .card-page .card-price .price-btns .price-btn {
    padding: 15px 0;
  }
  body > .card-page .card-price .price-block {
    padding: 32px;
  }
  body > .card-page .card-price .active-price-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  body > .card-page .card-new-project {
    padding: 40px 30px;
    margin-top: 100px;
  }
  body > .card-page .card-new-project > label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body > .card-page .card-new-project .card-new-project-form input {
    padding: 12px 10px 12px 16px;
  }
  body > .card-page .card-new-project .card-new-project-form button {
    padding: 12px 70px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  body > header .container .dropPhone {
    left: 59%;
  }

  .card-section {
    grid-template-columns: 1fr 1fr;
  }
  .card-section .card .card-footer .project-info {
    display: flex;
  }

  body > main {
    gap: 50px;
  }
  body > main .main-header {
    padding-bottom: 50px;
  }
  body > main .main-header .container .main-headerbottom {
    max-width: 768px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9px;
    margin: 0 auto;
  }
  body > main .main-header .container .main-headerbottom .selectType {
    height: 50px;
    padding-left: 10px;
  }
  body > main .main-header .container .main-headerbottom .duo-range {
    height: 50px;
  }
  body > main .main-header .container .main-headerbottom .duo-range .range-txt {
    height: 50px;
  }
  body > main .main-video {
    padding: 0 15px;
  }
  body > main .main-video .container {
    padding: 0;
  }
  body > main .about-us .SwiperExample .container {
    padding-top: 50px;
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
  }
  body > main .about-us .SwiperExample .container .swiper-Btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #D7B45D;
    height: 50px;
    margin-bottom: 0;
  }
  body > main .about-us .SwiperExample .container .swiper-Btns .swiperTop-button-prev {
    cursor: pointer;
    width: 100%;
    display: flex;
    outline: none;
  }
  body > main .about-us .SwiperExample .container .swiper-Btns .swiperTop-button-prev svg {
    margin: 0 auto;
    height: 50px;
  }
  body > main .about-us .SwiperExample .container .swiper-Btns .swiperTop-button-next {
    display: flex;
    cursor: pointer;
    width: 100%;
    outline: none;
  }
  body > main .about-us .SwiperExample .container .swiper-Btns .swiperTop-button-next svg {
    margin: 0 auto;
    height: 50px;
  }
  body > main .about-us .SwiperExample .swiper {
    padding: 0;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .swiper-slide {
    display: flex;
    flex-direction: column;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .swiper-slide .slide-imgExample {
    height: auto;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .swiper-slide .swiperExampleTxt {
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .swiper-slide .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleTop h3 {
    font-size: 20px;
    line-height: 31px;
    margin: 0 auto;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .swiper-slide .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleTop p {
    font-size: 12px;
    line-height: 22px;
    margin: 0 auto;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .swiper-slide .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleBottom .swiper-sizeInfo {
    text-align: center;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .swiper-slide .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleBottom .swiper-sizeInfo svg {
    margin: 0 auto;
    max-width: 32px;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .swiper-slide .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleBottom .swiper-sizeInfo .project-size {
    font-size: 13px;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .swiper-slide .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleBottom .swiper-sizeInfo .project-txtSize {
    font-size: 13px;
  }
  body > main .about-us .SwiperExample .stages {
    padding-bottom: 50px;
    flex-direction: column;
  }
  body > main .about-us .SwiperExample .stages .stages-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 490px;
    margin: 50px auto 0;
  }
  body > main .reviews .swiper4 .swiper4btn {
    position: static;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  body > main .reviews .swiper4 .swiper4btn .swiper4-button-prev {
    width: 100%;
    margin: 0 auto;
    background-color: #303D4E;
    outline: none;
  }
  body > main .reviews .swiper4 .swiper4btn .swiper4-button-next {
    margin: 0 auto;
    background-color: #303D4E;
    width: 100%;
    outline: none;
  }
  body > main .reviews .swiper4 .swiper-wrapper .swiper4slide {
    display: flex;
    flex-direction: column;
  }
  body > main .reviews .swiper4 .swiper-wrapper .swiper4slide .swiper4Right {
    border-top: 18px solid #ED1C24;
    border-left: none;
    padding-top: 50px;
    padding-bottom: 0;
  }
  body > main .houseProject .swiper2Title {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  body > main .houseProject .swiper2Title .swiper2Right .swiper-link .swiper2 .swiper-slide .swiper2-img-name {
    right: 80%;
    margin-right: auto;
  }
  body > main .houseProject .swiper2Title:nth-child(even) .swiper2Left {
    order: 1;
  }
  body > main .houseProject .swiper2Title:nth-child(odd) .swiper2Left .swiper2Reverse .swiper2LeftTop {
    text-align: start;
  }
  body > main .houseProject .swiper2Title:nth-child(odd) .swiper2Left .swiper2Reverse a {
    margin: 0 auto 0 0;
  }
  body > main .houseProject .swiper2Title .swiper2Left .swiper2LeftBlock {
    margin: 20px auto 20px 20px;
  }
  body > main .houseProject .swiper2Title .swiper2Right .swiper2RightBottom {
    height: 64px;
  }
  body > main .houseProject .row-2 {
    flex-direction: column-reverse;
  }
  body > main .houseProject .row-2 .swiper2Left .swiper2LeftBlock {
    margin: 20px auto 20px 20px;
  }
  body > main .why .askAnswer .answer {
    margin: 0 auto;
  }
  body > main .why .askAnswer .answer .answer-top {
    gap: 30px;
    margin-bottom: 10px;
  }
  body > main .why .askAnswer .answer .answer-top svg {
    width: 60px;
    height: 60px;
  }
  body > main .why .askAnswer .answer .answer-top h2 {
    font-size: 18px;
    max-width: 200px;
  }
  body > main .why .askAnswer .answer p {
    font-size: 14px;
  }

  body > footer .footer-top .container .footer-info .footer-infoArticle .footer-infoLink {
    font-size: 12px;
    line-height: 15px;
  }
  body > footer .footer-top .container .footer-info .form-mail .form-mailabel {
    font-size: 12px;
    line-height: 12px;
  }
  body > footer .footer-top .container .footer-info .form-mail .form-mailabel .form-mailInp {
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 7px;
  }
  body > footer .footer-top .container .footer-info .form-mail .btn-mail {
    padding: 6px 11px;
    font-size: 12px;
    line-height: 7px;
  }

  .aboutMain {
    gap: 50px;
  }

  body {
    overflow: auto;
  }

  body > .card-page .card-stages .stages {
    padding-bottom: 50px;
    flex-direction: column;
  }
  body > .card-page .card-stages .stages .stages-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 490px;
    margin: 50px auto 0;
  }
  body > .card-page .card-info {
    display: flex;
    flex-direction: column;
  }
  body > .card-page .card-info .card-info-right {
    transform: translateY(0);
  }
  body > .card-page .project-layout {
    margin-top: 100px;
  }
  body > .card-page .project-layout .layout-content .layout-form {
    padding: 30px 60px;
  }
  body > .card-page .card-price .price-btns .price-btn {
    width: 160px;
  }
  body > .card-page .card-price .price-block {
    display: none;
  }
  body > .card-page .card-price .active-price-block {
    display: flex;
    flex-direction: column;
  }
  body > .card-page .card-price .active-price-block .price-block-left {
    max-width: none;
  }
  body > .card-page .card-price .active-price-block .price-block-right .price-block-right-top .price-block-right-form {
    justify-content: space-between;
  }

  .fancybox__container .form-container {
    border-radius: 10px;
  }
  .fancybox__container .form-container .form-phone {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 40px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
  }
  .fancybox__container .form-container .form-phone .form-h {
    color: #262626;
    font-size: 37px;
    line-height: 44px;
    margin-bottom: 10px;
  }
  .fancybox__container .form-container .form-phone label {
    display: grid;
    gap: 24px;
    transition: 0.2s;
    max-width: 500px;
    margin: 0 auto;
  }
  .fancybox__container .form-container .form-phone label:hover {
    color: #FC5057;
    transition: 0.2s;
  }
  .fancybox__container .form-container .form-phone label input {
    max-width: 500px;
    border-radius: 5px;
    padding: 7px 16px;
    background-color: #EEEFF4;
    color: #BFBFBF;
    border: 1px solid #BFBFBF;
    font-size: 14px;
    line-height: 24px;
  }
  .fancybox__container .form-container .form-phone textarea {
    border-radius: 5px;
    padding: 12px 16px;
    background-color: #EEEFF4;
    color: #BFBFBF;
    border: 1px solid #BFBFBF;
    font-size: 14px;
    line-height: 24px;
    font-family: "Inter", sans-serif;
    max-width: 500px;
  }
  .fancybox__container .form-container .form-phone .accept {
    display: flex;
    color: #707070;
    gap: 20px;
    max-width: 440px;
    font-size: 12px;
    line-height: 16px;
    background: none;
    transition: 0.2s;
  }
  .fancybox__container .form-container .form-phone .accept .check {
    width: 20px;
    height: 20px;
    border: 1px solid #ED1C24;
    border-radius: 4px;
    display: flex;
    flex-shrink: 0;
  }
  .fancybox__container .form-container .form-phone .accept .check svg {
    margin: auto auto;
  }
  .fancybox__container .form-container .form-phone .accept .accept-input {
    display: none;
  }
  .fancybox__container .form-container .form-phone .accept .accept-input:checked + .check {
    background-color: #ED1C24;
    transition: 0.2s;
  }
  .fancybox__container .form-container .form-phone .rephone {
    border: none;
    font-size: 14px;
    padding: 12px 92px;
    background-color: #ED1C24;
    border-radius: 4px;
    color: #FFFFFF;
    transition: 0.2s;
    margin: 0 auto;
  }
  .fancybox__container .form-container .form-phone .rephone:hover {
    background-color: #FC5057;
    color: white;
    transition: 0.2s;
  }
  .fancybox__container .fancyClass {
    padding: 10px;
  }
  .fancybox__container .fancyClass .swiper4slide {
    display: flex;
    flex-direction: column;
  }
  .fancybox__container .fancyClass .swiper4slide .swiper4Right {
    border-top: 18px solid #ED1C24;
    border-left: none;
    padding-top: 50px;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 900px) {
  body > header .container .dropPhone {
    left: 55%;
  }
}
@media screen and (max-width: 850px) {
  body > header .container .dropPhone {
    left: 51%;
  }
}
@media screen and (max-width: 800px) {
  body > header .container .dropPhone {
    left: 48%;
  }
}
@media screen and (max-width: 768px) {
  .phone-menu-active {
    overflow: hidden;
  }

  .container {
    width: 100%;
  }

  body > header {
    position: fixed;
    width: 100%;
    z-index: 1001;
  }
  body > header .container {
    padding: 0;
  }
  body > header .container .logo-page {
    padding: 0 15px;
  }
  body > header .container .logo-page .open-cursor {
    transform: rotate(0);
  }
  body > header .container .logo-page #DropButton {
    transform: scale(-1, 1);
    order: 5;
    margin-right: 0;
    width: 35px;
    height: 35px;
  }
  body > header .container .logo-page #DropButton svg {
    width: 35px;
    height: 35px;
  }
  body > header .container .logo-page .logo-svg {
    margin-left: 0;
  }
  body > header .container .logo-page .w-786 {
    display: block;
  }
  body > header .container .logo-page .w-786 svg {
    fill: #969BAB;
    width: 26px;
  }
  body > header .container .logo-page .phone {
    display: none;
  }
  body > header .container .logo-page .login {
    display: none;
  }
  body > header .container .logo-page .search {
    display: none;
  }
  body > header .container .drop {
    display: none;
  }
  body > header .dropPhone2 {
    display: grid;
  }
  body > header .phone-header {
    display: grid;
    grid-template-columns: 300px 1fr;
    transition: 0.3s;
  }
  body > header .phone-header .phone-menu {
    width: 50%;
  }
  body > header .phone-header .open {
    transition: 0.4s;
  }
  body > header .phone-header .open-cursor {
    transform: rotate(180deg);
    transition: 0.4s;
  }
  body > header .phone-header-active {
    transform: translate(0%);
    transition: 0.3s;
  }
  body > header .container .dropPhone {
    display: none;
  }

  body > main .card-section {
    max-width: 600px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
  }
  body > main .card-section .card {
    max-width: 290px;
  }
  body > main .card-section .card .project-name {
    padding: 10px;
  }
  body > main .card-section .card .project-name .project-h {
    font-size: 17px;
  }
  body > main .card-section .card .project-nametxt {
    font-size: 12px;
    padding: 2px 12px;
  }
  body > main .card-section .card .card-footer {
    padding: 12px;
  }
  body > main .card-section .card .card-footer .project-info {
    grid-template-columns: 43px 67px 77px;
  }
  body > main .card-section .card .card-footer .project-info .project-infoRow {
    gap: 0;
  }
  body > main .card-section .card .card-footer .project-info .project-infoRow svg {
    margin-bottom: 8px;
  }
  body > main .card-section .card .card-footer .project-info .project-infoRow .project-size {
    font-size: 12px;
    display: block;
    line-height: 17px;
  }
  body > main .card-section .card .card-footer .project-info .project-infoRow .project-txtSize {
    font-size: 12px;
    margin-top: auto;
  }
  body > main .card-section .card .card-footer .project-footer .project-footerInfo .project-type {
    font-size: 13px;
  }
  body > main .card-section .card .card-footer .project-footer .project-footerInfo .project-summ {
    font-size: 15px;
  }
  body > main .where-top {
    margin-top: 100px;
  }
  body > main .top5-block .top5-block-list {
    padding: 12px 8px;
  }
  body > main .top5-block .top5-block-list .top5-block-list-button {
    font-size: 12px;
  }
  body > main .top5-block .top5-block-list .top5-block-list-button svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
  body > main .top5-block .top5-block-list .top5-block-list-p {
    font-size: 12px;
  }
  body > main .main-header .container .main-headerbottom {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 9px;
    max-height: 1000px;
    margin: 0 auto;
  }
  body > main .main-header .container .main-headertop {
    margin-top: 50px;
    font-size: 37px;
    line-height: 44px;
  }
  body > main .main-video .container .video-player {
    padding: 70px;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .swiper-slide .swiperExampleTxt {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: none;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .swiper-slide .swiperExampleTxt .swiperExampleTxtTop .swiperTop {
    margin: 25px auto;
    gap: 25px;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .swiper-slide .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleTop {
    gap: 10px;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .swiper-slide .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleTop h3 {
    font-size: 20px;
    line-height: 31px;
    margin: 0 auto;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .swiper-slide .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleTop p {
    font-size: 12px;
    line-height: 22px;
    margin: 0 auto;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .swiper-slide .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleBottom .swiper-sizeInfo {
    text-align: center;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .swiper-slide .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleBottom .swiper-sizeInfo svg {
    margin: 0 auto;
    max-width: 32px;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .swiper-slide .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleBottom .swiper-sizeInfo .project-size {
    font-size: 13px;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .swiper-slide .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleBottom .swiper-sizeInfo .project-txtSize {
    font-size: 13px;
  }
  body > main .about-us .SwiperExample .stages .stages-img {
    flex-wrap: wrap;
    padding: 0 10px;
    justify-content: center;
  }
  body > main .houseProject .swiper2Title .swiper2Left .swiper2LeftBlock {
    gap: 35px;
  }
  body > main .houseProject .swiper2Title .swiper2Left .swiper2LeftBlock .swiper2LeftTop {
    gap: 15px;
  }

  body > .card-page .card-stages .stages .stages-img {
    flex-wrap: wrap;
    padding: 0 10px;
    justify-content: center;
  }
  body > .card-page .card-top .swiper5box {
    margin-bottom: 50px;
    margin-top: 80px;
  }

  body > footer .footer-top .container .footer-info {
    gap: 100px;
    justify-content: center;
  }
  body > footer .footer-top .container .footer-info .footer-infoArticle {
    display: none;
  }

  body > .project-main .where-top {
    margin-top: 80px;
  }
  body > .project-main .project-header .container .main-headertop {
    font-size: 37px;
    line-height: 44px;
  }
  body > .project-main .project-header .container .project-headertop-txt {
    font-size: 16px;
    line-height: 27px;
    width: 100%;
  }
  body > .project-main .project-header .container .main-headerbottom {
    grid-template-columns: 1fr;
  }
  body > .project-main .project-header .container .main-headerbottom .duo-range .duo-range-price .range-txt .txt-between {
    max-width: 85px;
  }
  body > .project-main .project-header .container .main-headerbottom .range-square .duo-range-price .range-txt .txt-between {
    max-width: 40px;
  }

  body > .aboutMain {
    gap: 50px;
    display: flex;
    flex-direction: column;
  }
  body > .aboutMain .aboutHead .header-about-text {
    font-size: 37px;
    line-height: 44px;
    padding-bottom: 25px;
  }
  body > .aboutMain .aboutHead .header-about-text2 {
    font-size: 25px;
    line-height: 32px;
    padding-bottom: 25px;
  }
  body > .aboutMain .aboutText {
    grid-template-columns: 1fr;
    gap: 25px;
  }
  body > .aboutMain .aboutText .about-text {
    font-size: 16px;
    line-height: 27px;
  }
  body > .aboutMain .about-img {
    display: flex;
    flex-direction: column;
  }
  body > .aboutMain .about-img .about-img-right {
    display: flex;
    flex-direction: column;
  }
  body > .aboutMain .about-what {
    gap: 25px;
    display: flex;
    flex-direction: column;
  }
  body > .aboutMain .about-what .about-what2 .about-what-text {
    font-size: 13px;
    line-height: 25px;
  }
  body > .aboutMain .about-us2 {
    max-width: 320px;
  }
  body > .aboutMain .about-us2 .about-us2-h3 {
    font-size: 20px;
    line-height: 25px;
  }
}
@media screen and (max-width: 640px) {
  body > main .card-section {
    grid-template-columns: 1fr;
  }
  body > main .card-section .card {
    width: 100%;
    max-width: none;
  }
  body > main .card-section .card .project {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: cover;
    max-height: 273px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: 0.2s;
  }
  body > main .card-section .card .project-name {
    display: flex;
    gap: 40px;
    padding: 22px;
    justify-content: space-between;
  }
  body > main .card-section .card .project-name .project-h {
    font-size: 29px;
    line-height: 40px;
  }
  body > main .card-section .card .project-nametxt {
    font-size: 16px;
    color: #18191F;
    line-height: 27px;
    padding: 2px 22px;
  }
  body > main .card-section .card .card-footer {
    display: grid;
    margin-top: auto;
    padding: 22px;
  }
  body > main .card-section .card .card-footer .project-info {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
  }
  body > main .card-section .card .card-footer .project-border {
    margin: 36px 0 16px 0;
    border-bottom: 2px solid #969BAB;
  }
  body > main .card-section .card .card-footer .project-footer {
    display: grid;
    gap: 8px;
  }
  body > main .card-section .card .card-footer .project-footer .project-footerInfo {
    display: flex;
    justify-content: space-between;
  }
  body > main .card-section .card .card-footer .project-footer .project-footerInfo .project-type {
    font-size: 16px;
    line-height: 27px;
    color: #18191F;
  }
  body > main .card-section .card .card-footer .project-footer .project-footerInfo .project-summ {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #474A57;
  }
  body > main .top5-block .top5-block-list .top5-block-list-button {
    gap: 10px;
  }
  body > main .main-video .container .imgVideo {
    display: none;
  }
  body > main .main-video .container .video-player {
    padding: 45px 201px 70px 43px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  body > header .container .logo-page {
    gap: 20px;
  }
  body > header .container .logo-page #DropButton {
    order: 5;
  }
  body > header .container .logo-page #DropButton svg {
    width: 30px;
    height: 30px;
  }
  body > header .container .logo-page .logo-svg svg {
    width: 100px;
  }
  body > header .container .logo-page .w-786 {
    display: block;
    width: 25px;
  }
  body > header .container .logo-page .w-786 svg {
    fill: #969BAB;
    width: 30px;
  }
  body > header .container .logo-page .like svg {
    width: 20px;
  }
  body > header .container .logo-page .like .heart {
    width: 11px;
    height: 11px;
    font-size: 7px;
    line-height: 1;
  }
  body > header .phone-header .phone-menu {
    width: 100%;
  }

  .fancybox__container .form-container {
    border-radius: 10px;
  }
  .fancybox__container .form-container .form-phone {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 40px;
    font-family: "Inter", sans-serif;
    font-size: 24px;
  }
  .fancybox__container .form-container .form-phone .form-h {
    color: #262626;
    font-size: 37px;
    line-height: 44px;
    margin-bottom: 10px;
  }
  .fancybox__container .form-container .form-phone label {
    display: grid;
    gap: 24px;
    transition: 0.2s;
    max-width: 500px;
    margin: 0 auto;
  }
  .fancybox__container .form-container .form-phone label:hover {
    color: #FC5057;
    transition: 0.2s;
  }
  .fancybox__container .form-container .form-phone label input {
    max-width: 500px;
    border-radius: 5px;
    padding: 7px 16px;
    background-color: #EEEFF4;
    color: #BFBFBF;
    border: 1px solid #BFBFBF;
    font-size: 14px;
    line-height: 24px;
  }
  .fancybox__container .form-container .form-phone textarea {
    border-radius: 5px;
    padding: 12px 16px;
    background-color: #EEEFF4;
    color: #BFBFBF;
    border: 1px solid #BFBFBF;
    font-size: 14px;
    line-height: 24px;
    font-family: "Inter", sans-serif;
    max-width: 500px;
  }
  .fancybox__container .form-container .form-phone .accept {
    display: flex;
    color: #707070;
    gap: 20px;
    max-width: 440px;
    font-size: 12px;
    line-height: 16px;
    background: none;
    transition: 0.2s;
  }
  .fancybox__container .form-container .form-phone .accept .check {
    width: 20px;
    height: 20px;
    border: 1px solid #ED1C24;
    border-radius: 4px;
    display: flex;
    flex-shrink: 0;
  }
  .fancybox__container .form-container .form-phone .accept .check svg {
    margin: auto auto;
  }
  .fancybox__container .form-container .form-phone .accept .accept-input {
    display: none;
  }
  .fancybox__container .form-container .form-phone .accept .accept-input:checked + .check {
    background-color: #ED1C24;
    transition: 0.2s;
  }
  .fancybox__container .form-container .form-phone .rephone {
    border: none;
    font-size: 14px;
    padding: 12px 92px;
    background-color: #ED1C24;
    border-radius: 4px;
    color: #FFFFFF;
    transition: 0.2s;
    margin: 0 auto;
  }
  .fancybox__container .form-container .form-phone .rephone:hover {
    background-color: #FC5057;
    color: white;
    transition: 0.2s;
  }
  .fancybox__container .fancyClass {
    padding: 10px;
  }
  .fancybox__container .fancyClass .swiper4slide {
    display: flex;
    flex-direction: column;
  }
  .fancybox__container .fancyClass .swiper4slide .swiper4Right {
    padding-top: 25px;
    padding-bottom: 0;
  }
  .fancybox__container .fancyClass .swiper4slide .swiper4Right .swiper4RightTop {
    gap: 10px;
  }
  .fancybox__container .fancyClass .swiper4slide .swiper4Right .swiper4RightTop h3 {
    font-size: 20px;
    line-height: 20px;
  }
  .fancybox__container .fancyClass .swiper4slide .swiper4Right .swiper4RightTop h5 {
    font-size: 12px;
    line-height: 24px;
  }
  .fancybox__container .fancyClass .swiper4slide .swiper4RightText {
    width: 300px;
    height: 200px;
    font-size: 12px;
    line-height: 22px;
  }
  .fancybox__container .fancyClass .swiper4slide .swiper4RightText .review-link {
    font-size: 16px;
  }

  body > .card-page .card-stages .stages {
    padding-top: 25px;
    display: grid;
    gap: 0;
  }
  body > .card-page .card-stages .stages .stages-top h2 {
    font-size: 20px;
    line-height: 23px;
  }
  body > .card-page .card-stages .stages .stages-top p {
    font-size: 12px;
    line-height: 21px;
  }
  body > .card-page .card-stages .stages .stages-img {
    width: auto;
    grid-template-columns: 1fr;
  }

  body > main .main-header .container {
    gap: 50px;
  }
  body > main .main-header .container .main-headertop {
    max-width: 290px;
    font-size: 20px;
    line-height: 23px;
  }
  body > main .main-header .container .main-headerbottom {
    gap: 10px;
  }
  body > main .main-header .container .main-headerbottom .selectType {
    max-width: none;
    width: 100%;
    height: 45px;
    font-size: 13px;
    padding-left: 10px;
  }
  body > main .main-header .container .main-headerbottom .noUi-base, body > main .main-header .container .main-headerbottom .noUi-connects {
    width: 100%;
  }
  body > main .main-header .container .main-headerbottom .duo-range {
    max-width: none;
    display: grid;
    height: 45px;
    width: 100%;
  }
  body > main .main-header .container .main-headerbottom .duo-range .range-txt {
    max-width: none;
    height: 45px;
  }
  body > main .main-header .container .main-headerbottom .duo-range .range-txt .rangetext {
    font-size: 13px;
  }
  body > main .main-header .container .main-headerbottom .duo-range .range-txt .txt-between {
    font-size: 13px;
  }
  body > main .main-header .container .main-headerbottom .btn-sbm {
    height: 45px;
  }
  body > main .main .main-top .main-topHeader .build-logo h2 {
    font-size: 20px;
    line-height: 23px;
  }
  body > main .main .main-top .main-topHeader .build-logo p {
    font-size: 14px;
    line-height: 21px;
  }
  body > main .main .card-pagination {
    gap: 5px;
  }
  body > main .main .card-pagination li {
    width: 24px;
    height: 24px;
    font-weight: 700;
    font-size: 12px;
  }
  body > main .main .card-pagination .page-btn {
    width: 24px;
    height: 24px;
    font-size: 12px;
  }
  body > main .main-video .container .video-player {
    padding: 20px;
    gap: 50px;
  }
  body > main .about-us .about-container .about-txt {
    font-size: 20px;
    line-height: 23px;
  }
  body > main .about-us .about-container .about-ustxt {
    font-size: 14px;
    line-height: 21px;
  }
  body > main .about-us .SwiperExample .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
  }
  body > main .about-us .SwiperExample .container .swiper .swiper-wrapper .swiper-slide .swiperExampleTxt {
    display: flex;
    flex-direction: column;
  }
  body > main .about-us .SwiperExample .container .swiper .swiper-wrapper .swiper-slide .swiperExampleTxt .swiperExampleTxtBottom {
    padding: 25px 0;
  }
  body > main .about-us .SwiperExample .container .swiper-Btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #D7B45D;
    height: 36px;
  }
  body > main .about-us .SwiperExample .container .swiper-Btns .swiperTop-button-prev {
    cursor: pointer;
    width: 100%;
    display: flex;
    outline: none;
  }
  body > main .about-us .SwiperExample .container .swiper-Btns .swiperTop-button-prev svg {
    margin: 0 auto;
    height: 36px;
  }
  body > main .about-us .SwiperExample .container .swiper-Btns .swiperTop-button-next {
    display: flex;
    cursor: pointer;
    width: 100%;
    outline: none;
  }
  body > main .about-us .SwiperExample .container .swiper-Btns .swiperTop-button-next svg {
    margin: 0 auto;
    height: 36px;
  }
  body > main .about-us .SwiperExample .swiper {
    padding-top: 0;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtTop .swiperTop {
    margin: 0;
    gap: 30px;
    padding: 20px 15px;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleTop {
    gap: 12px;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleTop h3 {
    font-size: 17px;
    line-height: 20px;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleTop p {
    font-size: 12px;
    line-height: 12px;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleBottom {
    padding: 0 10px;
    justify-content: space-around;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleBottom .swiper-sizeInfo svg {
    max-height: 36px;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleBottom .swiper-sizeInfo .project-size {
    font-size: 12px;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleBottom .swiper-sizeInfo .project-txtSize {
    font-size: 12px;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtBottom .swiperButton .swiperMore {
    padding: 6px 100px;
    font-size: 12px;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtBottom .swiperButton .swiperTel {
    font-size: 12px;
    padding: 5px 100px;
  }
  body > main .about-us .SwiperExample .stages {
    padding-top: 25px;
    display: grid;
    gap: 0;
  }
  body > main .about-us .SwiperExample .stages .stages-top h2 {
    font-size: 20px;
    line-height: 23px;
  }
  body > main .about-us .SwiperExample .stages .stages-top p {
    font-size: 12px;
    line-height: 21px;
  }
  body > main .about-us .SwiperExample .stages .stages-img {
    width: auto;
    grid-template-columns: 1fr;
  }
  body > main .houseProject .house-projectHeader {
    text-align: center;
  }
  body > main .houseProject .house-projectHeader h2 {
    font-size: 20px;
    line-height: 23px;
  }
  body > main .houseProject .house-projectHeader p {
    font-size: 14px;
    line-height: 21px;
  }
  body > main .houseProject .swiper2Title .swiper2Left .swiper2LeftBlock .swiper2LeftTop {
    max-width: 255px;
  }
  body > main .houseProject .swiper2Title .swiper2Left .swiper2LeftBlock .swiper2LeftTop h3 {
    font-size: 15px;
  }
  body > main .houseProject .swiper2Title .swiper2Left .swiper2LeftBlock .swiper2LeftTop p {
    font-size: 14px;
    line-height: 18px;
  }
  body > main .houseProject .swiper2Title .swiper2Left .swiper2LeftBlock a {
    font-size: 14px;
    padding: 4px 28px;
  }
  body > main .houseProject .swiper2Title:nth-child(odd) .swiper2Right .swiper-link .swiper2 .swiper-slide .swiper2-img-name {
    font-size: 12px;
    right: 70%;
  }
  body > main .houseProject .swiper2Title:nth-child(even) .swiper2Right .swiper-link .swiper2 .swiper-slide .swiper2-img-name {
    font-size: 12px;
    right: 70%;
  }
  body > main .houseProject .swiper2Title .swiper2Right .swiper2RightBottom {
    padding: 0 10px;
  }
  body > main .houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .swiper2-button-prev {
    width: 30px;
    height: auto;
  }
  body > main .houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .swiper2-button-next {
    width: 30px;
    height: auto;
  }
  body > main .houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .project-share {
    width: 30px;
    height: auto;
  }
  body > main .houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .project-link {
    margin-left: 5px;
  }
  body > main .houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .project-link .btn-share svg {
    width: 25px;
    height: auto;
  }
  body > main .houseProject .swiper2WatchMore {
    font-size: 12px;
    padding: 10px 30px;
  }
  body > main .why {
    gap: 25px;
  }
  body > main .why .whyAsk h2 {
    font-size: 20px;
    line-height: 23px;
  }
  body > main .why .whyAsk p {
    font-size: 14px;
    line-height: 21px;
  }
  body > main .why .askAnswer {
    gap: 25px;
  }
  body > main .why .askAnswer .answer .answer-top h2 {
    font-size: 17px;
  }
  body > main .why .askAnswer .answer p {
    font-size: 13px;
  }
  body > main .reviews .reviews-header h2 {
    font-size: 20px;
    line-height: 23px;
  }
  body > main .reviews .reviews-header p {
    font-size: 14px;
    line-height: 21px;
  }
  body > main .reviews .swiper4 .swiper4btn .swiper4-button-next {
    height: 36px;
  }
  body > main .reviews .swiper4 .swiper4btn .swiper4-button-prev {
    height: 36px;
  }
  body > main .reviews .swiper4 .swiper-wrapper .swiper4slide {
    display: flex;
    flex-direction: column;
  }
  body > main .reviews .swiper4 .swiper-wrapper .swiper4slide .swiper4Right {
    padding-top: 25px;
    padding-bottom: 0;
    gap: 30px;
  }
  body > main .reviews .swiper4 .swiper-wrapper .swiper4slide .swiper4Right .swiper4RightTop {
    gap: 10px;
  }
  body > main .reviews .swiper4 .swiper-wrapper .swiper4slide .swiper4Right .swiper4RightTop h3 {
    font-size: 20px;
    line-height: 20px;
  }
  body > main .reviews .swiper4 .swiper-wrapper .swiper4slide .swiper4Right .swiper4RightTop h5 {
    font-size: 12px;
    line-height: 24px;
  }
  body > main .reviews .swiper4 .swiper-wrapper .swiper4slide .swiper4Right .swiper4RightText {
    height: 180px;
  }
  body > main .reviews .swiper4 .swiper-wrapper .swiper4slide .swiper4RightText {
    width: 300px;
    font-size: 12px;
    line-height: 22px;
  }
  body > main .reviews .swiper4 .swiper-wrapper .swiper4slide .swiper4RightText .review-link {
    font-size: 16px;
  }
  body > main .reviews .review {
    font-size: 12px;
    padding: 5px 23px;
  }

  body > footer .footer-top .container {
    padding-bottom: 0;
  }
  body > footer .footer-top .container .footer-info {
    display: flex;
  }
  body > footer .footer-top .container .footer-info .form-mail {
    margin: 0 auto;
  }
  body > footer .footer-top .container .footer-info .form-mail .form-mailabel {
    font-size: 14px;
    line-height: 24px;
  }
  body > footer .footer-top .container .footer-info .form-mail .form-mailabel .form-mailInp {
    font-size: 14px;
    line-height: 24px;
  }
  body > footer .footer-top .container .footer-info .form-mail .btn-mail {
    margin-right: auto;
    font-size: 14px;
    line-height: 13px;
    padding: 8px 16px;
  }
  body > footer .footer-top .container .footer-info .btn-up {
    display: none;
  }
}
@media screen and (max-width: 440px) {
  body > .project-main .project-header .container .main-headerbottom .btn-sbm {
    width: 100%;
    padding: 12px 0;
  }
  body > .project-main .project-header .container .main-headerbottom .duo-range .duo-range-price .range-txt:nth-child(even) {
    padding: 0 20px 0 10px;
  }
  body > .project-main .project-header .container .main-headerbottom .duo-range .duo-range-price .range-txt:nth-child(odd) {
    padding: 0 10px 0 40px;
  }

  .fancybox__container .fancyClass .swiper4slide {
    width: 100%;
  }
  .fancybox__container .fancyClass .swiper4slide .swiper4Right {
    width: 100%;
  }
  .fancybox__container .fancyClass .swiper4slide .swiper4Right .swiper4RightTop {
    width: 100%;
  }
  .fancybox__container .fancyClass .swiper4slide .swiper4Right .swiper4RightText {
    max-width: 250px;
    width: 100%;
  }
  .fancybox__container .form-container {
    padding: 10px;
  }
  .fancybox__container .form-container .form-phone .form-h {
    font-size: 25px;
  }

  body > main .card-section {
    max-width: none;
    grid-template-columns: 1fr;
  }
  body > main .card-section .card {
    max-width: none;
  }
  body > main .card-section .card .project-name {
    padding: 5px 10px;
    align-items: center;
  }
  body > main .card-section .card .project-name .project-h {
    font-size: 17px;
    line-height: 24px;
  }
  body > main .card-section .card .project-nametxt {
    font-size: 12px;
    padding: 2px 12px;
    margin-bottom: 8px;
  }
  body > main .card-section .card .card-footer {
    padding: 12px;
  }
  body > main .card-section .card .card-footer .project-info {
    grid-template-columns: 43px 67px 77px;
  }
  body > main .card-section .card .card-footer .project-info .project-infoRow {
    gap: 0;
  }
  body > main .card-section .card .card-footer .project-info .project-infoRow svg {
    margin-bottom: 8px;
  }
  body > main .card-section .card .card-footer .project-info .project-infoRow .project-size {
    font-size: 12px;
    display: block;
    line-height: 15px;
    margin-bottom: 5px;
  }
  body > main .card-section .card .card-footer .project-info .project-infoRow .project-txtSize {
    font-size: 12px;
    line-height: 15px;
    margin-top: auto;
  }
  body > main .card-section .card .card-footer .project-border {
    margin: 22px 0 12px 0;
  }
  body > main .card-section .card .card-footer .project-footer {
    gap: 12px;
  }
  body > main .card-section .card .card-footer .project-footer .project-footerInfo .project-type {
    font-size: 13px;
    line-height: 16px;
  }
  body > main .card-section .card .card-footer .project-footer .project-footerInfo .project-summ {
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (max-width: 356px) {
  .container {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 0 10px;
    min-width: 300px;
  }

  body > header .container {
    padding: 0;
    max-width: none;
  }

  body > .project-main .project-header .container .main-headerbottom {
    gap: 10px;
  }
  body > .project-main .project-header .container .main-headerbottom .duo-range .duo-range-price .range-txt {
    padding: 0 10px 0 25px;
  }
  body > .project-main .project-header .container .main-headerbottom .selectType {
    padding-left: 25px;
  }
  body > .project-main .project-header .container .main-headerbottom .project-filter-svg .selectType {
    padding-left: 25px;
  }
  body > .project-main .project-header .container .main-headerbottom .project-filter-svg .filter-svg {
    left: 5px;
  }

  body > main .main-video {
    padding: 0 10px;
  }
  body > main .main-video .container .video-player {
    padding: 30px 10px 30px 10px;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtBottom .swiperButton .swiperMore {
    padding: 6px 75px;
  }
  body > main .about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtBottom .swiperButton .swiperTel {
    padding: 5px 75px;
  }
  body > main .reviews .swiper4 .swiper-wrapper .swiper4slide .swiper4Right {
    padding-top: 25px;
    gap: 35px;
  }
  body > main .reviews .swiper4 .swiper-wrapper .swiper4slide .swiper4Right .swiper4RightText {
    height: auto;
  }
  body > main .reviews .swiper4 .swiper-wrapper .swiper4slide .swiper4Right .swiper4RightText .review-link {
    margin: 25px auto;
  }
  body > main .reviews .swiper4 .swiper-wrapper .swiper4slide .swiper4Right .swiper4RightText .txt-Content {
    padding: 0 20px;
  }
  body > main .main .card-pagination {
    justify-content: center;
  }
}

/*# sourceMappingURL=mediascreen.css.map */
