@mixin grid-left($cols, $margin) {
  float: left;
  margin-right: $margin;
  margin-bottom: $margin;
  width: ((100% - (($cols - 1) * $margin )) / $cols );

    &:nth-child(#{$cols}n) {
      margin-right: 0;
    }
}

@mixin grid-right($cols, $margin) {
  float: right;
  margin-left: $margin;
  margin-bottom: $margin;
  width: ((100% - (($cols - 1) * $margin )) / $cols );

  &:nth-child(#{$cols}n) {
    margin-left: 0;
  }
}