@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.hidden {
  display: none;
}

.headertop5 {
  font-weight: 700;
  font-size: 29px;
  line-height: 40px;
  color: #474A57;
}

.top5-block {
  background-color: white;
  padding: 64px;
  display: flex;
  flex-direction: column;
  .top5-block-list {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #D9DBE1;
    overflow: hidden;
    .top5-block-list-button {
      display: flex;
      gap: 40px;
      align-items: center;
      border: none;
      background: none;
      transition: .3s all;
      color: #303D4E;
      font-size: 16px;
      line-height: 27px;
      cursor: pointer;

      path {
        transition: .3s all;
      }

      &:hover {
        color: #FC5057;
        path {
          fill: #FC5057;
        }
      }
    }
    .top5-block-list-p {
      font-size: 16px;
      line-height: 27px;
      color: #474A57;
      margin-left: 64px;
      margin-right: 10px;
      height: 0;
      overflow: hidden;
      transition: .5s all ease-out;
    }


    &:last-child {
      border-bottom: 1px solid #D9DBE1;
    }
  }
  .top5-block-list-active {
    .top5-block-list-p {
      height: auto;
      transition: .5s all ease-out;
      margin-top: 24px;

    }
  }
}

body {
  overflow-x: hidden;
}

body > .preloader {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1001;
  transition: 1s all;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    width: 50px;
    height: 50px;
    max-width: 100px;
    max-height: 100px;
    border: 10px solid white;
    border-radius: 50%;
    border-top-color: #FC5057;
    position: absolute;
    animation: 0.4s loading infinite linear;
  }

  &.done {
    opacity: 0;
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body > header {
  font-family: 'Inter', sans-serif;
  height: 64px;

  .container {
    height: 100%;

    .logo-page {
      position: relative;
      z-index: 100;
      height: 100%;
      display: flex;
      justify-content: space-between;
      gap: 25px;
      background-color: white;

      #DropButton {
        background: none;
        border: none;
        cursor: pointer;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
        transition: 0.4s;

        &:hover {
          transition: 0.4s;
        }
      }

      .logo-svg {
        margin: auto auto;
      }

      .phone {
        display: flex;
        transition: 0.4s;

        &:hover {
          transition: 0.4s;
        }

        .phoneNumbers {
          height: auto;
          display: grid;
          background-color: white;

          .phoneHidden {
            display: none;
          }

          .phoneActive {
            display: block;
          }

          a {
            display: block;
            color: #474A57;
            font-size: 14px;
            line-height: 24px;
            text-decoration: none;
            margin-top: auto;
            margin-bottom: auto;

            &:hover {
              color: #FC5057;
              transition: 0.3s;
            }
          }
        }

        .phoneNumbers-active {
          padding-top: 16px;
          height: 128px;
        }


      }

      .phone2 {
        max-width: 30px;
        height: auto;
        margin: auto 0;
        background: none;
        border: none;
        cursor: pointer;
      }

      .login2 {
        max-width: 30px;
        height: auto;
        margin: auto 0;
      }

      .w-786 {
        display: none;
      }

      .open {
        margin-top: auto;
        margin-bottom: auto;
        cursor: pointer;
        border: none;
        background: none;
        transition: 0.4s;
      }

      .open-cursor {
        transform: rotate(180deg);
        transition: 0.5s;
      }

      .login {
        text-decoration: none;
        margin-top: auto;
        margin-bottom: auto;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        color: #969BAB;
        padding: 8px 16px;
        border: 1px solid #969BAB;
        border-radius: 4px;
        transition: 0.4s;

        &:hover {
          color: #FC5057;
          transition: 0.4s;
          border-color: #FC5057;
        }
      }

      .like {
        background: none;
        border: none;
        margin-top: auto;
        margin-bottom: auto;
        cursor: pointer;
        display: flex;
        transition: 0.3s;
        justify-content: center;

        .heart-active {
          display: block;
          margin-top: auto;
          margin-bottom: auto;
          width: 28px;
          transition: 0.3s;
        }

        .heart-activeAdd {
          path {
            fill: red;
            transition: 0.2s;
          }
        }

        .disabled {
          display: none;
          transition: 0.3s;
        }

        &:hover .heart {
          border-color: #FC5057;
          color: #FC5057;
          transition: 0.3s;
        }

        &:hover svg path {
          fill: #FC5057;
          transition: .3s;
        }

        .heart {
          display: flex;
          justify-content: center;
          color: #969BAB;
          font-size: 10px;
          line-height: 1;
          transform: translate(-9px, 5px);
          height: 13px;
          width: 13px;
          max-height: 13px;
          background: white;
          border: 1px solid #969BAB;
          border-radius: 50%;
          padding: 0.5px 2px 1px 2px;
          font-family: 'Inter', sans-serif;
          transition: 0.3s;
        }

        .added {
          color: red;
          border-color: red;
          transition: 0.3s;
        }
      }

      .search {
        margin-top: auto;
        margin-bottom: auto;

        .search-label {
          display: flex;
          justify-content: center;

          .searchInp {
            border: none;
            outline: none;
            color: #969BAB;
            font-size: 16px;
            width: 0;
            position: absolute;
            z-index: 101;
            background-color: white;
            top: 16px;
            right: -1%;
            margin-right: 10px;
            transition: 0.5s;
            height: 32px;

            &::-moz-placeholder {
              color: #969BAB;
              transition: 0.2s;
            }

            &::-webkit-input-placeholder {
              color: #969BAB;
              transition: 0.2s;
            }

            &:hover::-moz-placeholder {
              color: #FC5057;
              transition: 0.2s;
            }

            &:hover::-webkit-input-placeholder {
              color: #FC5057;
              transition: 0.2s;
            }
          }

          .searchInpWidth {
            width: 200px;
            transition: 0.5s;
            position: absolute;
            z-index: 201;
            top: 16px;
            right: -1%;
            padding: 0;
            height: 32px;
            background-color: white;
            border: 1px solid #969BAB;
            border-radius: 5px;
            padding-left: 10px;


            &:hover {
              border: 1px solid #FC5057;
              color: #FC5057;
              transition: 0.2s;
            }
          }

          .search-txt {
            visibility: hidden;
            height: 24px;
            border: none;
          }

          .search-button {
            display: flex;
            justify-content: center;
            background: none;
            border: none;
            cursor: pointer;
            transition: 0.4s;
            position: relative;
            z-index: 205;

            path {
              transition: 0.2s;
            }

            &:hover path {
              fill: #FC5057;
              transition: 0.2s;
            }
          }

          .searchHidden {
            display: none;
          }
        }
      }

      .logoNone {
        display: none;
      }
    }

    .drop {
      padding: 20px 80px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      background: white;
      gap: 40px;
      position: relative;
      z-index: 2;

      .navbar-menu {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .navbar-link {
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          color: #ED1C24;
          text-decoration: none;
          transition: 0.2s;

          &:hover {
            transition: 0.2s;
          }
        }

        .navbar {
          list-style: none;
          display: grid;
          gap: 8px;

          li {
            transition: 0.2s;

            &:hover {
              transition: 0.2s;
            }
          }

          .navbar-projects {
            text-decoration: none;
            font-size: 12px;
            line-height: 24px;
            color: #18191F;
            transition: 0.2s;

            &:hover {
              color: #FC5057;
              transition: 0.2s;
            }
          }

        }
      }
    }

    .dropPhone {
      display: grid;
      gap: 10px;
      position: absolute;
      z-index: 2;
      top: 0;
      transform: translateY(-40px);
      background-color: white;
      left: 69.7%;
      transition: 0.2s;
      padding-bottom: 10px;

      a {
        padding: 0 20px;
        display: block;
        color: #474A57;
        font-size: 14px;
        line-height: 24px;
        text-decoration: none;
        margin-top: auto;
        margin-bottom: auto;
        transition: 0.2s;

        &:hover {
          color: #FC5057;
          transition: 0.2s;
        }
      }
    }
  }

  .phone-header {
    display: none;
    height: 100%;
    position: fixed;
    z-index: 1000;
    width: 100%;
    transform: translateX(100%);
    max-height: 100%;

    .phone-menu {
      width: 30%;
      background-color: white;
      margin-right: auto;
      opacity: 1;
      z-index: 1001;
      position: fixed;
      display: grid;
      right: 0;
      top: 0;
      height: calc(100vh - 64px);
      border-top: 1px solid #DFE2EA;

      .phone {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 42px;
        padding: 0 30px 10px 30px;
        border-bottom: 1px solid #DFE2EA;

        .open {
          background: none;
          border: none;
          cursor: pointer;
        }

        .phoneNumbers {
          height: auto;
          display: grid;
          background-color: white;

          .phoneHidden {
            display: none;
          }

          .phoneActive {
            display: block;
          }

          a {
            display: block;
            color: #474A57;
            font-size: 15px;
            line-height: 24px;
            text-decoration: none;
            margin-top: auto;
            margin-bottom: auto;

            &:hover {
              color: #FC5057;
              transition: 0.3s;
            }
          }
        }

        .phoneNumbers-active {
          padding-top: 16px;
          height: 128px;
        }


      }

      .search2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: auto;
        border-top: 1px solid #DFE2EA;
        padding: 8px 12px;

        input {
          width: 100%;
          border-radius: 3px;
          font-size: 15px;
          outline: none;
          border: none;
          color: #969BAB;
        }

        button {
          background: none;
          border: none;
          cursor: pointer;
          line-height: 0;
        }
      }

      .phone-content {
        text-align: left;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-y: auto;
        padding: 10px 30px;

        .navbar-menu-phone {
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding-bottom: 10px;
          border-bottom: 1px solid #DFE2EA;

          .navbar-link-phone {
            font-weight: 500;
            font-size: 15px;
            line-height: 24px;
            color: #ED1C24;
            text-decoration: none;
            transition: 0.2s;
            display: flex;
            justify-content: space-between;

            svg {
              margin: auto 0;
              transition: 0.2s;
            }

            .svg-active {
              transform: rotate(90deg);
              transition: 0.2s;
            }

            &:hover {
              transition: 0.2s;
            }

          }

          .link-phone {
            display: none;
          }

          .navbar-phone {
            list-style: none;
            display: none;
            gap: 5px;
            margin-top: 10px;

            li {
              transition: 0.2s;

              &:hover {
                transition: 0.2s;
              }

              &:last-child {
                margin-bottom: 10px;
              }
            }

            .navbar-projects {
              text-decoration: none;
              font-size: 12px;
              line-height: 24px;
              color: #18191F;
              transition: 0.2s;

              &:hover {
                color: #FC5057;
                transition: 0.2s;
              }
            }

          }

          .phone-ul {
            display: grid;
          }
        }

        .navbar-menu-phone-disabled {
          display: none;
        }

        .phone-number {
          font-size: 14px;
          display: none;
          gap: 20px;

          .phoneHidden {
            color: #474A57;
            font-size: 14px;
            line-height: 24px;
            text-decoration: none;
            border-bottom: 1px solid #DFE2EA;
            padding: 10px 0;
          }

        }

        .phone-number-active {
          display: grid;
        }
      }
    }
  }

  .dropPhone2 {
    display: none;
    background-color: white;
    gap: 10px;
    padding: 10px 20px;
    position: absolute;
    top: 64px;
    transform: translateY(-200px);
    transition: .2s;
    right: 7%;

    .phoneHidden2 {
      text-decoration: none;
      font-size: 14px;
      line-height: 24px;
      color: black;
      transition: .2s;

      &:hover {
        color: #FC5057;
        transition: .2s;
      }
    }
  }

  .dropPhone2-active {
    transform: translateY(0);
    transition: .2s;
  }
}

.project-main {
  gap: 50px;
}

body > footer {
  font-family: 'Inter', sans-serif;

  .footer-top {
    width: 100%;
    background-color: #303D4E;
    padding-bottom: 64px;

    .container {
      display: grid;
      padding-top: 80px;
      padding-bottom: 80px;
      gap: 80px;

      .footer-logo {
        margin-left: auto;
        margin-right: auto;
        transition: 0.2s;
      }

      .footer-info {
        display: flex;
        justify-content: space-between;

        .footer-infoArticle {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .footer-infoLink {
            color: white;
            text-decoration: none;
            transition: 0.2s;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;

            &:hover {
              transition: 0.2s;
              color: #FC5057;
            }
          }
        }
      }

      .form-mail {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;

        .form-mailabel {
          display: grid;
          color: white;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          gap: 24px;

          .form-mailInp {
            background: none;
            border: none;
            border-bottom: 1px solid white;
            color: white;
            font-size: 14px;
            line-height: 24px;
            padding-bottom: 8px;

            &::-moz-placeholder {
              color: white;
            }

            &::-webkit-input-placeholder {
              color: white;
            }

            &:focus {
              outline: none;
            }
          }
        }

        .btn-mail {
          background: none;
          border: 2px solid #D9DBE1;
          font-weight: 500;
          font-size: 14px;
          line-height: 13px;
          color: white;
          border-radius: 4px;
          padding: 8px 16px;
          transition: 0.2s;
          cursor: pointer;

          &:hover {
            color: #FC5057;
            transition: 0.2s;
            border-color: #FC5057;
          }
        }
      }

      .btn-up {
        background: none;
        border: none;
        margin-top: auto;
        cursor: pointer;

        .btn-upSvg {
          transition: 0.2s;
        }

        &:hover .btn-upSvg {
          rect {
            stroke: #FC5057;
          }

          path {
            fill: #FC5057;
          }
        }
      }
    }
  }

  .footer-bottom {
    width: 100%;
    background-color: #ED1C24;

    .container {
      color: white;
      display: flex;
      justify-content: space-between;
      padding-top: 7px;
      padding-bottom: 7px;

      .copyright {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 12px;
        line-height: 16px;
      }

      .footer-navigation {
        display: flex;
        gap: 16px;
        margin-top: auto;
        margin-bottom: auto;

      }
    }
  }
}

body > main {
  font-family: 'Inter', sans-serif;
  background-color: #EEEFF4;
  display: grid;
  gap: 100px;
  padding-bottom: 100px;

  .where-top {
    display: flex;
    margin-top: 25px;

    .where-top-page {
      text-decoration: none;
      color: #969BAB;
      transition: .3s;
      font-size: 12px;
      line-height: 24px;

      &:hover {
        color: #FC5057;
        transition: .3s;
      }
    }

    .where-top-point-block {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;

      .where-top-point {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #969BAB;
      }
    }
  }

  .phone-background {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(20, 20, 20);
    z-index: 1000;
    visibility: hidden;
    overflow: hidden;
  }

  .phone-backgroundActive {
    visibility: visible;
    opacity: 0.9;
  }

  .main-header {
    width: 100%;
    background-color: #474A57;
    padding-top: 50px;
    padding-bottom: 100px;

    .container {
      display: grid;
      gap: 80px;

      .main-headertop {
        text-align: center;
        color: white;
        font-size: 50px;
        font-weight: bold;
        line-height: 50px;
        max-width: 858px;
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }

      .main-headerbottom {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 2fr 1fr;
        max-height: 58px;

        .selectType {
          font-family: 'Inter', sans-serif;
          border: none;
          max-height: 48px;
          height: 100%;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: url('../imgs/main/arrow.svg') no-repeat 96% 50% #EEEFF4;
          border-left: 2px solid #D9D9D9;
          font-size: 16px;
          color: #969BAB;
          width: 197px;
          padding-left: 16px;
          transition: 0.2s;
          cursor: pointer;
          outline: none;

          &:hover {
            color: #FC5057;
            transition: 0.2s;
          }


          option {
            height: 48px;
            width: 197px;
            font-size: 16px;
            color: black;
          }

          &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }

        }

        .range-price {
          display: grid;
          grid-template-columns: 1fr;

          .duo-range-price {
            display: grid;
            grid-template-columns: 1fr 1fr;
          }

          .slider {
            width: 314px;
            position: relative;
            z-index: 0;
          }

          .range-txt {
            display: flex;
            max-height: 48px;
            background-color: #EEEFF4;
            padding-left: 16px;
            padding-right: 16px;
            font-size: 16px;
            color: #969BAB;
            text-align: center;
            gap: 10px;
            transition: 0.2s;

            &:hover {
              color: #FC5057;
              transition: 0.2s;
            }

            &:hover .txt-between {
              color: #FC5057;
              transition: 0.2s;
            }

            &:first-child {
              border-left: 2px solid #D9D9D9;
            }

            .rangetext {
              margin-top: auto;
              margin-bottom: auto;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
            }

            input[type='number'] {
              -moz-appearance: textfield;
            }

            .txt-between {
              width: 100%;
              transition: 0.2s;
            }
          }

        }

        .range-square {
          display: grid;
          grid-template-columns: 1fr;

          .duo-range-price {
            display: grid;
            grid-template-columns: 1fr 1fr;
          }

          .range-txt {
            display: flex;
            max-height: 48px;
            background-color: #EEEFF4;
            padding-left: 16px;
            padding-right: 16px;
            font-size: 16px;
            color: #969BAB;
            text-align: center;
            gap: 10px;
            transition: 0.2s;

            &:hover .txt-between {
              color: #FC5057;
              transition: 0.2s;
            }

            &:hover {
              color: #FC5057;
              transition: 0.2s;
            }

            .rangetext {
              margin-top: auto;
              margin-bottom: auto;
              transition: 0.2s;
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
            }

            input[type='number'] {
              -moz-appearance: textfield;
            }

            .txt-between {
              width: 100%;
              transition: 0.2s;
            }

            &:first-child {
              border-left: 2px solid #D9D9D9;
            }
          }
        }

        .txt-between {
          height: 48px;
          border: none;
          background-color: #EEEFF4;
          outline: none;
          font-size: 16px;
          color: #969BAB;
          transition: 0.2s;
        }

        .btn-sbm {
          max-height: 48px;
          border: none;
          cursor: pointer;
          color: white;
          background-color: #ED1C24;
          transition: 0.4s;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          font-size: 16px;
          line-height: 16px;
          font-family: "Inter", sans-serif;

          &:hover {
            background-color: #FC5057;
            transition: 0.2s;
          }
        }
      }
    }

  }

  .project-header {
    width: 100%;
    width: 100%;

    .container {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .main-headertop {
        font-weight: 700;
        font-size: 50px;
        line-height: 75px;
        color: #18191F;
      }

      .project-headertop-txt {
        max-width: 850px;
        font-size: 16px;
        line-height: 27px;
        color: #212121;
      }

      .main-headerbottom {
        display: flex;
        max-height: 49px;
        margin-top: 50px;

        .project-filter-svg {
          position: relative;
          display: flex;
          height: 48px;
          width: 200px;
          cursor: pointer;

          &:first-child {
            border-left: 1px solid #D9D9D9;
          }

          &:hover {
            .filter-svg {
              path {
                fill: #FC5057;
                transition: .3s;
              }
            }

            .selectType {
              color: #FC5057;
              transition: .3s;

              option {
                color: #212121;;
                transition: .3s;
              }
            }
          }

          .filter-svg {
            position: absolute;
            top: 30%;
            left: 10px;

            path {
              transition: .3s;
            }
          }

          .selectType {
            width: 100%;
            padding-left: 40px;
          }
        }

        .selectType {
          font-size: 16px;
          line-height: 27px;
          height: 48px;
          border: 1px solid #D9D9D9;
          border-left: none;
          color: #474A57;
          background: url('../imgs/main/arrow.svg') no-repeat 96% 50% #EEEFF4;
          transition: .3s;
          padding-left: 10px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          padding-right: 40px;

          &:hover {
            color: #FC5057;
            transition: .3s;

            option {
              color: #212121;;
              transition: .3s;
            }
          }

          option {
            font-size: 16px;
            transition: .3s;
            cursor: pointer;
          }
        }

        .duo-range {
          .duo-range-price {
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 48px;
            border: 1px solid #D9D9D9;
            border-left: none;
            align-items: center;
            gap: 15px;

            .range-txt {
              display: flex;
              padding: 0 10px;

              &:hover {
                .rangetext {
                  color: #FC5057;
                  transition: .3s;
                }

                .txt-between {
                  transition: .3s;
                  color: #FC5057;
                }
              }

              .rangetext {
                font-size: 13px;
                line-height: 22px;
                color: #969BAB;
                display: flex;
                align-items: flex-end;
                transition: .3s;
              }

              .txt-between {
                border: none;
                background: none;
                font-size: 15px;
                line-height: 26px;
                color: #969BAB;
                outline: none;
                padding: 0 5px;
                max-width: 77px;
                transition: .3s;
              }
            }

            .slider {
              height: 1px;
            }
          }
        }

        .range-square {
          .duo-range-price {
            .range-txt {
              .txt-between {
                max-width: 35px;
              }
            }
          }
        }

        .btn-sbm {
          font-size: 16px;
          line-height: 24px;
          padding: 12px 63px;
          background: none;
          border: 1px solid #ED1C24;
          border-radius: 4px;
          margin-left: auto;
          cursor: pointer;
          color: #474A57;
          transition: .3s;

          &:hover {
            background: #FC5057;
            color: white;
            transition: .3s;
          }
        }
      }
    }
  }

  .main {
    background-color: #EEEFF4;

    .main-top {
      display: grid;
      gap: 50px;

      .main-topHeader {
        display: grid;
        gap: 10px;

        .build-logo {
          max-width: 667px;
          max-height: 166px;
          text-align: center;
          display: grid;
          gap: 24px;
          margin: 0 auto;


          h2 {
            font-size: 37px;
            line-height: 44px;
          }

          p {
            font-size: 16px;
            max-width: 371px;
            margin-left: auto;
            margin-right: auto;
            color: #474A57;
            line-height: 27px;
          }
        }

        .build-logo-filter {
          margin-right: auto;
          font-size: 16px;
          color: #474A57;
          background: none;
          border: 1px solid #D9D9D9;
          padding: 10px 5px;
        }


        .build-logoProject {
          width: 100%;
          display: flex;

          gap: 30px;

          .filter {
            margin-right: auto;
            display: flex;
            justify-content: center;
            background: none;
            border: none;
            gap: 10px;
            font-size: 16px;
            line-height: 27px;
            color: #969BAB;
            align-items: center;
            cursor: pointer;
            transition: 0.2s;

            path {
              transition: 0.2s;
            }

            &:hover {
              color: #FC5057;
              transition: 0.2s;
            }

            &:hover path {
              fill: #FC5057;
              transition: 0.2s;
            }
          }

          .filterForm {
            display: none;
            gap: 15px;
            justify-content: center;

            input[type="radio"] {
              display: none;
            }

            .filterLabel {
              display: flex;
              align-items: center;
              gap: 3px;
              color: #969BAB;
              font-size: 16px;
              transition: 0.2s;


              &:hover {
                color: #FC5057;
                transition: 0.2s;
              }

              &:hover:before {
                border-color: #FC5057;
                transition: 0.2s;
              }

            }

            .filterLabel:before {
              content: "";
              width: 10px;
              height: 10px;
              border: 1px solid #969BAB;
            }

            input:checked + .filterLabel:before {
              content: '';
              width: 10px;
              height: 10px;
              background-color: #ED1C24;
              border: 1px solid #ED1C24;
            }

            input:checked + .filterLabel {
              color: #ED1C24;
            }
          }

          .filterActive {
            display: flex;
          }

        }

      }

      .watch-more-card {
        background: #969BAB;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        padding: 12px 64px;
        font-size: 16px;
        line-height: 24px;
        color: white;
        transition: .2s;
        margin: 0 auto;

        &:hover {
          background-color: #FC5057;
          transition: .2s;
        }
      }
    }

    .main-middle {
      width: 100%;
      position: relative;

      .card-section-fetch {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;

        .background {
          z-index: 3;
          opacity: 0.4;
          background: white;
          position: absolute;
          width: 100%;
          height: 100%;
        }

        .load {
          width: 90px;
          height: 90px;
          border: 15px solid black;
          position: relative;
          z-index: 4;
          opacity: 1;
          border-radius: 50%;
          border-top-color: #FC5057;
          animation: 0.6s loading infinite linear;
        }
      }


    }

    .card-pagination {
      margin: 0 auto;
      display: flex;
      list-style: none;
      gap: 10px;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border: 1px solid #DFE3E8;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        background: white;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          border-color: #919EAB;
          background: #919EAB;
          color: #C4CDD5;
          transition: .3s;
        }
      }

      .active-page {
        border-color: #FC5057;
        color: #FC5057;
      }

      .page-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border: 1px solid #DFE3E8;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        background: white;
        border-radius: 4px;
        cursor: pointer;

        &:disabled {
          opacity: 0.3;
        }

        &:not(:disabled):hover {
          border-color: #919EAB;
          background: #919EAB;
          color: #C4CDD5;
          transition: .3s;
        }
      }
    }
  }
}

.main-video {

  .container {
    background: #B98F4F;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    display: flex;
    gap: 11px;
    max-height: 480px;

    .video-player {
      padding: 64px;
      display: grid;
      gap: 100px;

      .video-txt {
        font-weight: bold;
        font-size: 29px;
        color: #EEEFF4;
        line-height: 40px;
      }

      .button-video {
        display: grid;
        gap: 54px;

        .video-txtUse {
          font-size: 16px;
          line-height: 24px;
          color: #FFFFFF;
          font-weight: normal;
        }

        .video-active {
          text-decoration: none;
          max-width: 150px;
          display: flex;
          gap: 16px;
          font-size: 16px;
          color: white;
          align-items: center;
          background: none;
          cursor: pointer;
          transition: 0.2s;
        }
      }

    }

    .imgVideo {
      max-width: 880px;
      width: 100%;
      height: 100%;
      background: url("../imgs/main/imgVideo.png") 95% 100%;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;

    }
  }
}

.about-us {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 50px;
  width: 100%;

  .about-container {
    display: grid;
    gap: 24px;

    .about-txt {
      color: #18191F;
      font-size: 37px;
      line-height: 44px;
      font-weight: bold;
      text-align: center;
    }

    .about-ustxt {
      font-size: 16px;
      color: #474A57;
      line-height: 27px;
      text-align: center;
      max-width: 652px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .SwiperExample {
    background-color: #303D4E;
    width: 100%;
    overflow: hidden;

    .container {
      margin-top: 0;
      position: relative;
      padding-bottom: 0;
      display: grid;
      gap: 25px;
      padding-top: 100px;

      .swiper-Btns {
        display: flex;
        gap: 25px;
        justify-content: center;
        margin-bottom: 100px;

        .swiperTop-button-next {
          cursor: pointer;
          z-index: 250;
          transition: 0.2s;

          .btnArrow {
            transition: 0.2s;
          }

          &:hover .btnArrow {
            fill: #FC5057;
            transition: 0.2s;
          }
        }

        .swiperTop-button-prev {
          z-index: 250;
          cursor: pointer;
          transition: 0.2s;

          .btnArrow {
            transition: 0.2s;
          }

          &:hover .btnArrow {
            fill: #FC5057;
            transition: 0.2s;
          }
        }
      }
    }

    .swiper {
      padding-bottom: 0;

      .swiper-wrapper {
        .slide-box {
          display: grid;
          grid-template-columns: 1fr 1fr;

          .slide-imgExample {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }

          .swiperExampleTxt {
            display: grid;
            grid-template-rows: 1fr 1fr;

            .swiperExampleTxtTop {
              display: grid;
              background-color: white;


              .swiperTop {
                margin: 64px auto;
                display: grid;
                gap: 50px;

                .swiperExampleTop {
                  display: grid;
                  gap: 24px;

                  h3 {
                    font-weight: bold;
                    font-size: 29px;
                    line-height: 40px;
                    color: #18191F;
                  }

                  p {
                    font-size: 16px;
                    line-height: 27px;
                    color: #18191F;
                  }
                }

                .swiperExampleBottom {
                  display: flex;
                  gap: 40px;

                  .swiper-sizeInfo {
                    display: grid;
                    gap: 8px;

                    svg {
                      max-width: 36px;
                      max-height: 36px;
                    }
                  }
                }
              }

            }

            .swiperExampleTxtBottom {
              display: grid;

              .swiperButton {
                margin: auto auto;
                display: flex;
                flex-direction: column;
                gap: 16px;

                .swiperMore {
                  font-size: 16px;
                  line-height: 24px;
                  text-decoration: none;
                  cursor: pointer;
                  color: white;
                  background-color: #ED1C24;
                  border-radius: 4px;
                  padding: 12px 100px;
                  margin: auto auto;
                  display: flex;
                  justify-content: center;
                  transition: 0.2s;

                  &:hover {
                    background-color: #FC5057;
                    transition: 0.2s;
                  }
                }

                .swiperTel {
                  font-size: 16px;
                  line-height: 24px;
                  text-decoration: none;
                  cursor: pointer;
                  color: white;
                  border-radius: 4px;
                  border: 1px solid white;
                  padding: 12px 100px;
                  transition: 0.2s;

                  &:hover {
                    color: #FC5057;
                    border-color: #FC5057;
                    transition: 0.2s;
                  }
                }

                .form-container {
                  display: none;

                  .form-phone {
                    display: grid;
                    gap: 25px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .stages {
      display: grid;
      gap: 50px;
      padding-bottom: 100px;

      .stages-top {
        text-align: center;
        color: white;
        display: grid;
        gap: 24px;

        h2 {
          font-weight: bold;
          font-size: 37px;
          line-height: 44px;
        }

        p {
          font-size: 16px;
          line-height: 27px;
        }
      }

      .stages-img {
        display: flex;
        gap: 24px;

        .stages-svg {
          width: 302px;
          height: 322px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative;
          background: #FFFFFF;
          border-radius: 15px;
          padding: 24px 24px;
          overflow: hidden;
          transition: 0.2s;

          &:hover {
            background-color: #ED1C24;
            transition: 0.2s;

            h3 {
              color: white;
              transition: 0.2s;
            }

            p {
              color: white;
              transition: 0.2s;
            }

            .stage-svg {
              background-color: white;
              transition: 0.2s;

              path {
                fill: red;
                transition: 0.2s;
              }
            }

            .stage-arrow {
              circle {
                fill: white;
                transition: 0.2s;
              }

              path {
                fill: #ED1C24;
                stroke: #ED1C24;
                transition: 0.2s;
              }
            }

            .stage-number-one {
              path {
                fill: white;
                transition: 0.2s;
              }
            }

            .stage-number {
              path {
                fill: white;
                transition: 0.2s;
              }
            }
          }


          h3 {
            font-size: 21px;
            line-height: 135%;
            color: #303D4E;
            transition: 0.2s;
          }

          p {
            font-size: 14px;
            line-height: 18px;
            color: #474A57;
            margin-top: auto;
            transition: 0.2s;
          }

          .stage-svg {
            width: 90px;
            height: 90px;
            border-radius: 20px;
            background-color: #D9DBE1;
            display: flex;
            margin-top: 46px;
            transition: 0.2s;

            svg {
              margin: auto auto;
              transition: 0.2s;
            }
          }

          .stage-arrow {
            position: absolute;
            left: 254px;
            top: 24px;
            transition: 0.2s;
          }

          .stage-number-one {
            position: absolute;
            left: 76.52%;
            top: 56.3%;
            transition: 0.2s;
          }

          .stage-number {
            position: absolute;
            right: 0;
            top: 56.3%;
            transition: 0.2s;
          }
        }
      }
    }
  }
}

.houseProject {
  display: grid;
  gap: 50px;

  .house-projectHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    h2 {
      font-size: 37px;
      color: #18191F;
    }

    p {
      font-size: 16px;
      color: #474A57;
    }
  }

  .project-block {
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow: hidden;
  }

  .swiper2Title {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &:nth-child(odd) {
      .swiper2Left {
        order: 2;
      }
    }

    .swiper2Left {
      background-color: white;

      .swiper2LeftBlock {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin: 40px auto 40px 40px;

        .swiper2LeftTop {
          display: flex;
          flex-direction: column;
          gap: 25px;
          max-width: 525px;

          h3 {
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            color: #18191F;
          }

          p {
            font-size: 16px;
            line-height: 24px;
            color: #474A57;
          }
        }

        a {
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #ED1C24;
          border: 1px solid #ED1C24;
          border-radius: 4px;
          padding: 12px 68px;
          margin-right: auto;
          text-decoration: none;
          transition: 0.2s;

          &:hover {
            color: white;
            border-color: #FC5057;
            background-color: #FC5057;
            transition: 0.2s;
          }
        }
      }

      .swiper2Reverse {
        margin: 40px 40px 40px auto;

        .swiper2LeftTop {
          text-align: end;
          margin-left: auto;
        }

        a {
          margin-left: auto;
          margin-right: 0;
        }
      }


    }

    .swiper2Right {
      overflow: hidden;

      .swiper2 {

        .swiper-slide {
          position: relative;
          display: flex;
        }

        &:hover {

          .swiper2IMG {
            opacity: 0.9;
            transition: 0.2s;
          }

          .swiper2-img-name {
            background-color: white;
            transition: 0.2s;
          }
        }

        .swiper2IMG {
          width: 100%;
          height: auto;
          object-fit: cover;
          transition: 0.2s;

        }

        .swiper2-img-name {
          position: absolute;
          padding: 8px 16px;
          background-color: #D7B45D;
          right: 40px;
          top: 40px;
          border-radius: 5px;
          transition: 0.2s;
          color: black;
        }
      }

      .swiper2RightBottom {
        display: flex;
        background-color: #303D4E;
        height: 64px;
        justify-content: space-between;
        padding-left: 40px;
        padding-right: 40px;

        .swiper2Icon {
          margin: auto 0;

          .project-share {
            background: none;
            border: none;

            > svg {
              cursor: pointer;

              path {
                transition: 0.2s;
              }

              &:hover path {
                fill: #FC5057;
                transition: 0.2s;
              }
            }
          }

          .project-link {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-left: 20px;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.4s, visibility 0.4s;
            z-index: 100;

            .btn-share {
              font-size: 16px;
              background: none;
              border: none;
              transition: 0.2s;
              font-family: "Inter", sans-serif;
              border-radius: 50%;
              cursor: pointer;
              display: flex;

              svg {
                width: 36px;
                height: 36px;
              }

              path {
                transition: .2s;
                fill: white;
              }

              &:hover path {
                fill: #FC5057;
                transition: .2s;
              }
            }

            .telegram {
              &:hover path {
                fill: none;
                stroke: #FC5057;
                transition: .2s;
              }

              &:hover line {
                fill: none;
                stroke: #FC5057;
                transition: .2s;
              }

              path {
                transition: .2s;
                stroke: white;
                fill: none;
              }

              line {
                fill: none;
                transition: .2s;
                stroke: white;
              }
            }
          }

          .share-active {
            opacity: 1;
            visibility: visible;
          }

          &:first-child {
            display: flex;
            gap: 12px;
          }

          &:last-child {
            display: flex;
            gap: 40px;
          }

          .swiper2-button-next {
            transition: .2s;
            cursor: pointer;

            path {
              transition: .2s;
            }

            &:hover path {
              fill: #FC5057;
              transition: .2s;
            }
          }

          .swiper2-button-prev {
            cursor: pointer;

            path {
              transition: .2s;
            }

            &:hover path {
              fill: #FC5057;
              transition: .2s;
            }
          }
        }
      }
    }
  }

  .swiper2WatchMore {
    margin-left: auto;
    margin-right: auto;
    background: #969BAB;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 12px 64px;
    transition: 0.2s;

    &:hover {
      background-color: #FC5057;
      transition: 0.2s;
    }
  }

}

.why {
  display: grid;
  gap: 50px;

  .whyAsk {
    text-align: center;
    display: grid;
    gap: 24px;

    h2 {
      font-weight: bold;
      font-size: 37px;
      line-height: 44px;
      color: #18191F;
    }

    p {
      font-size: 16px;
      color: #474A57;
      line-height: 27px;
    }
  }

  .askAnswer {
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-content: space-between;
    margin: 0 auto;

    .answer {
      padding: 10px 15px;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      transition: 0.2s;

      &:hover {
        box-shadow: 0 2px 15px 9px rgba(96, 97, 112, 0.1);
        transition: 0.2s;
      }
    }


    .answer-top {
      display: flex;
      gap: 10px;
      margin-bottom: 25px;
    }

    h2 {
      margin: 24px 0;
      color: #000000;
      font-weight: bold;
      font-size: 21px;
      line-height: 28px;
    }

    p {
      margin-bottom: auto;
      font-size: 16px;
      line-height: 27px;
      color: #212121;
    }

    &:nth-child(2n) {
      margin-left: auto;
    }
  }
}

.reviews {
  display: grid;
  gap: 50px;

  .review {
    font-size: 16px;
    color: white;
    padding: 12px 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ED1C24;
    border-radius: 4px;
    text-decoration: none;
    line-height: 24px;
    transition: 0.2s;

    &:hover {
      background-color: #FC5057;
      transition: 0.2s;
    }
  }

  .form-container {
    display: none;
    width: 600px;

    .form-phone {
      display: grid;
      gap: 25px;
    }
  }

  .reviews-header {
    display: grid;
    gap: 24px;
    text-align: center;

    h2 {
      font-weight: bold;
      font-size: 37px;
      color: #18191F;
    }

    p {
      font-size: 16px;
      color: #474A57;
    }
  }

  .swiper4 {
    overflow: hidden;
    position: relative;
    z-index: 100;

    .swiper4btn {
      position: absolute;
      z-index: 102;
      display: flex;

      .swiper4-button-next {
        cursor: pointer;

        path {
          transition: 0.2s;
        }

        &:hover path {
          fill: #FC5057;
          transition: 0.2s;
        }
      }

      .swiper4-button-prev {
        margin-right: auto;
        cursor: pointer;

        path {
          transition: 0.2s;
        }

        &:hover path {
          fill: #FC5057;
          transition: 0.2s;
        }
      }
    }

    .swiper4slide {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .swiper4img {
        width: 100%;
        height: auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .swiper4Right {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 60px;
        background-color: white;
        border-left: 18px solid #ED1C24;
        padding-top: 108px;
        padding-bottom: 130px;

        .swiper4RightTop {
          display: flex;
          flex-direction: column;
          gap: 20px;

          h3 {
            font-weight: bold;
            font-size: 29px;
            line-height: 40px;
            color: #111111;
          }

          h5 {
            font-size: 18px;
            line-height: 32px;
            color: #111111;
            font-weight: normal;
          }

          .swiper4Border {
            border-bottom: 3px solid #000000;
            max-width: 84px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
          }
        }

        .swiper4RightText {
          font-size: 16px;
          line-height: 27px;
          color: #303D4E;
          width: 440px;
          margin-left: auto;
          margin-right: auto;
          height: 245px;
          display: flex;
          flex-direction: column;

          .txt-Content {
            text-align: left;
          }

          .review-link {
            margin: auto auto;
            cursor: pointer;
            color: red;
            transition: 0.2s;

            &:hover {
              color: #FC5057;
              transition: 0.2s;
            }
          }
        }
      }
    }

    .swiper4-hidden {
      display: none;
    }
  }
}

.aboutTop {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 770px;
}

.aboutMain {
  display: grid;
  gap: 100px;

  .where-top {
    margin-top: 0;
  }

  .aboutHead {
    display: grid;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;

    .header-about-text {
      border-bottom: solid #000000;
      padding-bottom: 50px;
    }

    .header-about-text2 {
      border-bottom: solid #000000;
      padding-bottom: 50px;
      line-height: 44px;
      font-size: 37px;
    }
  }

  .aboutText {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    .about-text {
      font-size: 18px;
      line-height: 32px;
      color: #212121;
    }
  }

  .about-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .about-img-grid {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .about-img-right {
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 24px;
    }

    .about-img-grid-left {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .about-what {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 300px;

    .about-what2 {
      display: flex;
      gap: 36px;

      .about-box {
        width: 24px;
        height: 24px;
        margin: auto 0;
        background-color: #969BAB;
        flex-shrink: 0;
      }

      .about-what-text {
        font-size: 18px;
        line-height: 32px;
        color: #212121;
      }
    }
  }

  .about-us2 {
    max-width: 600px;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0 auto;

    .about-us2-h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 40px;
      color: #212121;
      text-align: center;
      margin: 24px 0;
    }
  }
}

.fancybox__container {
  cursor: auto;

  .form-container {
    border-radius: 10px;

    .form-phone {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      gap: 40px;
      font-family: 'Inter', sans-serif;
      font-size: 24px;

      .form-h {
        color: #262626;
        font-size: 37px;
        line-height: 44px;
        margin-bottom: 10px;
        text-align: center;
      }

      label {
        display: grid;
        gap: 24px;
        transition: 0.2s;
        max-width: 520px;
        width: 100%;

        &:hover {
          color: #FC5057;
          transition: 0.2s;
        }

        input {
          max-width: 520px;
          width: 100%;
          height: 40px;
          border-radius: 5px;
          padding: 7px 16px;
          background-color: #EEEFF4;
          color: #BFBFBF;
          border: 1px solid #BFBFBF;
          font-size: 14px;
          line-height: 24px;

        }
      }

      textarea {
        border-radius: 5px;
        padding: 12px 16px;
        background-color: #EEEFF4;
        color: #BFBFBF;
        border: 1px solid #BFBFBF;
        font-size: 14px;
        line-height: 24px;
        font-family: 'Inter', sans-serif;
        max-width: 500px;
      }

      .accept {
        display: flex;
        color: #707070;
        gap: 20px;
        max-width: 440px;
        font-size: 12px;
        line-height: 16px;
        background: none;
        transition: 0.2s;

        .check {
          width: 20px;
          height: 20px;
          border: 1px solid #ED1C24;
          border-radius: 4px;
          display: flex;
          flex-shrink: 0;

          svg {
            margin: auto auto;
          }
        }

        .accept-input {
          display: none;
        }

        .accept-input:checked + .check {
          background-color: #ED1C24;
          transition: 0.2s;
        }
      }

      .rephone {
        border: none;
        font-size: 14px;
        padding: 12px 92px;
        background-color: #ED1C24;
        border-radius: 4px;
        color: #FFFFFF;
        transition: 0.2s;
        margin: 0 auto;

        &:hover {
          background-color: #FC5057;
          color: white;
          transition: 0.2s;
        }
      }
    }
  }

  .fancybox__carousel.is-draggable .fancybox__slide, .fancybox__carousel.is-draggable .fancybox__slide .fancybox__content {
    cursor: auto;
  }

  .swiper4slide {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .swiper4img {
      width: 100%;
      height: auto;
      object-fit: contain;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .swiper4Right {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 60px;
      background-color: white;
      border-left: 18px solid #ED1C24;
      padding-top: 108px;
      padding-bottom: 130px;
      font-family: "Inter", sans-serif;

      .swiper4RightTop {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h3 {
          font-weight: bold;
          font-size: 29px;
          line-height: 40px;
          color: #111111;
        }

        h5 {
          font-size: 18px;
          line-height: 32px;
          color: #111111;
          font-weight: normal;
        }

        .swiper4Border {
          border-bottom: 3px solid #000000;
          max-width: 84px;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .swiper4RightText {
        font-size: 16px;
        line-height: 27px;
        color: #303D4E;
        width: 440px;
        margin-left: auto;
        margin-right: auto;
        height: 380px;
        display: flex;
        flex-direction: column;
        overflow: auto;
        scrollbar-color: #D9DBE1 #EEEFF4;
        scrollbar-width: thin;

        &::-webkit-scrollbar {
          width: 9px; /* ширина для вертикального скролла */
          background-color: #EEEFF4;
          border-radius: 9px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #D9DBE1;
          border-radius: 9em;
        }

        .txt-Content {
          text-align: left;
        }

        .review-link {
          margin: auto auto;
          cursor: pointer;
          color: red;
          transition: 0.2s;

          &:hover {
            color: #FC5057;
            transition: 0.2s;
          }
        }
      }
    }
  }

  .fancybox__content > .carousel__button.is-close {
    top: 10px;
    right: 7px;
    color: black;
  }
}

.phone-menu-active {
  main {
    filter: blur(2px);
  }
}

.card-page {
  gap: 0;

  .card-top {
    background-color: #303D4E;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .swiper5box {
     display: flex;
      gap: 16px;
      margin-bottom: 150px;
      margin-top: 16px;
    }

    .swiper5 {
      width: 100%;
      overflow: hidden;
      article {
        overflow: hidden;
      }
      .swiper-wrapper {
        width: 100%;
        height: auto;
      }
      img {
        width: 100%;
        height: auto;
      }
    }

    .swiper5btn {
      width: 40px;
      height: 40px;
      border: 1px solid white;
      border-radius: 50%;
      margin: auto 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .3s;
      cursor: pointer;
      flex-shrink: 0;

      svg {
        path {
          transition: .3s;
        }
      }

      &:hover {
        border-color: #FC5057;
        transition: .3s;

        svg {
          path {
            fill: #FC5057;
            transition: .3s;
          }
        }
      }
    }
  }

  .card-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;

    .card-info-left {
      display: flex;
      flex-direction: column;
      gap: 50px;

      .card-ul {

        #card-ul-2 {
          display: none;
        }

        .card-ul-li {
          list-style: none;
          display: flex;
          align-items: center;
          gap: 16px;
          color: #474A57;
          font-size: 18px;
          line-height: 22px;
          padding: 16px 10px;
          border-top: 1px solid #D9DBE1;

          &:last-child {
            border-bottom: 1px solid #D9DBE1;
          }

          & > svg {
            width: 40px;
            height: 40px;
          }

          .white-svg {
            background-color: white;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          span {
            margin-left: auto;
          }
        }
      }

      .card-info-more {
        display: none;
        flex-direction: column;

        .card-info-more-text {
          color: #474A57;
          font-size: 18px;
          line-height: 22px;
          padding: 0 10px;
        }
      }

      .card-btns {
        border-bottom: 1px solid #D9DBE1;
        display: flex;

        .card-btn {
          background-color: #969BAB;
          color: white;
          border: none;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          padding: 24px 100px;
          transition: .3s;
          cursor: pointer;

          &:hover {
            background-color: #FC5057;
            color: white;
            transition: .3s;
          }
        }

        .card-btn-active {
          background-color: #EEEFF4;
          color: #474A57;
          cursor: auto;

          &:hover {
            background-color: #EEEFF4;
            color: #474A57;
          }
        }
      }
    }

    .card-info-right {
      background-color: white;
      box-shadow: 0 4px 4px rgba(96, 97, 112, 0.1);
      border-radius: 8px;
      padding: 48px;
      display: flex;
      gap: 16px;
      align-items: center;
      flex-direction: column;
      transform: translateY(-60px);
      height: 470px;

      h3 {
        font-weight: 700;
        font-size: 29px;
        color: #18191F;
        line-height: 40px;
      }

      p {
        color: #18191F;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        text-align: center;
        max-width: 250px;
      }

      .price {
        font-weight: 400;
        font-size: 29px;
        line-height: 40px;
        color: #18191F;
      }

      .call {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ED1C24;
        border-radius: 4px;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        cursor: pointer;
        padding: 12px 103px;
        transition: .3s;
        border: 1px solid #ED1C24;
        margin-top: 16px;

        path {
          transition: .3s;
        }

        &:hover {
          background-color: white;
          color: #FC5057;
          border: 1px solid #FC5057;
          transition: .3s;

          path {
            fill: #FC5057;
            transition: .3s;
          }
        }
      }

      .buy {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        line-height: 24px;
        color: #18191F;
        border: 1px solid #18191F;
        border-radius: 4px;
        background-color: white;
        padding: 12px 50px;
        cursor: pointer;
        transition: .3s;

        &:hover {
          border-color: #FC5057;
          color: white;
          background-color: #FC5057;
          transition: .3s;
        }
      }

      .project-button {
        display: flex;
        gap: 40px;
        position: relative;
        z-index: 3;


        .project-link {
          transform: translate(27%, 60%);
          position: absolute;
          display: flex;
          gap: 5px;
          background-color: white;
          border-radius: 5px;
          padding: 5px;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.4s, visibility 0.4s;
          z-index: 100;
          right: 0;


          .btn-share {
            font-size: 16px;
            background: none;
            border: none;
            transition: 0.2s;
            padding: 5px 5px;
            font-family: "Inter", sans-serif;
            border-radius: 50%;
            cursor: pointer;
            display: flex;

            svg {
              width: 36px;
              height: 36px;
            }

            path {
              transition: .2s;
              fill: #969BAB;
            }

            &:hover path {
              fill: #FC5057;
              transition: .2s;
            }
          }

          .telegram {
            &:hover path {
              fill: none;
              stroke: #FC5057;
              transition: .2s;
            }

            &:hover line {
              fill: none;
              stroke: #FC5057;
              transition: .2s;
            }

            path {
              transition: .2s;
              fill: white;
              stroke: #969BAB;
            }

            line {
              stroke: #969BAB;
              transition: .2s;
            }
          }
        }

        .share-active {
          opacity: 1;
          visibility: visible;
        }

        .project-buttons {
          background: none;
          cursor: pointer;
          margin-bottom: auto;
          border: none;
          position: relative;
          z-index: 4;

          path {
            transition: 0.2s;
          }

          &:hover path {
            fill: #FC5057;
            transition: 0.2s;
          }
        }

        .project-active {
          path {
            fill: red;
          }
        }
      }
    }
  }

  .project-layout {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .layout-btns {
      width: 100%;
      border-bottom: 0.5px solid #303D4E;
      display: flex;
      gap: 40px;

      .layout-btn {
        color: #303D4E;
        font-size: 16px;
        line-height: 22px;
        border: none;
        border-bottom: 4px solid #969BAB;
        background: none;
        cursor: pointer;
        transition: .3s;
        padding: 8px 16px;

        &:hover {
          border-color: #FC5057;
          color: #FC5057;
          transition: .3s;
        }
      }

      .layout-btn-active {
        border-color: #ED1C24;
        cursor: auto;

        &:hover {
          color: #303D4E;
        }
      }
    }

    .layout-content {
      .layout-img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          cursor: pointer;
        }
      }

      .layout-form {
        background-color: white;
        flex-direction: column;
        padding: 64px 144px;
        gap: 50px;
        display: none;

        .layout-form-header {
          margin: 0 auto;
          font-weight: 700;
          font-size: 37px;
          line-height: 44px;
          color: #262626;
        }

        .layout-form-bottom {
          display: flex;
          gap: 64px;
        }

        .layout-form-left {
          input[type=file] {
            display: none;
          }
          label {
            background: #EEEFF4;
            border: 1px solid #D9D9D9;
            border-radius: 4px;
            display: flex;
            gap: 6px;
            flex-direction: column;
            cursor: pointer;
            transition: .3s;
            padding: 40px 100px;
            align-items: center;
            svg {
              margin-bottom: 10px;
              path {
                transition: .3s all;
              }
              circle {
                transition: .3s all;
              }
            }
            .file2 {
              color: #474A57;
              font-weight: 700;
              font-size: 21px;
              line-height: 28px;
              text-align: center;

            }
            .file3 {
              font-size: 12px;
              line-height: 16px;
              color: #474A57;
              text-align: center;
            }

            &:hover {
              background: #FC5057;
              transition: .3s;
              svg {
                fill: #FC5057;
                transition: .6s;
                path {
                  transition: .3s;
                  stroke: white;
                }
                circle {
                  stroke: white;
                  transition: .3s;
                }
              }
              .file2 {
                color: white;
              }
              .file3 {
                color: white;
              }
            }
          }
          .file-how {
            color: #474A57;
            text-decoration: underline;
            font-size: 16px;
            line-height: 27px;
            display: block;
            margin-top: 44px;
            text-align: center;
            cursor: pointer;
            transition: .3s all;

            &:hover {
              color: #FC5057;
            }
          }
        }

        .layout-form-right {
          display: flex;
          flex-direction: column;
          margin: 0 auto;
          gap: 40px;
          font-family: 'Inter', sans-serif;
          font-size: 24px;

          label {
            display: grid;
            gap: 24px;
            transition: 0.2s;
            max-width: 520px;
            width: 100%;

            &:hover {
              color: #FC5057;
              transition: 0.2s;
            }

            input {
              max-width: 520px;
              width: 100%;
              height: 40px;
              border-radius: 5px;
              padding: 7px 16px;
              background-color: #EEEFF4;
              color: #BFBFBF;
              border: 1px solid #BFBFBF;
              font-size: 14px;
              line-height: 24px;
              outline: none;

              &:focus {
                outline: none;
              }
            }
          }

          .accept {
            display: flex;
            color: #707070;
            gap: 20px;
            max-width: 440px;
            font-size: 12px;
            line-height: 16px;
            background: none;
            transition: 0.2s;

            .check {
              width: 20px;
              height: 20px;
              border: 1px solid #ED1C24;
              border-radius: 4px;
              display: flex;
              flex-shrink: 0;

              svg {
                margin: auto auto;
              }
            }

            .accept-input {
              display: none;
            }

            .accept-input:checked + .check {
              background-color: #ED1C24;
              transition: 0.2s;
            }
          }

          .rephone {
            border: none;
            font-size: 14px;
            padding: 12px 92px;
            background-color: #ED1C24;
            border-radius: 4px;
            color: #FFFFFF;
            transition: 0.2s;
            margin-right: auto;

            &:hover {
              background-color: #FC5057;
              color: white;
              transition: 0.2s;
            }
          }

        }
      }
    }
  }

  .card-price {
    margin-top: 100px;

    & > h3 {
      padding-bottom: 50px;
      font-weight: 700;
      font-size: 37px;
      line-height: 44px;
      color: #18191F;
      border-bottom: 1px solid black;
      margin-bottom: 50px;
    }

    .price-btns {
      display: flex;
      gap: 8px;
      margin-bottom: 1px;

      .price-btn {
        width: 237px;
        border: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        background: #B98F4F;
        border-radius: 8px 8px 0 0;
        padding: 15px 36px;
        transition: .3s;

        &:hover {
          background-color: #FC5057;
          transition: .3s;
        }
      }

      .price-btn-active {
        background-color: white;
        color: #474A57;
        cursor: auto;

        &:hover {
          background-color: white;
          color: #474A57;
        }
      }
    }

    .price-block {
      display: none;
      gap: 24px;
      background-color: white;
      padding: 64px;

      .price-block-left {
        display: flex;
        flex-direction: column;
        max-width: 565px;
        width: 100%;

        .price-block-left-list {
          padding: 16px 8px;
          border-top: 1px solid #D9DBE1;

          svg {
            transition: .3s;
          }

          &:last-child {
            border-bottom: 1px solid #D9DBE1;
          }

          .price-block-left-button {
            width: 100%;
            border: none;
            cursor: pointer;
            background: none;
            transition: .3s;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 400;
            font-size: 18px;
            color: #474A57;
            line-height: 32px;

            path {
              transition: .3s;
            }

            &:hover {
              color: #FC5057;
              transition: .3s;

              path {
                stroke: #FC5057;
                transition: .3s;
              }
            }
          }

          .price-block-left-ul {
            margin-top: 0;
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-left: 30px;
            overflow: hidden;
            max-height: 0;
            transition: .5s;

            .price-block-left-li {
              display: flex;
              gap: 24px;
              font-weight: 400;
              font-size: 16px;
              line-height: 27px;
              color: #474A57;
              transition: .5s;

              .checked {
                width: 24px;
                height: 24px;
                background: url("./../imgs/cards/checked.png");
              }
            }
          }
        }

        .price-block-left-list-active {
          svg {
            transform: rotate(45deg);
            transition: .5s;
          }

          .price-block-left-ul {
            max-height: 100vh;
            margin-top: 24px;
          }
        }
      }

      .price-block-right {
        .price-block-right-top {
          border-top: 1px solid #D9DBE1;
          border-bottom: 1px solid #D9DBE1;
          padding: 16px 8px 65px 8px;

          h3 {
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            color: #474A57;
          }

          .price-block-right-form {
            display: flex;
            gap: 4px;

            input {
              display: none;
            }

            label {
              margin-top: auto;
              display: flex;
              flex-direction: column;
              gap: 10px;
              position: relative;

              .radio-checkbox {
                width: 19px;
                order: 2;
                height: 19px;
                border-radius: 50%;
                background: rgba(153, 153, 153, 0.5);
                border: 1px solid rgba(158, 158, 158, 0.25);
                margin: 7px auto 0 auto;
              }

              span {
                position: absolute;
                top: 110%;
                color: #474A57;
                font-weight: 400;
                font-size: 9px;
                line-height: 16px;
                display: none;
              }

              img {
                width: 100%;
                height: auto;
              }
            }

            input:checked + .radio-checkbox {
              background: #FC5057;
              width: 19px;
              height: 19px;
              border: solid 2px white;
              outline: solid 2px #FC5057;
            }

            input:checked + .radio-checkbox + span {
              display: block;
            }
          }
        }

        .price-block-right-bottom {
          border-bottom: 1px solid #D9DBE1;
          padding: 16px 8px 65px 8px;
          display: flex;
          flex-direction: column;
          gap: 40px;

          h3 {
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            color: #474A57;
          }

          .price-block-right-form {
            display: flex;
            gap: 4px;
            justify-content: space-between;

            input {
              display: none;
            }

            label {
              margin-bottom: auto;
              display: flex;
              flex-direction: column;
              gap: 8px;
              position: relative;
              justify-content: center;
              align-items: center;

              span {
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #212121;
              }


              img {
                max-width: 70px;
                height: auto;
              }

              .radio-checkbox {
                width: 19px;
                order: 2;
                height: 19px;
                border-radius: 50%;
                background: rgba(153, 153, 153, 0.5);
                border: 1px solid rgba(158, 158, 158, 0.25);
                margin-top: 7px;
              }
            }

            input:checked + .radio-checkbox {
              background: #FC5057;
              width: 19px;
              height: 19px;
              border: solid 2px white;
              outline: solid 2px #FC5057;
            }

            .price-card-span {
              order: 4;
            }

          }
        }
      }
    }
    .active-price-block {
      display: flex;
    }
  }

  .card-price-mobile {
    margin-top: 50px;

    & > h3 {
      padding-bottom: 50px;
      font-weight: 700;
      font-size: 37px;
      line-height: 44px;
      color: #18191F;
      border-bottom: 1px solid black;
      margin-bottom: 50px;
    }

    .price-btns-mobile {
      display: flex;
      gap: 8px;
      flex-direction: column;
      margin-bottom: 1px;

      .price-btn {
        width: 100%;
        border: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        background: #B98F4F;
        border-radius: 8px 8px 0 0;
        padding: 15px 36px;
        transition: .3s;

        &:hover {
          background-color: #FC5057;
          transition: .3s;
        }
      }

      .price-btn-active {
        background-color: white;
        color: #474A57;
        cursor: auto;

        &:hover {
          background-color: white;
          color: #474A57;
        }
      }
    }

    .price-block {
      display: none;
      gap: 50px;
      background-color: white;
      padding: 64px;
      height: 0;
      flex-direction: column;

      .price-block-left {
        display: flex;
        flex-direction: column;
        max-width: 565px;
        width: 100%;

        .price-block-left-list {
          padding: 16px 8px;
          border-top: 1px solid #D9DBE1;

          svg {
            transition: .3s;
          }

          &:last-child {
            border-bottom: 1px solid #D9DBE1;
          }

          .price-block-left-button {
            width: 100%;
            border: none;
            cursor: pointer;
            background: none;
            transition: .3s;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 400;
            font-size: 18px;
            color: #474A57;
            line-height: 32px;

            path {
              transition: .3s;
            }

            &:hover {
              color: #FC5057;
              transition: .3s;

              path {
                stroke: #FC5057;
                transition: .3s;
              }
            }
          }

          .price-block-left-ul {
            margin-top: 0;
            display: flex;
            flex-direction: column;
            gap: 16px;
            margin-left: 30px;
            overflow: hidden;
            max-height: 0;
            transition: .5s;

            .price-block-left-li {
              display: flex;
              gap: 24px;
              font-weight: 400;
              font-size: 16px;
              line-height: 27px;
              color: #474A57;
              transition: .5s;

              .checked {
                width: 24px;
                height: 24px;
                background: url("./../imgs/cards/checked.png");
              }
            }
          }
        }

        .price-block-left-list-active {
          svg {
            transform: rotate(45deg);
            transition: .5s;
          }

          .price-block-left-ul {
            max-height: 100vh;
            margin-top: 24px;
          }
        }
      }

      .price-block-right {
        .price-block-right-top {
          border-top: 1px solid #D9DBE1;
          border-bottom: 1px solid #D9DBE1;
          padding: 16px 8px 65px 8px;

          h3 {
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            color: #474A57;
          }

          .price-block-right-form {
            display: flex;
            gap: 4px;

            input {
              display: none;
            }

            label {
              margin-top: auto;
              display: flex;
              flex-direction: column;
              gap: 10px;
              position: relative;

              span {
                position: absolute;
                top: 110%;
                color: #474A57;
                font-weight: 400;
                font-size: 9px;
                line-height: 16px;
                display: none;
              }

              img {
                width: 100%;
                height: auto;
              }

              &:before {
                content: "";
                width: 19px;
                order: 2;
                height: 19px;
                border-radius: 50%;
                background: rgba(153, 153, 153, 0.5);
                border: 1px solid rgba(158, 158, 158, 0.25);
                margin-top: 7px;
              }
            }

            input:checked + label:before {
              background: #FC5057;
              width: 17px;
              height: 17px;
              border: solid 2px white;
              outline: solid 2px #FC5057;
            }

            input:checked + label > span {
              display: block;
            }
          }
        }

        .price-block-right-bottom {
          border-bottom: 1px solid #D9DBE1;
          padding: 16px 8px 65px 8px;
          display: flex;
          flex-direction: column;
          gap: 40px;

          h3 {
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            color: #474A57;
          }

          .price-block-right-form {
            display: flex;
            gap: 4px;
            justify-content: space-between;

            input {
              display: none;
            }

            label {
              margin-bottom: auto;
              display: flex;
              flex-direction: column;
              gap: 8px;
              position: relative;
              justify-content: center;
              align-items: center;

              span {
                font-weight: 400;
                font-size: 14px;
                line-height: 18px;
                color: #212121;
              }


              img {
                max-width: 70px;
                height: auto;
              }

              &:before {
                content: "";
                width: 19px;
                margin-top: 16px;
                margin-bottom: 8px;
                order: 2;
                height: 19px;
                border-radius: 50%;
                background: rgba(153, 153, 153, 0.5);
                border: 1px solid rgba(158, 158, 158, 0.25);
              }
            }

            input:checked + label:before {
              background: #FC5057;
              width: 17px;
              height: 17px;
              border: solid 2px white;
              outline: solid 2px #FC5057;
            }

            .price-card-span {
              order: 4;
            }

          }
        }
      }
    }
    .active-price-block {
      display: flex;
      height: auto;
      transition: .5s all;
    }
  }
  
  .card-get-price {
    background: white;
    display: flex;
    padding: 24px 80px;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 100px;

    & > span {
      margin-left: auto;
      font-weight: 500;
      font-size: 24px;
      line-height: 41px;
      color: #474A57;
    }

    .getPrice {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 57px;
      background-color: #ED1C24;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 14px;
      line-height: 24px;
      cursor: pointer;
      transition: .3s;

      &:hover {
        background-color: #FC5057;
        transition: .3s;
      }
    }
  }

  .card-stages {
    background-color: #303D4E;
    padding: 80px 0 100px 0;

    .stages {
      display: grid;
      gap: 50px;

      .stages-top {
        text-align: center;
        color: white;
        display: grid;
        gap: 24px;

        h2 {
          font-weight: bold;
          font-size: 37px;
          line-height: 44px;
        }

        p {
          font-size: 16px;
          line-height: 27px;
        }
      }

      .stages-img {
        display: flex;
        gap: 24px;

        .stages-svg {
          width: 302px;
          height: 322px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative;
          background: #FFFFFF;
          border-radius: 15px;
          padding: 24px 24px;
          overflow: hidden;
          transition: 0.2s;

          &:hover {
            background-color: #ED1C24;
            transition: 0.2s;

            h3 {
              color: white;
              transition: 0.2s;
            }

            p {
              color: white;
              transition: 0.2s;
            }

            .stage-svg {
              background-color: white;
              transition: 0.2s;

              path {
                fill: red;
                transition: 0.2s;
              }
            }

            .stage-arrow {
              circle {
                fill: white;
                transition: 0.2s;
              }

              path {
                fill: #ED1C24;
                stroke: #ED1C24;
                transition: 0.2s;
              }
            }

            .stage-number-one {
              path {
                fill: white;
                transition: 0.2s;
              }
            }

            .stage-number {
              path {
                fill: white;
                transition: 0.2s;
              }
            }
          }


          h3 {
            font-size: 21px;
            line-height: 135%;
            color: #303D4E;
            transition: 0.2s;
          }

          p {
            font-size: 14px;
            line-height: 18px;
            color: #474A57;
            margin-top: auto;
            transition: 0.2s;
          }

          .stage-svg {
            width: 90px;
            height: 90px;
            border-radius: 20px;
            background-color: #D9DBE1;
            display: flex;
            margin-top: 46px;
            transition: 0.2s;

            svg {
              margin: auto auto;
              transition: 0.2s;
            }
          }

          .stage-arrow {
            position: absolute;
            left: 254px;
            top: 24px;
            transition: 0.2s;
          }

          .stage-number-one {
            position: absolute;
            left: 76.52%;
            top: 56.3%;
            transition: 0.2s;
          }

          .stage-number {
            position: absolute;
            right: 0;
            top: 56.3%;
            transition: 0.2s;
          }
        }
      }
    }
  }

  .card-more {
    margin-top: 100px;
    overflow: hidden;

    & > h3 {
      padding-bottom: 50px;
      font-weight: 700;
      font-size: 37px;
      line-height: 44px;
      color: #18191F;
      border-bottom: 1px solid black;
      margin-bottom: 50px;
    }
  }
}

.card-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.card-swiper {
  max-width: 430px;
  .swiper-wrapper {
    gap: 23px;
  }
}

.card {
  filter: drop-shadow(0px 4px 4px rgba(96, 97, 112, 0.1));
  border: 1px solid #969BAB;
  border-radius: 8px;
  background-color: white;
  max-width: 411px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  z-index: 1;

  a {
    text-decoration: none;
  }

  &:hover {
    box-shadow: 0 2px 15px 9px rgba(96, 97, 112, 0.1);
    transition: 0.2s;
  }

  &:hover .project {
    opacity: 0.9;
    transition: 0.2s;
  }

  .project {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: contain;
    max-height: 273px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: 0.2s;
  }

  .project-name {
    display: flex;
    gap: 40px;
    padding: 22px;

    .project-h {
      font-size: 29px;
      font-weight: bold;
      line-height: 40px;
      text-decoration: none;
      color: #18191F;
    }

    .project-button {
      display: flex;
      gap: 8px;
      position: relative;
      z-index: 3;


      .project-link {
        transform: translate(0%, 70%);
        position: absolute;
        display: flex;
        gap: 5px;
        background-color: white;
        border: 1px solid #969BAB;
        border-radius: 5px;
        padding: 5px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s, visibility 0.4s;
        z-index: 100;
        right: 0;


        .btn-share {
          font-size: 16px;
          background: none;
          border: none;
          transition: 0.2s;
          padding: 5px 5px;
          font-family: "Inter", sans-serif;
          border-radius: 50%;
          cursor: pointer;
          display: flex;

          svg {
            width: 36px;
            height: 36px;
          }

          path {
            transition: .2s;
          }

          &:hover path {
            fill: #FC5057;
            transition: .2s;
          }
        }

        .telegram {
          &:hover path {
            fill: none;
            stroke: #FC5057;
            transition: .2s;
          }

          &:hover line {
            fill: none;
            stroke: #FC5057;
            transition: .2s;
          }

          path {
            transition: .2s;
          }

          line {
            transition: .2s;
          }
        }
      }

      .share-active {
        opacity: 1;
        visibility: visible;
      }

      .project-buttons {
        background: none;
        cursor: pointer;
        margin-bottom: auto;
        border: none;
        position: relative;
        z-index: 4;

        path {
          transition: 0.2s;
        }

        &:hover path {
          fill: #FC5057;
          transition: 0.2s;
        }
      }

      .project-active {
        path {
          fill: red;
        }
      }
    }
  }

  .project-nametxt {
    font-size: 16px;
    color: #18191F;
    line-height: 27px;
    padding: 2px 22px;
  }

  .card-footer {
    display: grid;
    margin-top: auto;
    padding: 22px;

    .project-info {
      display: flex;
      justify-content: space-between;

      .project-infoRow {
        display: grid;
        gap: 8px;

        svg {
          max-height: 36px;
          max-width: 36px;
        }

        .project-size {
          font-size: 14px;
          line-height: 24px;
          color: #474A57;
        }

        .project-txtSize {
          font-size: 14px;
          line-height: 18px;
          color: #474A57;
        }
      }
    }

    .project-border {
      margin: 36px 0 16px 0;
      border-bottom: 2px solid #969BAB;
    }

    .project-footer {
      display: grid;
      gap: 8px;

      .project-footerInfo {
        display: flex;
        justify-content: space-between;

        .project-type {
          font-size: 16px;
          line-height: 27px;
          color: #18191F;
        }

        .project-summ {
          font-weight: bold;
          font-size: 24px;
          line-height: 32px;
          color: #474A57;
        }
      }
    }
  }

}

.card-new-project {
  background-color: white;
  box-shadow: 0 4px 4px rgba(96, 97, 112, 0.1);
  padding: 40px 110px;
  margin-top: 200px;
  gap: 40px;
  display: flex;

  .card-new-project-txt {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    h4 {
      font-weight: 700;
      font-size: 21px;
      line-height: 28px;
      color: #474A57;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      color: #474A57;
    }
  }

  .card-new-project-form {
    margin-left: auto;
    display: flex;
    gap: 16px;

    input {
      padding: 12px 92px 12px 16px;
      background: #EEEFF4;
      border: 1px solid #969BAB;
      border-radius: 4px;
      font-size: 14px;
      line-height: 24px;
      color: #969BAB;
      transition: .3s;

      &:focus {
        outline: none;
      }

      &:hover {
        border-color: #FC5057;
        color: #FC5057;
        transition: .3s;
      }
    }

    button {
      background: #ED1C24;
      border: none;
      cursor: pointer;
      box-shadow: 0 4px 4px rgba(96, 97, 112, 0.1);
      border-radius: 4px;
      padding: 12px 92px;
      font-size: 14px;
      line-height: 24px;
      color: white;
      transition: .3s;

      &:hover {
        background-color: #FC5057;
        transition: .3s;
      }
    }
  }
}



