@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.hidden {
  display: none;
}

.headertop5 {
  font-weight: 700;
  font-size: 29px;
  line-height: 40px;
  color: #474A57;
}

.top5-block {
  background-color: white;
  padding: 64px;
  display: flex;
  flex-direction: column;
}
.top5-block .top5-block-list {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #D9DBE1;
  overflow: hidden;
}
.top5-block .top5-block-list .top5-block-list-button {
  display: flex;
  gap: 40px;
  align-items: center;
  border: none;
  background: none;
  transition: 0.3s all;
  color: #303D4E;
  font-size: 16px;
  line-height: 27px;
  cursor: pointer;
}
.top5-block .top5-block-list .top5-block-list-button path {
  transition: 0.3s all;
}
.top5-block .top5-block-list .top5-block-list-button:hover {
  color: #FC5057;
}
.top5-block .top5-block-list .top5-block-list-button:hover path {
  fill: #FC5057;
}
.top5-block .top5-block-list .top5-block-list-p {
  font-size: 16px;
  line-height: 27px;
  color: #474A57;
  margin-left: 64px;
  margin-right: 10px;
  height: 0;
  overflow: hidden;
  transition: 0.5s all ease-out;
}
.top5-block .top5-block-list:last-child {
  border-bottom: 1px solid #D9DBE1;
}
.top5-block .top5-block-list-active .top5-block-list-p {
  height: auto;
  transition: 0.5s all ease-out;
  margin-top: 24px;
}

body {
  overflow-x: hidden;
}

body > .preloader {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1001;
  transition: 1s all;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
body > .preloader .loader {
  width: 50px;
  height: 50px;
  max-width: 100px;
  max-height: 100px;
  border: 10px solid white;
  border-radius: 50%;
  border-top-color: #FC5057;
  position: absolute;
  animation: 0.4s loading infinite linear;
}
body > .preloader.done {
  opacity: 0;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body > header {
  font-family: "Inter", sans-serif;
  height: 64px;
}
body > header .container {
  height: 100%;
}
body > header .container .logo-page {
  position: relative;
  z-index: 100;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  background-color: white;
}
body > header .container .logo-page #DropButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  transition: 0.4s;
}
body > header .container .logo-page #DropButton:hover {
  transition: 0.4s;
}
body > header .container .logo-page .logo-svg {
  margin: auto auto;
}
body > header .container .logo-page .phone {
  display: flex;
  transition: 0.4s;
}
body > header .container .logo-page .phone:hover {
  transition: 0.4s;
}
body > header .container .logo-page .phone .phoneNumbers {
  height: auto;
  display: grid;
  background-color: white;
}
body > header .container .logo-page .phone .phoneNumbers .phoneHidden {
  display: none;
}
body > header .container .logo-page .phone .phoneNumbers .phoneActive {
  display: block;
}
body > header .container .logo-page .phone .phoneNumbers a {
  display: block;
  color: #474A57;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
}
body > header .container .logo-page .phone .phoneNumbers a:hover {
  color: #FC5057;
  transition: 0.3s;
}
body > header .container .logo-page .phone .phoneNumbers-active {
  padding-top: 16px;
  height: 128px;
}
body > header .container .logo-page .phone2 {
  max-width: 30px;
  height: auto;
  margin: auto 0;
  background: none;
  border: none;
  cursor: pointer;
}
body > header .container .logo-page .login2 {
  max-width: 30px;
  height: auto;
  margin: auto 0;
}
body > header .container .logo-page .w-786 {
  display: none;
}
body > header .container .logo-page .open {
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  border: none;
  background: none;
  transition: 0.4s;
}
body > header .container .logo-page .open-cursor {
  transform: rotate(180deg);
  transition: 0.5s;
}
body > header .container .logo-page .login {
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #969BAB;
  padding: 8px 16px;
  border: 1px solid #969BAB;
  border-radius: 4px;
  transition: 0.4s;
}
body > header .container .logo-page .login:hover {
  color: #FC5057;
  transition: 0.4s;
  border-color: #FC5057;
}
body > header .container .logo-page .like {
  background: none;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  justify-content: center;
}
body > header .container .logo-page .like .heart-active {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  width: 28px;
  transition: 0.3s;
}
body > header .container .logo-page .like .heart-activeAdd path {
  fill: red;
  transition: 0.2s;
}
body > header .container .logo-page .like .disabled {
  display: none;
  transition: 0.3s;
}
body > header .container .logo-page .like:hover .heart {
  border-color: #FC5057;
  color: #FC5057;
  transition: 0.3s;
}
body > header .container .logo-page .like:hover svg path {
  fill: #FC5057;
  transition: 0.3s;
}
body > header .container .logo-page .like .heart {
  display: flex;
  justify-content: center;
  color: #969BAB;
  font-size: 10px;
  line-height: 1;
  transform: translate(-9px, 5px);
  height: 13px;
  width: 13px;
  max-height: 13px;
  background: white;
  border: 1px solid #969BAB;
  border-radius: 50%;
  padding: 0.5px 2px 1px 2px;
  font-family: "Inter", sans-serif;
  transition: 0.3s;
}
body > header .container .logo-page .like .added {
  color: red;
  border-color: red;
  transition: 0.3s;
}
body > header .container .logo-page .search {
  margin-top: auto;
  margin-bottom: auto;
}
body > header .container .logo-page .search .search-label {
  display: flex;
  justify-content: center;
}
body > header .container .logo-page .search .search-label .searchInp {
  border: none;
  outline: none;
  color: #969BAB;
  font-size: 16px;
  width: 0;
  position: absolute;
  z-index: 101;
  background-color: white;
  top: 16px;
  right: -1%;
  margin-right: 10px;
  transition: 0.5s;
  height: 32px;
}
body > header .container .logo-page .search .search-label .searchInp::-moz-placeholder {
  color: #969BAB;
  transition: 0.2s;
}
body > header .container .logo-page .search .search-label .searchInp::-webkit-input-placeholder {
  color: #969BAB;
  transition: 0.2s;
}
body > header .container .logo-page .search .search-label .searchInp:hover::-moz-placeholder {
  color: #FC5057;
  transition: 0.2s;
}
body > header .container .logo-page .search .search-label .searchInp:hover::-webkit-input-placeholder {
  color: #FC5057;
  transition: 0.2s;
}
body > header .container .logo-page .search .search-label .searchInpWidth {
  width: 200px;
  transition: 0.5s;
  position: absolute;
  z-index: 201;
  top: 16px;
  right: -1%;
  padding: 0;
  height: 32px;
  background-color: white;
  border: 1px solid #969BAB;
  border-radius: 5px;
  padding-left: 10px;
}
body > header .container .logo-page .search .search-label .searchInpWidth:hover {
  border: 1px solid #FC5057;
  color: #FC5057;
  transition: 0.2s;
}
body > header .container .logo-page .search .search-label .search-txt {
  visibility: hidden;
  height: 24px;
  border: none;
}
body > header .container .logo-page .search .search-label .search-button {
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
  z-index: 205;
}
body > header .container .logo-page .search .search-label .search-button path {
  transition: 0.2s;
}
body > header .container .logo-page .search .search-label .search-button:hover path {
  fill: #FC5057;
  transition: 0.2s;
}
body > header .container .logo-page .search .search-label .searchHidden {
  display: none;
}
body > header .container .logo-page .logoNone {
  display: none;
}
body > header .container .drop {
  padding: 20px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  background: white;
  gap: 40px;
  position: relative;
  z-index: 2;
}
body > header .container .drop .navbar-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body > header .container .drop .navbar-menu .navbar-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ED1C24;
  text-decoration: none;
  transition: 0.2s;
}
body > header .container .drop .navbar-menu .navbar-link:hover {
  transition: 0.2s;
}
body > header .container .drop .navbar-menu .navbar {
  list-style: none;
  display: grid;
  gap: 8px;
}
body > header .container .drop .navbar-menu .navbar li {
  transition: 0.2s;
}
body > header .container .drop .navbar-menu .navbar li:hover {
  transition: 0.2s;
}
body > header .container .drop .navbar-menu .navbar .navbar-projects {
  text-decoration: none;
  font-size: 12px;
  line-height: 24px;
  color: #18191F;
  transition: 0.2s;
}
body > header .container .drop .navbar-menu .navbar .navbar-projects:hover {
  color: #FC5057;
  transition: 0.2s;
}
body > header .container .dropPhone {
  display: grid;
  gap: 10px;
  position: absolute;
  z-index: 2;
  top: 0;
  transform: translateY(-40px);
  background-color: white;
  left: 69.7%;
  transition: 0.2s;
  padding-bottom: 10px;
}
body > header .container .dropPhone a {
  padding: 0 20px;
  display: block;
  color: #474A57;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  transition: 0.2s;
}
body > header .container .dropPhone a:hover {
  color: #FC5057;
  transition: 0.2s;
}
body > header .phone-header {
  display: none;
  height: 100%;
  position: fixed;
  z-index: 1000;
  width: 100%;
  transform: translateX(100%);
  max-height: 100%;
}
body > header .phone-header .phone-menu {
  width: 30%;
  background-color: white;
  margin-right: auto;
  opacity: 1;
  z-index: 1001;
  position: fixed;
  display: grid;
  right: 0;
  top: 0;
  height: calc(100vh - 64px);
  border-top: 1px solid #DFE2EA;
}
body > header .phone-header .phone-menu .phone {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 42px;
  padding: 0 30px 10px 30px;
  border-bottom: 1px solid #DFE2EA;
}
body > header .phone-header .phone-menu .phone .open {
  background: none;
  border: none;
  cursor: pointer;
}
body > header .phone-header .phone-menu .phone .phoneNumbers {
  height: auto;
  display: grid;
  background-color: white;
}
body > header .phone-header .phone-menu .phone .phoneNumbers .phoneHidden {
  display: none;
}
body > header .phone-header .phone-menu .phone .phoneNumbers .phoneActive {
  display: block;
}
body > header .phone-header .phone-menu .phone .phoneNumbers a {
  display: block;
  color: #474A57;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
}
body > header .phone-header .phone-menu .phone .phoneNumbers a:hover {
  color: #FC5057;
  transition: 0.3s;
}
body > header .phone-header .phone-menu .phone .phoneNumbers-active {
  padding-top: 16px;
  height: 128px;
}
body > header .phone-header .phone-menu .search2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: auto;
  border-top: 1px solid #DFE2EA;
  padding: 8px 12px;
}
body > header .phone-header .phone-menu .search2 input {
  width: 100%;
  border-radius: 3px;
  font-size: 15px;
  outline: none;
  border: none;
  color: #969BAB;
}
body > header .phone-header .phone-menu .search2 button {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 0;
}
body > header .phone-header .phone-menu .phone-content {
  text-align: left;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  padding: 10px 30px;
}
body > header .phone-header .phone-menu .phone-content .navbar-menu-phone {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #DFE2EA;
}
body > header .phone-header .phone-menu .phone-content .navbar-menu-phone .navbar-link-phone {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #ED1C24;
  text-decoration: none;
  transition: 0.2s;
  display: flex;
  justify-content: space-between;
}
body > header .phone-header .phone-menu .phone-content .navbar-menu-phone .navbar-link-phone svg {
  margin: auto 0;
  transition: 0.2s;
}
body > header .phone-header .phone-menu .phone-content .navbar-menu-phone .navbar-link-phone .svg-active {
  transform: rotate(90deg);
  transition: 0.2s;
}
body > header .phone-header .phone-menu .phone-content .navbar-menu-phone .navbar-link-phone:hover {
  transition: 0.2s;
}
body > header .phone-header .phone-menu .phone-content .navbar-menu-phone .link-phone {
  display: none;
}
body > header .phone-header .phone-menu .phone-content .navbar-menu-phone .navbar-phone {
  list-style: none;
  display: none;
  gap: 5px;
  margin-top: 10px;
}
body > header .phone-header .phone-menu .phone-content .navbar-menu-phone .navbar-phone li {
  transition: 0.2s;
}
body > header .phone-header .phone-menu .phone-content .navbar-menu-phone .navbar-phone li:hover {
  transition: 0.2s;
}
body > header .phone-header .phone-menu .phone-content .navbar-menu-phone .navbar-phone li:last-child {
  margin-bottom: 10px;
}
body > header .phone-header .phone-menu .phone-content .navbar-menu-phone .navbar-phone .navbar-projects {
  text-decoration: none;
  font-size: 12px;
  line-height: 24px;
  color: #18191F;
  transition: 0.2s;
}
body > header .phone-header .phone-menu .phone-content .navbar-menu-phone .navbar-phone .navbar-projects:hover {
  color: #FC5057;
  transition: 0.2s;
}
body > header .phone-header .phone-menu .phone-content .navbar-menu-phone .phone-ul {
  display: grid;
}
body > header .phone-header .phone-menu .phone-content .navbar-menu-phone-disabled {
  display: none;
}
body > header .phone-header .phone-menu .phone-content .phone-number {
  font-size: 14px;
  display: none;
  gap: 20px;
}
body > header .phone-header .phone-menu .phone-content .phone-number .phoneHidden {
  color: #474A57;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  border-bottom: 1px solid #DFE2EA;
  padding: 10px 0;
}
body > header .phone-header .phone-menu .phone-content .phone-number-active {
  display: grid;
}
body > header .dropPhone2 {
  display: none;
  background-color: white;
  gap: 10px;
  padding: 10px 20px;
  position: absolute;
  top: 64px;
  transform: translateY(-200px);
  transition: 0.2s;
  right: 7%;
}
body > header .dropPhone2 .phoneHidden2 {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  color: black;
  transition: 0.2s;
}
body > header .dropPhone2 .phoneHidden2:hover {
  color: #FC5057;
  transition: 0.2s;
}
body > header .dropPhone2-active {
  transform: translateY(0);
  transition: 0.2s;
}

.project-main {
  gap: 50px;
}

body > footer {
  font-family: "Inter", sans-serif;
}
body > footer .footer-top {
  width: 100%;
  background-color: #303D4E;
  padding-bottom: 64px;
}
body > footer .footer-top .container {
  display: grid;
  padding-top: 80px;
  padding-bottom: 80px;
  gap: 80px;
}
body > footer .footer-top .container .footer-logo {
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s;
}
body > footer .footer-top .container .footer-info {
  display: flex;
  justify-content: space-between;
}
body > footer .footer-top .container .footer-info .footer-infoArticle {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
body > footer .footer-top .container .footer-info .footer-infoArticle .footer-infoLink {
  color: white;
  text-decoration: none;
  transition: 0.2s;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
body > footer .footer-top .container .footer-info .footer-infoArticle .footer-infoLink:hover {
  transition: 0.2s;
  color: #FC5057;
}
body > footer .footer-top .container .form-mail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
body > footer .footer-top .container .form-mail .form-mailabel {
  display: grid;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  gap: 24px;
}
body > footer .footer-top .container .form-mail .form-mailabel .form-mailInp {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 8px;
}
body > footer .footer-top .container .form-mail .form-mailabel .form-mailInp::-moz-placeholder {
  color: white;
}
body > footer .footer-top .container .form-mail .form-mailabel .form-mailInp::-webkit-input-placeholder {
  color: white;
}
body > footer .footer-top .container .form-mail .form-mailabel .form-mailInp:focus {
  outline: none;
}
body > footer .footer-top .container .form-mail .btn-mail {
  background: none;
  border: 2px solid #D9DBE1;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  color: white;
  border-radius: 4px;
  padding: 8px 16px;
  transition: 0.2s;
  cursor: pointer;
}
body > footer .footer-top .container .form-mail .btn-mail:hover {
  color: #FC5057;
  transition: 0.2s;
  border-color: #FC5057;
}
body > footer .footer-top .container .btn-up {
  background: none;
  border: none;
  margin-top: auto;
  cursor: pointer;
}
body > footer .footer-top .container .btn-up .btn-upSvg {
  transition: 0.2s;
}
body > footer .footer-top .container .btn-up:hover .btn-upSvg rect {
  stroke: #FC5057;
}
body > footer .footer-top .container .btn-up:hover .btn-upSvg path {
  fill: #FC5057;
}
body > footer .footer-bottom {
  width: 100%;
  background-color: #ED1C24;
}
body > footer .footer-bottom .container {
  color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
  padding-bottom: 7px;
}
body > footer .footer-bottom .container .copyright {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 12px;
  line-height: 16px;
}
body > footer .footer-bottom .container .footer-navigation {
  display: flex;
  gap: 16px;
  margin-top: auto;
  margin-bottom: auto;
}

body > main {
  font-family: "Inter", sans-serif;
  background-color: #EEEFF4;
  display: grid;
  gap: 100px;
  padding-bottom: 100px;
}
body > main .where-top {
  display: flex;
  margin-top: 25px;
}
body > main .where-top .where-top-page {
  text-decoration: none;
  color: #969BAB;
  transition: 0.3s;
  font-size: 12px;
  line-height: 24px;
}
body > main .where-top .where-top-page:hover {
  color: #FC5057;
  transition: 0.3s;
}
body > main .where-top .where-top-point-block {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body > main .where-top .where-top-point-block .where-top-point {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #969BAB;
}
body > main .phone-background {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #141414;
  z-index: 1000;
  visibility: hidden;
  overflow: hidden;
}
body > main .phone-backgroundActive {
  visibility: visible;
  opacity: 0.9;
}
body > main .main-header {
  width: 100%;
  background-color: #474A57;
  padding-top: 50px;
  padding-bottom: 100px;
}
body > main .main-header .container {
  display: grid;
  gap: 80px;
}
body > main .main-header .container .main-headertop {
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  max-width: 858px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
body > main .main-header .container .main-headerbottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 2fr 1fr;
  max-height: 58px;
}
body > main .main-header .container .main-headerbottom .selectType {
  font-family: "Inter", sans-serif;
  border: none;
  max-height: 48px;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../imgs/main/arrow.svg") no-repeat 96% 50% #EEEFF4;
  border-left: 2px solid #D9D9D9;
  font-size: 16px;
  color: #969BAB;
  width: 197px;
  padding-left: 16px;
  transition: 0.2s;
  cursor: pointer;
  outline: none;
}
body > main .main-header .container .main-headerbottom .selectType:hover {
  color: #FC5057;
  transition: 0.2s;
}
body > main .main-header .container .main-headerbottom .selectType option {
  height: 48px;
  width: 197px;
  font-size: 16px;
  color: black;
}
body > main .main-header .container .main-headerbottom .selectType:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
body > main .main-header .container .main-headerbottom .range-price {
  display: grid;
  grid-template-columns: 1fr;
}
body > main .main-header .container .main-headerbottom .range-price .duo-range-price {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body > main .main-header .container .main-headerbottom .range-price .slider {
  width: 314px;
  position: relative;
  z-index: 0;
}
body > main .main-header .container .main-headerbottom .range-price .range-txt {
  display: flex;
  max-height: 48px;
  background-color: #EEEFF4;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  color: #969BAB;
  text-align: center;
  gap: 10px;
  transition: 0.2s;
}
body > main .main-header .container .main-headerbottom .range-price .range-txt:hover {
  color: #FC5057;
  transition: 0.2s;
}
body > main .main-header .container .main-headerbottom .range-price .range-txt:hover .txt-between {
  color: #FC5057;
  transition: 0.2s;
}
body > main .main-header .container .main-headerbottom .range-price .range-txt:first-child {
  border-left: 2px solid #D9D9D9;
}
body > main .main-header .container .main-headerbottom .range-price .range-txt .rangetext {
  margin-top: auto;
  margin-bottom: auto;
}
body > main .main-header .container .main-headerbottom .range-price .range-txt input::-webkit-outer-spin-button,
body > main .main-header .container .main-headerbottom .range-price .range-txt input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
body > main .main-header .container .main-headerbottom .range-price .range-txt input[type=number] {
  -moz-appearance: textfield;
}
body > main .main-header .container .main-headerbottom .range-price .range-txt .txt-between {
  width: 100%;
  transition: 0.2s;
}
body > main .main-header .container .main-headerbottom .range-square {
  display: grid;
  grid-template-columns: 1fr;
}
body > main .main-header .container .main-headerbottom .range-square .duo-range-price {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body > main .main-header .container .main-headerbottom .range-square .range-txt {
  display: flex;
  max-height: 48px;
  background-color: #EEEFF4;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  color: #969BAB;
  text-align: center;
  gap: 10px;
  transition: 0.2s;
}
body > main .main-header .container .main-headerbottom .range-square .range-txt:hover .txt-between {
  color: #FC5057;
  transition: 0.2s;
}
body > main .main-header .container .main-headerbottom .range-square .range-txt:hover {
  color: #FC5057;
  transition: 0.2s;
}
body > main .main-header .container .main-headerbottom .range-square .range-txt .rangetext {
  margin-top: auto;
  margin-bottom: auto;
  transition: 0.2s;
}
body > main .main-header .container .main-headerbottom .range-square .range-txt input::-webkit-outer-spin-button,
body > main .main-header .container .main-headerbottom .range-square .range-txt input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
body > main .main-header .container .main-headerbottom .range-square .range-txt input[type=number] {
  -moz-appearance: textfield;
}
body > main .main-header .container .main-headerbottom .range-square .range-txt .txt-between {
  width: 100%;
  transition: 0.2s;
}
body > main .main-header .container .main-headerbottom .range-square .range-txt:first-child {
  border-left: 2px solid #D9D9D9;
}
body > main .main-header .container .main-headerbottom .txt-between {
  height: 48px;
  border: none;
  background-color: #EEEFF4;
  outline: none;
  font-size: 16px;
  color: #969BAB;
  transition: 0.2s;
}
body > main .main-header .container .main-headerbottom .btn-sbm {
  max-height: 48px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #ED1C24;
  transition: 0.4s;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 16px;
  line-height: 16px;
  font-family: "Inter", sans-serif;
}
body > main .main-header .container .main-headerbottom .btn-sbm:hover {
  background-color: #FC5057;
  transition: 0.2s;
}
body > main .project-header {
  width: 100%;
  width: 100%;
}
body > main .project-header .container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
body > main .project-header .container .main-headertop {
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  color: #18191F;
}
body > main .project-header .container .project-headertop-txt {
  max-width: 850px;
  font-size: 16px;
  line-height: 27px;
  color: #212121;
}
body > main .project-header .container .main-headerbottom {
  display: flex;
  max-height: 49px;
  margin-top: 50px;
}
body > main .project-header .container .main-headerbottom .project-filter-svg {
  position: relative;
  display: flex;
  height: 48px;
  width: 200px;
  cursor: pointer;
}
body > main .project-header .container .main-headerbottom .project-filter-svg:first-child {
  border-left: 1px solid #D9D9D9;
}
body > main .project-header .container .main-headerbottom .project-filter-svg:hover .filter-svg path {
  fill: #FC5057;
  transition: 0.3s;
}
body > main .project-header .container .main-headerbottom .project-filter-svg:hover .selectType {
  color: #FC5057;
  transition: 0.3s;
}
body > main .project-header .container .main-headerbottom .project-filter-svg:hover .selectType option {
  color: #212121;
  transition: 0.3s;
}
body > main .project-header .container .main-headerbottom .project-filter-svg .filter-svg {
  position: absolute;
  top: 30%;
  left: 10px;
}
body > main .project-header .container .main-headerbottom .project-filter-svg .filter-svg path {
  transition: 0.3s;
}
body > main .project-header .container .main-headerbottom .project-filter-svg .selectType {
  width: 100%;
  padding-left: 40px;
}
body > main .project-header .container .main-headerbottom .selectType {
  font-size: 16px;
  line-height: 27px;
  height: 48px;
  border: 1px solid #D9D9D9;
  border-left: none;
  color: #474A57;
  background: url("../imgs/main/arrow.svg") no-repeat 96% 50% #EEEFF4;
  transition: 0.3s;
  padding-left: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 40px;
}
body > main .project-header .container .main-headerbottom .selectType:hover {
  color: #FC5057;
  transition: 0.3s;
}
body > main .project-header .container .main-headerbottom .selectType:hover option {
  color: #212121;
  transition: 0.3s;
}
body > main .project-header .container .main-headerbottom .selectType option {
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
}
body > main .project-header .container .main-headerbottom .duo-range .duo-range-price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 48px;
  border: 1px solid #D9D9D9;
  border-left: none;
  align-items: center;
  gap: 15px;
}
body > main .project-header .container .main-headerbottom .duo-range .duo-range-price .range-txt {
  display: flex;
  padding: 0 10px;
}
body > main .project-header .container .main-headerbottom .duo-range .duo-range-price .range-txt:hover .rangetext {
  color: #FC5057;
  transition: 0.3s;
}
body > main .project-header .container .main-headerbottom .duo-range .duo-range-price .range-txt:hover .txt-between {
  transition: 0.3s;
  color: #FC5057;
}
body > main .project-header .container .main-headerbottom .duo-range .duo-range-price .range-txt .rangetext {
  font-size: 13px;
  line-height: 22px;
  color: #969BAB;
  display: flex;
  align-items: flex-end;
  transition: 0.3s;
}
body > main .project-header .container .main-headerbottom .duo-range .duo-range-price .range-txt .txt-between {
  border: none;
  background: none;
  font-size: 15px;
  line-height: 26px;
  color: #969BAB;
  outline: none;
  padding: 0 5px;
  max-width: 77px;
  transition: 0.3s;
}
body > main .project-header .container .main-headerbottom .duo-range .duo-range-price .slider {
  height: 1px;
}
body > main .project-header .container .main-headerbottom .range-square .duo-range-price .range-txt .txt-between {
  max-width: 35px;
}
body > main .project-header .container .main-headerbottom .btn-sbm {
  font-size: 16px;
  line-height: 24px;
  padding: 12px 63px;
  background: none;
  border: 1px solid #ED1C24;
  border-radius: 4px;
  margin-left: auto;
  cursor: pointer;
  color: #474A57;
  transition: 0.3s;
}
body > main .project-header .container .main-headerbottom .btn-sbm:hover {
  background: #FC5057;
  color: white;
  transition: 0.3s;
}
body > main .main {
  background-color: #EEEFF4;
}
body > main .main .main-top {
  display: grid;
  gap: 50px;
}
body > main .main .main-top .main-topHeader {
  display: grid;
  gap: 10px;
}
body > main .main .main-top .main-topHeader .build-logo {
  max-width: 667px;
  max-height: 166px;
  text-align: center;
  display: grid;
  gap: 24px;
  margin: 0 auto;
}
body > main .main .main-top .main-topHeader .build-logo h2 {
  font-size: 37px;
  line-height: 44px;
}
body > main .main .main-top .main-topHeader .build-logo p {
  font-size: 16px;
  max-width: 371px;
  margin-left: auto;
  margin-right: auto;
  color: #474A57;
  line-height: 27px;
}
body > main .main .main-top .main-topHeader .build-logo-filter {
  margin-right: auto;
  font-size: 16px;
  color: #474A57;
  background: none;
  border: 1px solid #D9D9D9;
  padding: 10px 5px;
}
body > main .main .main-top .main-topHeader .build-logoProject {
  width: 100%;
  display: flex;
  gap: 30px;
}
body > main .main .main-top .main-topHeader .build-logoProject .filter {
  margin-right: auto;
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  gap: 10px;
  font-size: 16px;
  line-height: 27px;
  color: #969BAB;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
}
body > main .main .main-top .main-topHeader .build-logoProject .filter path {
  transition: 0.2s;
}
body > main .main .main-top .main-topHeader .build-logoProject .filter:hover {
  color: #FC5057;
  transition: 0.2s;
}
body > main .main .main-top .main-topHeader .build-logoProject .filter:hover path {
  fill: #FC5057;
  transition: 0.2s;
}
body > main .main .main-top .main-topHeader .build-logoProject .filterForm {
  display: none;
  gap: 15px;
  justify-content: center;
}
body > main .main .main-top .main-topHeader .build-logoProject .filterForm input[type=radio] {
  display: none;
}
body > main .main .main-top .main-topHeader .build-logoProject .filterForm .filterLabel {
  display: flex;
  align-items: center;
  gap: 3px;
  color: #969BAB;
  font-size: 16px;
  transition: 0.2s;
}
body > main .main .main-top .main-topHeader .build-logoProject .filterForm .filterLabel:hover {
  color: #FC5057;
  transition: 0.2s;
}
body > main .main .main-top .main-topHeader .build-logoProject .filterForm .filterLabel:hover:before {
  border-color: #FC5057;
  transition: 0.2s;
}
body > main .main .main-top .main-topHeader .build-logoProject .filterForm .filterLabel:before {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #969BAB;
}
body > main .main .main-top .main-topHeader .build-logoProject .filterForm input:checked + .filterLabel:before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ED1C24;
  border: 1px solid #ED1C24;
}
body > main .main .main-top .main-topHeader .build-logoProject .filterForm input:checked + .filterLabel {
  color: #ED1C24;
}
body > main .main .main-top .main-topHeader .build-logoProject .filterActive {
  display: flex;
}
body > main .main .main-top .watch-more-card {
  background: #969BAB;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 12px 64px;
  font-size: 16px;
  line-height: 24px;
  color: white;
  transition: 0.2s;
  margin: 0 auto;
}
body > main .main .main-top .watch-more-card:hover {
  background-color: #FC5057;
  transition: 0.2s;
}
body > main .main .main-middle {
  width: 100%;
  position: relative;
}
body > main .main .main-middle .card-section-fetch {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
body > main .main .main-middle .card-section-fetch .background {
  z-index: 3;
  opacity: 0.4;
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
}
body > main .main .main-middle .card-section-fetch .load {
  width: 90px;
  height: 90px;
  border: 15px solid black;
  position: relative;
  z-index: 4;
  opacity: 1;
  border-radius: 50%;
  border-top-color: #FC5057;
  animation: 0.6s loading infinite linear;
}
body > main .main .card-pagination {
  margin: 0 auto;
  display: flex;
  list-style: none;
  gap: 10px;
}
body > main .main .card-pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid #DFE3E8;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background: white;
  border-radius: 4px;
  cursor: pointer;
}
body > main .main .card-pagination li:hover {
  border-color: #919EAB;
  background: #919EAB;
  color: #C4CDD5;
  transition: 0.3s;
}
body > main .main .card-pagination .active-page {
  border-color: #FC5057;
  color: #FC5057;
}
body > main .main .card-pagination .page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid #DFE3E8;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background: white;
  border-radius: 4px;
  cursor: pointer;
}
body > main .main .card-pagination .page-btn:disabled {
  opacity: 0.3;
}
body > main .main .card-pagination .page-btn:not(:disabled):hover {
  border-color: #919EAB;
  background: #919EAB;
  color: #C4CDD5;
  transition: 0.3s;
}

.main-video .container {
  background: #B98F4F;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  display: flex;
  gap: 11px;
  max-height: 480px;
}
.main-video .container .video-player {
  padding: 64px;
  display: grid;
  gap: 100px;
}
.main-video .container .video-player .video-txt {
  font-weight: bold;
  font-size: 29px;
  color: #EEEFF4;
  line-height: 40px;
}
.main-video .container .video-player .button-video {
  display: grid;
  gap: 54px;
}
.main-video .container .video-player .button-video .video-txtUse {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  font-weight: normal;
}
.main-video .container .video-player .button-video .video-active {
  text-decoration: none;
  max-width: 150px;
  display: flex;
  gap: 16px;
  font-size: 16px;
  color: white;
  align-items: center;
  background: none;
  cursor: pointer;
  transition: 0.2s;
}
.main-video .container .imgVideo {
  max-width: 880px;
  width: 100%;
  height: 100%;
  background: url("../imgs/main/imgVideo.png") 95% 100%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.about-us {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 50px;
  width: 100%;
}
.about-us .about-container {
  display: grid;
  gap: 24px;
}
.about-us .about-container .about-txt {
  color: #18191F;
  font-size: 37px;
  line-height: 44px;
  font-weight: bold;
  text-align: center;
}
.about-us .about-container .about-ustxt {
  font-size: 16px;
  color: #474A57;
  line-height: 27px;
  text-align: center;
  max-width: 652px;
  margin-left: auto;
  margin-right: auto;
}
.about-us .SwiperExample {
  background-color: #303D4E;
  width: 100%;
  overflow: hidden;
}
.about-us .SwiperExample .container {
  margin-top: 0;
  position: relative;
  padding-bottom: 0;
  display: grid;
  gap: 25px;
  padding-top: 100px;
}
.about-us .SwiperExample .container .swiper-Btns {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-bottom: 100px;
}
.about-us .SwiperExample .container .swiper-Btns .swiperTop-button-next {
  cursor: pointer;
  z-index: 250;
  transition: 0.2s;
}
.about-us .SwiperExample .container .swiper-Btns .swiperTop-button-next .btnArrow {
  transition: 0.2s;
}
.about-us .SwiperExample .container .swiper-Btns .swiperTop-button-next:hover .btnArrow {
  fill: #FC5057;
  transition: 0.2s;
}
.about-us .SwiperExample .container .swiper-Btns .swiperTop-button-prev {
  z-index: 250;
  cursor: pointer;
  transition: 0.2s;
}
.about-us .SwiperExample .container .swiper-Btns .swiperTop-button-prev .btnArrow {
  transition: 0.2s;
}
.about-us .SwiperExample .container .swiper-Btns .swiperTop-button-prev:hover .btnArrow {
  fill: #FC5057;
  transition: 0.2s;
}
.about-us .SwiperExample .swiper {
  padding-bottom: 0;
}
.about-us .SwiperExample .swiper .swiper-wrapper .slide-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about-us .SwiperExample .swiper .swiper-wrapper .slide-box .slide-imgExample {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtTop {
  display: grid;
  background-color: white;
}
.about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtTop .swiperTop {
  margin: 64px auto;
  display: grid;
  gap: 50px;
}
.about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleTop {
  display: grid;
  gap: 24px;
}
.about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleTop h3 {
  font-weight: bold;
  font-size: 29px;
  line-height: 40px;
  color: #18191F;
}
.about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleTop p {
  font-size: 16px;
  line-height: 27px;
  color: #18191F;
}
.about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleBottom {
  display: flex;
  gap: 40px;
}
.about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleBottom .swiper-sizeInfo {
  display: grid;
  gap: 8px;
}
.about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtTop .swiperTop .swiperExampleBottom .swiper-sizeInfo svg {
  max-width: 36px;
  max-height: 36px;
}
.about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtBottom {
  display: grid;
}
.about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtBottom .swiperButton {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtBottom .swiperButton .swiperMore {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  background-color: #ED1C24;
  border-radius: 4px;
  padding: 12px 100px;
  margin: auto auto;
  display: flex;
  justify-content: center;
  transition: 0.2s;
}
.about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtBottom .swiperButton .swiperMore:hover {
  background-color: #FC5057;
  transition: 0.2s;
}
.about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtBottom .swiperButton .swiperTel {
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  border: 1px solid white;
  padding: 12px 100px;
  transition: 0.2s;
}
.about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtBottom .swiperButton .swiperTel:hover {
  color: #FC5057;
  border-color: #FC5057;
  transition: 0.2s;
}
.about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtBottom .swiperButton .form-container {
  display: none;
}
.about-us .SwiperExample .swiper .swiper-wrapper .slide-box .swiperExampleTxt .swiperExampleTxtBottom .swiperButton .form-container .form-phone {
  display: grid;
  gap: 25px;
}
.about-us .SwiperExample .stages {
  display: grid;
  gap: 50px;
  padding-bottom: 100px;
}
.about-us .SwiperExample .stages .stages-top {
  text-align: center;
  color: white;
  display: grid;
  gap: 24px;
}
.about-us .SwiperExample .stages .stages-top h2 {
  font-weight: bold;
  font-size: 37px;
  line-height: 44px;
}
.about-us .SwiperExample .stages .stages-top p {
  font-size: 16px;
  line-height: 27px;
}
.about-us .SwiperExample .stages .stages-img {
  display: flex;
  gap: 24px;
}
.about-us .SwiperExample .stages .stages-img .stages-svg {
  width: 302px;
  height: 322px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: #FFFFFF;
  border-radius: 15px;
  padding: 24px 24px;
  overflow: hidden;
  transition: 0.2s;
}
.about-us .SwiperExample .stages .stages-img .stages-svg:hover {
  background-color: #ED1C24;
  transition: 0.2s;
}
.about-us .SwiperExample .stages .stages-img .stages-svg:hover h3 {
  color: white;
  transition: 0.2s;
}
.about-us .SwiperExample .stages .stages-img .stages-svg:hover p {
  color: white;
  transition: 0.2s;
}
.about-us .SwiperExample .stages .stages-img .stages-svg:hover .stage-svg {
  background-color: white;
  transition: 0.2s;
}
.about-us .SwiperExample .stages .stages-img .stages-svg:hover .stage-svg path {
  fill: red;
  transition: 0.2s;
}
.about-us .SwiperExample .stages .stages-img .stages-svg:hover .stage-arrow circle {
  fill: white;
  transition: 0.2s;
}
.about-us .SwiperExample .stages .stages-img .stages-svg:hover .stage-arrow path {
  fill: #ED1C24;
  stroke: #ED1C24;
  transition: 0.2s;
}
.about-us .SwiperExample .stages .stages-img .stages-svg:hover .stage-number-one path {
  fill: white;
  transition: 0.2s;
}
.about-us .SwiperExample .stages .stages-img .stages-svg:hover .stage-number path {
  fill: white;
  transition: 0.2s;
}
.about-us .SwiperExample .stages .stages-img .stages-svg h3 {
  font-size: 21px;
  line-height: 135%;
  color: #303D4E;
  transition: 0.2s;
}
.about-us .SwiperExample .stages .stages-img .stages-svg p {
  font-size: 14px;
  line-height: 18px;
  color: #474A57;
  margin-top: auto;
  transition: 0.2s;
}
.about-us .SwiperExample .stages .stages-img .stages-svg .stage-svg {
  width: 90px;
  height: 90px;
  border-radius: 20px;
  background-color: #D9DBE1;
  display: flex;
  margin-top: 46px;
  transition: 0.2s;
}
.about-us .SwiperExample .stages .stages-img .stages-svg .stage-svg svg {
  margin: auto auto;
  transition: 0.2s;
}
.about-us .SwiperExample .stages .stages-img .stages-svg .stage-arrow {
  position: absolute;
  left: 254px;
  top: 24px;
  transition: 0.2s;
}
.about-us .SwiperExample .stages .stages-img .stages-svg .stage-number-one {
  position: absolute;
  left: 76.52%;
  top: 56.3%;
  transition: 0.2s;
}
.about-us .SwiperExample .stages .stages-img .stages-svg .stage-number {
  position: absolute;
  right: 0;
  top: 56.3%;
  transition: 0.2s;
}

.houseProject {
  display: grid;
  gap: 50px;
}
.houseProject .house-projectHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.houseProject .house-projectHeader h2 {
  font-size: 37px;
  color: #18191F;
}
.houseProject .house-projectHeader p {
  font-size: 16px;
  color: #474A57;
}
.houseProject .project-block {
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow: hidden;
}
.houseProject .swiper2Title {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.houseProject .swiper2Title:nth-child(odd) .swiper2Left {
  order: 2;
}
.houseProject .swiper2Title .swiper2Left {
  background-color: white;
}
.houseProject .swiper2Title .swiper2Left .swiper2LeftBlock {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 40px auto 40px 40px;
}
.houseProject .swiper2Title .swiper2Left .swiper2LeftBlock .swiper2LeftTop {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 525px;
}
.houseProject .swiper2Title .swiper2Left .swiper2LeftBlock .swiper2LeftTop h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #18191F;
}
.houseProject .swiper2Title .swiper2Left .swiper2LeftBlock .swiper2LeftTop p {
  font-size: 16px;
  line-height: 24px;
  color: #474A57;
}
.houseProject .swiper2Title .swiper2Left .swiper2LeftBlock a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ED1C24;
  border: 1px solid #ED1C24;
  border-radius: 4px;
  padding: 12px 68px;
  margin-right: auto;
  text-decoration: none;
  transition: 0.2s;
}
.houseProject .swiper2Title .swiper2Left .swiper2LeftBlock a:hover {
  color: white;
  border-color: #FC5057;
  background-color: #FC5057;
  transition: 0.2s;
}
.houseProject .swiper2Title .swiper2Left .swiper2Reverse {
  margin: 40px 40px 40px auto;
}
.houseProject .swiper2Title .swiper2Left .swiper2Reverse .swiper2LeftTop {
  text-align: end;
  margin-left: auto;
}
.houseProject .swiper2Title .swiper2Left .swiper2Reverse a {
  margin-left: auto;
  margin-right: 0;
}
.houseProject .swiper2Title .swiper2Right {
  overflow: hidden;
}
.houseProject .swiper2Title .swiper2Right .swiper2 .swiper-slide {
  position: relative;
  display: flex;
}
.houseProject .swiper2Title .swiper2Right .swiper2:hover .swiper2IMG {
  opacity: 0.9;
  transition: 0.2s;
}
.houseProject .swiper2Title .swiper2Right .swiper2:hover .swiper2-img-name {
  background-color: white;
  transition: 0.2s;
}
.houseProject .swiper2Title .swiper2Right .swiper2 .swiper2IMG {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: 0.2s;
}
.houseProject .swiper2Title .swiper2Right .swiper2 .swiper2-img-name {
  position: absolute;
  padding: 8px 16px;
  background-color: #D7B45D;
  right: 40px;
  top: 40px;
  border-radius: 5px;
  transition: 0.2s;
  color: black;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom {
  display: flex;
  background-color: #303D4E;
  height: 64px;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon {
  margin: auto 0;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .project-share {
  background: none;
  border: none;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .project-share > svg {
  cursor: pointer;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .project-share > svg path {
  transition: 0.2s;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .project-share > svg:hover path {
  fill: #FC5057;
  transition: 0.2s;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .project-link {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
  z-index: 100;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .project-link .btn-share {
  font-size: 16px;
  background: none;
  border: none;
  transition: 0.2s;
  font-family: "Inter", sans-serif;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .project-link .btn-share svg {
  width: 36px;
  height: 36px;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .project-link .btn-share path {
  transition: 0.2s;
  fill: white;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .project-link .btn-share:hover path {
  fill: #FC5057;
  transition: 0.2s;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .project-link .telegram:hover path {
  fill: none;
  stroke: #FC5057;
  transition: 0.2s;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .project-link .telegram:hover line {
  fill: none;
  stroke: #FC5057;
  transition: 0.2s;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .project-link .telegram path {
  transition: 0.2s;
  stroke: white;
  fill: none;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .project-link .telegram line {
  fill: none;
  transition: 0.2s;
  stroke: white;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .share-active {
  opacity: 1;
  visibility: visible;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon:first-child {
  display: flex;
  gap: 12px;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon:last-child {
  display: flex;
  gap: 40px;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .swiper2-button-next {
  transition: 0.2s;
  cursor: pointer;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .swiper2-button-next path {
  transition: 0.2s;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .swiper2-button-next:hover path {
  fill: #FC5057;
  transition: 0.2s;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .swiper2-button-prev {
  cursor: pointer;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .swiper2-button-prev path {
  transition: 0.2s;
}
.houseProject .swiper2Title .swiper2Right .swiper2RightBottom .swiper2Icon .swiper2-button-prev:hover path {
  fill: #FC5057;
  transition: 0.2s;
}
.houseProject .swiper2WatchMore {
  margin-left: auto;
  margin-right: auto;
  background: #969BAB;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding: 12px 64px;
  transition: 0.2s;
}
.houseProject .swiper2WatchMore:hover {
  background-color: #FC5057;
  transition: 0.2s;
}

.why {
  display: grid;
  gap: 50px;
}
.why .whyAsk {
  text-align: center;
  display: grid;
  gap: 24px;
}
.why .whyAsk h2 {
  font-weight: bold;
  font-size: 37px;
  line-height: 44px;
  color: #18191F;
}
.why .whyAsk p {
  font-size: 16px;
  color: #474A57;
  line-height: 27px;
}
.why .askAnswer {
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-content: space-between;
  margin: 0 auto;
}
.why .askAnswer .answer {
  padding: 10px 15px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
}
.why .askAnswer .answer:hover {
  box-shadow: 0 2px 15px 9px rgba(96, 97, 112, 0.1);
  transition: 0.2s;
}
.why .askAnswer .answer-top {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}
.why .askAnswer h2 {
  margin: 24px 0;
  color: #000000;
  font-weight: bold;
  font-size: 21px;
  line-height: 28px;
}
.why .askAnswer p {
  margin-bottom: auto;
  font-size: 16px;
  line-height: 27px;
  color: #212121;
}
.why .askAnswer:nth-child(2n) {
  margin-left: auto;
}

.reviews {
  display: grid;
  gap: 50px;
}
.reviews .review {
  font-size: 16px;
  color: white;
  padding: 12px 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ED1C24;
  border-radius: 4px;
  text-decoration: none;
  line-height: 24px;
  transition: 0.2s;
}
.reviews .review:hover {
  background-color: #FC5057;
  transition: 0.2s;
}
.reviews .form-container {
  display: none;
  width: 600px;
}
.reviews .form-container .form-phone {
  display: grid;
  gap: 25px;
}
.reviews .reviews-header {
  display: grid;
  gap: 24px;
  text-align: center;
}
.reviews .reviews-header h2 {
  font-weight: bold;
  font-size: 37px;
  color: #18191F;
}
.reviews .reviews-header p {
  font-size: 16px;
  color: #474A57;
}
.reviews .swiper4 {
  overflow: hidden;
  position: relative;
  z-index: 100;
}
.reviews .swiper4 .swiper4btn {
  position: absolute;
  z-index: 102;
  display: flex;
}
.reviews .swiper4 .swiper4btn .swiper4-button-next {
  cursor: pointer;
}
.reviews .swiper4 .swiper4btn .swiper4-button-next path {
  transition: 0.2s;
}
.reviews .swiper4 .swiper4btn .swiper4-button-next:hover path {
  fill: #FC5057;
  transition: 0.2s;
}
.reviews .swiper4 .swiper4btn .swiper4-button-prev {
  margin-right: auto;
  cursor: pointer;
}
.reviews .swiper4 .swiper4btn .swiper4-button-prev path {
  transition: 0.2s;
}
.reviews .swiper4 .swiper4btn .swiper4-button-prev:hover path {
  fill: #FC5057;
  transition: 0.2s;
}
.reviews .swiper4 .swiper4slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.reviews .swiper4 .swiper4slide .swiper4img {
  width: 100%;
  height: auto;
}
.reviews .swiper4 .swiper4slide .swiper4img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reviews .swiper4 .swiper4slide .swiper4Right {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 60px;
  background-color: white;
  border-left: 18px solid #ED1C24;
  padding-top: 108px;
  padding-bottom: 130px;
}
.reviews .swiper4 .swiper4slide .swiper4Right .swiper4RightTop {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.reviews .swiper4 .swiper4slide .swiper4Right .swiper4RightTop h3 {
  font-weight: bold;
  font-size: 29px;
  line-height: 40px;
  color: #111111;
}
.reviews .swiper4 .swiper4slide .swiper4Right .swiper4RightTop h5 {
  font-size: 18px;
  line-height: 32px;
  color: #111111;
  font-weight: normal;
}
.reviews .swiper4 .swiper4slide .swiper4Right .swiper4RightTop .swiper4Border {
  border-bottom: 3px solid #000000;
  max-width: 84px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.reviews .swiper4 .swiper4slide .swiper4Right .swiper4RightText {
  font-size: 16px;
  line-height: 27px;
  color: #303D4E;
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  height: 245px;
  display: flex;
  flex-direction: column;
}
.reviews .swiper4 .swiper4slide .swiper4Right .swiper4RightText .txt-Content {
  text-align: left;
}
.reviews .swiper4 .swiper4slide .swiper4Right .swiper4RightText .review-link {
  margin: auto auto;
  cursor: pointer;
  color: red;
  transition: 0.2s;
}
.reviews .swiper4 .swiper4slide .swiper4Right .swiper4RightText .review-link:hover {
  color: #FC5057;
  transition: 0.2s;
}
.reviews .swiper4 .swiper4-hidden {
  display: none;
}

.aboutTop {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 770px;
}

.aboutMain {
  display: grid;
  gap: 100px;
}
.aboutMain .where-top {
  margin-top: 0;
}
.aboutMain .aboutHead {
  display: grid;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
}
.aboutMain .aboutHead .header-about-text {
  border-bottom: solid #000000;
  padding-bottom: 50px;
}
.aboutMain .aboutHead .header-about-text2 {
  border-bottom: solid #000000;
  padding-bottom: 50px;
  line-height: 44px;
  font-size: 37px;
}
.aboutMain .aboutText {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.aboutMain .aboutText .about-text {
  font-size: 18px;
  line-height: 32px;
  color: #212121;
}
.aboutMain .about-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.aboutMain .about-img .about-img-grid {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.aboutMain .about-img .about-img-right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
}
.aboutMain .about-img .about-img-grid-left {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aboutMain .about-what {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 300px;
}
.aboutMain .about-what .about-what2 {
  display: flex;
  gap: 36px;
}
.aboutMain .about-what .about-what2 .about-box {
  width: 24px;
  height: 24px;
  margin: auto 0;
  background-color: #969BAB;
  flex-shrink: 0;
}
.aboutMain .about-what .about-what2 .about-what-text {
  font-size: 18px;
  line-height: 32px;
  color: #212121;
}
.aboutMain .about-us2 {
  max-width: 600px;
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 0 auto;
}
.aboutMain .about-us2 .about-us2-h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #212121;
  text-align: center;
  margin: 24px 0;
}

.fancybox__container {
  cursor: auto;
}
.fancybox__container .form-container {
  border-radius: 10px;
}
.fancybox__container .form-container .form-phone {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 40px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
}
.fancybox__container .form-container .form-phone .form-h {
  color: #262626;
  font-size: 37px;
  line-height: 44px;
  margin-bottom: 10px;
  text-align: center;
}
.fancybox__container .form-container .form-phone label {
  display: grid;
  gap: 24px;
  transition: 0.2s;
  max-width: 520px;
  width: 100%;
}
.fancybox__container .form-container .form-phone label:hover {
  color: #FC5057;
  transition: 0.2s;
}
.fancybox__container .form-container .form-phone label input {
  max-width: 520px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 7px 16px;
  background-color: #EEEFF4;
  color: #BFBFBF;
  border: 1px solid #BFBFBF;
  font-size: 14px;
  line-height: 24px;
}
.fancybox__container .form-container .form-phone textarea {
  border-radius: 5px;
  padding: 12px 16px;
  background-color: #EEEFF4;
  color: #BFBFBF;
  border: 1px solid #BFBFBF;
  font-size: 14px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  max-width: 500px;
}
.fancybox__container .form-container .form-phone .accept {
  display: flex;
  color: #707070;
  gap: 20px;
  max-width: 440px;
  font-size: 12px;
  line-height: 16px;
  background: none;
  transition: 0.2s;
}
.fancybox__container .form-container .form-phone .accept .check {
  width: 20px;
  height: 20px;
  border: 1px solid #ED1C24;
  border-radius: 4px;
  display: flex;
  flex-shrink: 0;
}
.fancybox__container .form-container .form-phone .accept .check svg {
  margin: auto auto;
}
.fancybox__container .form-container .form-phone .accept .accept-input {
  display: none;
}
.fancybox__container .form-container .form-phone .accept .accept-input:checked + .check {
  background-color: #ED1C24;
  transition: 0.2s;
}
.fancybox__container .form-container .form-phone .rephone {
  border: none;
  font-size: 14px;
  padding: 12px 92px;
  background-color: #ED1C24;
  border-radius: 4px;
  color: #FFFFFF;
  transition: 0.2s;
  margin: 0 auto;
}
.fancybox__container .form-container .form-phone .rephone:hover {
  background-color: #FC5057;
  color: white;
  transition: 0.2s;
}
.fancybox__container .fancybox__carousel.is-draggable .fancybox__slide, .fancybox__container .fancybox__carousel.is-draggable .fancybox__slide .fancybox__content {
  cursor: auto;
}
.fancybox__container .swiper4slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.fancybox__container .swiper4slide .swiper4img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.fancybox__container .swiper4slide .swiper4img img {
  width: 100%;
  height: 100%;
}
.fancybox__container .swiper4slide .swiper4Right {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 60px;
  background-color: white;
  border-left: 18px solid #ED1C24;
  padding-top: 108px;
  padding-bottom: 130px;
  font-family: "Inter", sans-serif;
}
.fancybox__container .swiper4slide .swiper4Right .swiper4RightTop {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fancybox__container .swiper4slide .swiper4Right .swiper4RightTop h3 {
  font-weight: bold;
  font-size: 29px;
  line-height: 40px;
  color: #111111;
}
.fancybox__container .swiper4slide .swiper4Right .swiper4RightTop h5 {
  font-size: 18px;
  line-height: 32px;
  color: #111111;
  font-weight: normal;
}
.fancybox__container .swiper4slide .swiper4Right .swiper4RightTop .swiper4Border {
  border-bottom: 3px solid #000000;
  max-width: 84px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.fancybox__container .swiper4slide .swiper4Right .swiper4RightText {
  font-size: 16px;
  line-height: 27px;
  color: #303D4E;
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  height: 380px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-color: #D9DBE1 #EEEFF4;
  scrollbar-width: thin;
}
.fancybox__container .swiper4slide .swiper4Right .swiper4RightText::-webkit-scrollbar {
  width: 9px;
  /* ширина для вертикального скролла */
  background-color: #EEEFF4;
  border-radius: 9px;
}
.fancybox__container .swiper4slide .swiper4Right .swiper4RightText::-webkit-scrollbar-thumb {
  background-color: #D9DBE1;
  border-radius: 9em;
}
.fancybox__container .swiper4slide .swiper4Right .swiper4RightText .txt-Content {
  text-align: left;
}
.fancybox__container .swiper4slide .swiper4Right .swiper4RightText .review-link {
  margin: auto auto;
  cursor: pointer;
  color: red;
  transition: 0.2s;
}
.fancybox__container .swiper4slide .swiper4Right .swiper4RightText .review-link:hover {
  color: #FC5057;
  transition: 0.2s;
}
.fancybox__container .fancybox__content > .carousel__button.is-close {
  top: 10px;
  right: 7px;
  color: black;
}

.phone-menu-active main {
  filter: blur(2px);
}

.card-page {
  gap: 0;
}
.card-page .card-top {
  background-color: #303D4E;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.card-page .card-top .swiper5box {
  display: flex;
  gap: 16px;
  margin-bottom: 150px;
  margin-top: 16px;
}
.card-page .card-top .swiper5 {
  width: 100%;
  overflow: hidden;
}
.card-page .card-top .swiper5 article {
  overflow: hidden;
}
.card-page .card-top .swiper5 .swiper-wrapper {
  width: 100%;
  height: auto;
}
.card-page .card-top .swiper5 img {
  width: 100%;
  height: auto;
}
.card-page .card-top .swiper5btn {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  border-radius: 50%;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  flex-shrink: 0;
}
.card-page .card-top .swiper5btn svg path {
  transition: 0.3s;
}
.card-page .card-top .swiper5btn:hover {
  border-color: #FC5057;
  transition: 0.3s;
}
.card-page .card-top .swiper5btn:hover svg path {
  fill: #FC5057;
  transition: 0.3s;
}
.card-page .card-info {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}
.card-page .card-info .card-info-left {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.card-page .card-info .card-info-left .card-ul #card-ul-2 {
  display: none;
}
.card-page .card-info .card-info-left .card-ul .card-ul-li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
  color: #474A57;
  font-size: 18px;
  line-height: 22px;
  padding: 16px 10px;
  border-top: 1px solid #D9DBE1;
}
.card-page .card-info .card-info-left .card-ul .card-ul-li:last-child {
  border-bottom: 1px solid #D9DBE1;
}
.card-page .card-info .card-info-left .card-ul .card-ul-li > svg {
  width: 40px;
  height: 40px;
}
.card-page .card-info .card-info-left .card-ul .card-ul-li .white-svg {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-page .card-info .card-info-left .card-ul .card-ul-li span {
  margin-left: auto;
}
.card-page .card-info .card-info-left .card-info-more {
  display: none;
  flex-direction: column;
}
.card-page .card-info .card-info-left .card-info-more .card-info-more-text {
  color: #474A57;
  font-size: 18px;
  line-height: 22px;
  padding: 0 10px;
}
.card-page .card-info .card-info-left .card-btns {
  border-bottom: 1px solid #D9DBE1;
  display: flex;
}
.card-page .card-info .card-info-left .card-btns .card-btn {
  background-color: #969BAB;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 24px 100px;
  transition: 0.3s;
  cursor: pointer;
}
.card-page .card-info .card-info-left .card-btns .card-btn:hover {
  background-color: #FC5057;
  color: white;
  transition: 0.3s;
}
.card-page .card-info .card-info-left .card-btns .card-btn-active {
  background-color: #EEEFF4;
  color: #474A57;
  cursor: auto;
}
.card-page .card-info .card-info-left .card-btns .card-btn-active:hover {
  background-color: #EEEFF4;
  color: #474A57;
}
.card-page .card-info .card-info-right {
  background-color: white;
  box-shadow: 0 4px 4px rgba(96, 97, 112, 0.1);
  border-radius: 8px;
  padding: 48px;
  display: flex;
  gap: 16px;
  align-items: center;
  flex-direction: column;
  transform: translateY(-60px);
  height: 470px;
}
.card-page .card-info .card-info-right h3 {
  font-weight: 700;
  font-size: 29px;
  color: #18191F;
  line-height: 40px;
}
.card-page .card-info .card-info-right p {
  color: #18191F;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  max-width: 250px;
}
.card-page .card-info .card-info-right .price {
  font-weight: 400;
  font-size: 29px;
  line-height: 40px;
  color: #18191F;
}
.card-page .card-info .card-info-right .call {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ED1C24;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  cursor: pointer;
  padding: 12px 103px;
  transition: 0.3s;
  border: 1px solid #ED1C24;
  margin-top: 16px;
}
.card-page .card-info .card-info-right .call path {
  transition: 0.3s;
}
.card-page .card-info .card-info-right .call:hover {
  background-color: white;
  color: #FC5057;
  border: 1px solid #FC5057;
  transition: 0.3s;
}
.card-page .card-info .card-info-right .call:hover path {
  fill: #FC5057;
  transition: 0.3s;
}
.card-page .card-info .card-info-right .buy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: #18191F;
  border: 1px solid #18191F;
  border-radius: 4px;
  background-color: white;
  padding: 12px 50px;
  cursor: pointer;
  transition: 0.3s;
}
.card-page .card-info .card-info-right .buy:hover {
  border-color: #FC5057;
  color: white;
  background-color: #FC5057;
  transition: 0.3s;
}
.card-page .card-info .card-info-right .project-button {
  display: flex;
  gap: 40px;
  position: relative;
  z-index: 3;
}
.card-page .card-info .card-info-right .project-button .project-link {
  transform: translate(27%, 60%);
  position: absolute;
  display: flex;
  gap: 5px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
  z-index: 100;
  right: 0;
}
.card-page .card-info .card-info-right .project-button .project-link .btn-share {
  font-size: 16px;
  background: none;
  border: none;
  transition: 0.2s;
  padding: 5px 5px;
  font-family: "Inter", sans-serif;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
}
.card-page .card-info .card-info-right .project-button .project-link .btn-share svg {
  width: 36px;
  height: 36px;
}
.card-page .card-info .card-info-right .project-button .project-link .btn-share path {
  transition: 0.2s;
  fill: #969BAB;
}
.card-page .card-info .card-info-right .project-button .project-link .btn-share:hover path {
  fill: #FC5057;
  transition: 0.2s;
}
.card-page .card-info .card-info-right .project-button .project-link .telegram:hover path {
  fill: none;
  stroke: #FC5057;
  transition: 0.2s;
}
.card-page .card-info .card-info-right .project-button .project-link .telegram:hover line {
  fill: none;
  stroke: #FC5057;
  transition: 0.2s;
}
.card-page .card-info .card-info-right .project-button .project-link .telegram path {
  transition: 0.2s;
  fill: white;
  stroke: #969BAB;
}
.card-page .card-info .card-info-right .project-button .project-link .telegram line {
  stroke: #969BAB;
  transition: 0.2s;
}
.card-page .card-info .card-info-right .project-button .share-active {
  opacity: 1;
  visibility: visible;
}
.card-page .card-info .card-info-right .project-button .project-buttons {
  background: none;
  cursor: pointer;
  margin-bottom: auto;
  border: none;
  position: relative;
  z-index: 4;
}
.card-page .card-info .card-info-right .project-button .project-buttons path {
  transition: 0.2s;
}
.card-page .card-info .card-info-right .project-button .project-buttons:hover path {
  fill: #FC5057;
  transition: 0.2s;
}
.card-page .card-info .card-info-right .project-button .project-active path {
  fill: red;
}
.card-page .project-layout {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.card-page .project-layout .layout-btns {
  width: 100%;
  border-bottom: 0.5px solid #303D4E;
  display: flex;
  gap: 40px;
}
.card-page .project-layout .layout-btns .layout-btn {
  color: #303D4E;
  font-size: 16px;
  line-height: 22px;
  border: none;
  border-bottom: 4px solid #969BAB;
  background: none;
  cursor: pointer;
  transition: 0.3s;
  padding: 8px 16px;
}
.card-page .project-layout .layout-btns .layout-btn:hover {
  border-color: #FC5057;
  color: #FC5057;
  transition: 0.3s;
}
.card-page .project-layout .layout-btns .layout-btn-active {
  border-color: #ED1C24;
  cursor: auto;
}
.card-page .project-layout .layout-btns .layout-btn-active:hover {
  color: #303D4E;
}
.card-page .project-layout .layout-content .layout-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
.card-page .project-layout .layout-content .layout-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}
.card-page .project-layout .layout-content .layout-form {
  background-color: white;
  flex-direction: column;
  padding: 64px 144px;
  gap: 50px;
  display: none;
}
.card-page .project-layout .layout-content .layout-form .layout-form-header {
  margin: 0 auto;
  font-weight: 700;
  font-size: 37px;
  line-height: 44px;
  color: #262626;
}
.card-page .project-layout .layout-content .layout-form .layout-form-bottom {
  display: flex;
  gap: 64px;
}
.card-page .project-layout .layout-content .layout-form .layout-form-left input[type=file] {
  display: none;
}
.card-page .project-layout .layout-content .layout-form .layout-form-left label {
  background: #EEEFF4;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  display: flex;
  gap: 6px;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s;
  padding: 40px 100px;
  align-items: center;
}
.card-page .project-layout .layout-content .layout-form .layout-form-left label svg {
  margin-bottom: 10px;
}
.card-page .project-layout .layout-content .layout-form .layout-form-left label svg path {
  transition: 0.3s all;
}
.card-page .project-layout .layout-content .layout-form .layout-form-left label svg circle {
  transition: 0.3s all;
}
.card-page .project-layout .layout-content .layout-form .layout-form-left label .file2 {
  color: #474A57;
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
}
.card-page .project-layout .layout-content .layout-form .layout-form-left label .file3 {
  font-size: 12px;
  line-height: 16px;
  color: #474A57;
  text-align: center;
}
.card-page .project-layout .layout-content .layout-form .layout-form-left label:hover {
  background: #FC5057;
  transition: 0.3s;
}
.card-page .project-layout .layout-content .layout-form .layout-form-left label:hover svg {
  fill: #FC5057;
  transition: 0.6s;
}
.card-page .project-layout .layout-content .layout-form .layout-form-left label:hover svg path {
  transition: 0.3s;
  stroke: white;
}
.card-page .project-layout .layout-content .layout-form .layout-form-left label:hover svg circle {
  stroke: white;
  transition: 0.3s;
}
.card-page .project-layout .layout-content .layout-form .layout-form-left label:hover .file2 {
  color: white;
}
.card-page .project-layout .layout-content .layout-form .layout-form-left label:hover .file3 {
  color: white;
}
.card-page .project-layout .layout-content .layout-form .layout-form-left .file-how {
  color: #474A57;
  text-decoration: underline;
  font-size: 16px;
  line-height: 27px;
  display: block;
  margin-top: 44px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s all;
}
.card-page .project-layout .layout-content .layout-form .layout-form-left .file-how:hover {
  color: #FC5057;
}
.card-page .project-layout .layout-content .layout-form .layout-form-right {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 40px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
}
.card-page .project-layout .layout-content .layout-form .layout-form-right label {
  display: grid;
  gap: 24px;
  transition: 0.2s;
  max-width: 520px;
  width: 100%;
}
.card-page .project-layout .layout-content .layout-form .layout-form-right label:hover {
  color: #FC5057;
  transition: 0.2s;
}
.card-page .project-layout .layout-content .layout-form .layout-form-right label input {
  max-width: 520px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 7px 16px;
  background-color: #EEEFF4;
  color: #BFBFBF;
  border: 1px solid #BFBFBF;
  font-size: 14px;
  line-height: 24px;
  outline: none;
}
.card-page .project-layout .layout-content .layout-form .layout-form-right label input:focus {
  outline: none;
}
.card-page .project-layout .layout-content .layout-form .layout-form-right .accept {
  display: flex;
  color: #707070;
  gap: 20px;
  max-width: 440px;
  font-size: 12px;
  line-height: 16px;
  background: none;
  transition: 0.2s;
}
.card-page .project-layout .layout-content .layout-form .layout-form-right .accept .check {
  width: 20px;
  height: 20px;
  border: 1px solid #ED1C24;
  border-radius: 4px;
  display: flex;
  flex-shrink: 0;
}
.card-page .project-layout .layout-content .layout-form .layout-form-right .accept .check svg {
  margin: auto auto;
}
.card-page .project-layout .layout-content .layout-form .layout-form-right .accept .accept-input {
  display: none;
}
.card-page .project-layout .layout-content .layout-form .layout-form-right .accept .accept-input:checked + .check {
  background-color: #ED1C24;
  transition: 0.2s;
}
.card-page .project-layout .layout-content .layout-form .layout-form-right .rephone {
  border: none;
  font-size: 14px;
  padding: 12px 92px;
  background-color: #ED1C24;
  border-radius: 4px;
  color: #FFFFFF;
  transition: 0.2s;
  margin-right: auto;
}
.card-page .project-layout .layout-content .layout-form .layout-form-right .rephone:hover {
  background-color: #FC5057;
  color: white;
  transition: 0.2s;
}
.card-page .card-price {
  margin-top: 100px;
}
.card-page .card-price > h3 {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 37px;
  line-height: 44px;
  color: #18191F;
  border-bottom: 1px solid black;
  margin-bottom: 50px;
}
.card-page .card-price .price-btns {
  display: flex;
  gap: 8px;
  margin-bottom: 1px;
}
.card-page .card-price .price-btns .price-btn {
  width: 237px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #B98F4F;
  border-radius: 8px 8px 0 0;
  padding: 15px 36px;
  transition: 0.3s;
}
.card-page .card-price .price-btns .price-btn:hover {
  background-color: #FC5057;
  transition: 0.3s;
}
.card-page .card-price .price-btns .price-btn-active {
  background-color: white;
  color: #474A57;
  cursor: auto;
}
.card-page .card-price .price-btns .price-btn-active:hover {
  background-color: white;
  color: #474A57;
}
.card-page .card-price .price-block {
  display: none;
  gap: 24px;
  background-color: white;
  padding: 64px;
}
.card-page .card-price .price-block .price-block-left {
  display: flex;
  flex-direction: column;
  max-width: 565px;
  width: 100%;
}
.card-page .card-price .price-block .price-block-left .price-block-left-list {
  padding: 16px 8px;
  border-top: 1px solid #D9DBE1;
}
.card-page .card-price .price-block .price-block-left .price-block-left-list svg {
  transition: 0.3s;
}
.card-page .card-price .price-block .price-block-left .price-block-left-list:last-child {
  border-bottom: 1px solid #D9DBE1;
}
.card-page .card-price .price-block .price-block-left .price-block-left-list .price-block-left-button {
  width: 100%;
  border: none;
  cursor: pointer;
  background: none;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  color: #474A57;
  line-height: 32px;
}
.card-page .card-price .price-block .price-block-left .price-block-left-list .price-block-left-button path {
  transition: 0.3s;
}
.card-page .card-price .price-block .price-block-left .price-block-left-list .price-block-left-button:hover {
  color: #FC5057;
  transition: 0.3s;
}
.card-page .card-price .price-block .price-block-left .price-block-left-list .price-block-left-button:hover path {
  stroke: #FC5057;
  transition: 0.3s;
}
.card-page .card-price .price-block .price-block-left .price-block-left-list .price-block-left-ul {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 30px;
  overflow: hidden;
  max-height: 0;
  transition: 0.5s;
}
.card-page .card-price .price-block .price-block-left .price-block-left-list .price-block-left-ul .price-block-left-li {
  display: flex;
  gap: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #474A57;
  transition: 0.5s;
}
.card-page .card-price .price-block .price-block-left .price-block-left-list .price-block-left-ul .price-block-left-li .checked {
  width: 24px;
  height: 24px;
  background: url("./../imgs/cards/checked.png");
}
.card-page .card-price .price-block .price-block-left .price-block-left-list-active svg {
  transform: rotate(45deg);
  transition: 0.5s;
}
.card-page .card-price .price-block .price-block-left .price-block-left-list-active .price-block-left-ul {
  max-height: 100vh;
  margin-top: 24px;
}
.card-page .card-price .price-block .price-block-right .price-block-right-top {
  border-top: 1px solid #D9DBE1;
  border-bottom: 1px solid #D9DBE1;
  padding: 16px 8px 65px 8px;
}
.card-page .card-price .price-block .price-block-right .price-block-right-top h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #474A57;
}
.card-page .card-price .price-block .price-block-right .price-block-right-top .price-block-right-form {
  display: flex;
  gap: 4px;
}
.card-page .card-price .price-block .price-block-right .price-block-right-top .price-block-right-form input {
  display: none;
}
.card-page .card-price .price-block .price-block-right .price-block-right-top .price-block-right-form label {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.card-page .card-price .price-block .price-block-right .price-block-right-top .price-block-right-form label .radio-checkbox {
  width: 19px;
  order: 2;
  height: 19px;
  border-radius: 50%;
  background: rgba(153, 153, 153, 0.5);
  border: 1px solid rgba(158, 158, 158, 0.25);
  margin: 7px auto 0 auto;
}
.card-page .card-price .price-block .price-block-right .price-block-right-top .price-block-right-form label span {
  position: absolute;
  top: 110%;
  color: #474A57;
  font-weight: 400;
  font-size: 9px;
  line-height: 16px;
  display: none;
}
.card-page .card-price .price-block .price-block-right .price-block-right-top .price-block-right-form label img {
  width: 100%;
  height: auto;
}
.card-page .card-price .price-block .price-block-right .price-block-right-top .price-block-right-form input:checked + .radio-checkbox {
  background: #FC5057;
  width: 19px;
  height: 19px;
  border: solid 2px white;
  outline: solid 2px #FC5057;
}
.card-page .card-price .price-block .price-block-right .price-block-right-top .price-block-right-form input:checked + .radio-checkbox + span {
  display: block;
}
.card-page .card-price .price-block .price-block-right .price-block-right-bottom {
  border-bottom: 1px solid #D9DBE1;
  padding: 16px 8px 65px 8px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.card-page .card-price .price-block .price-block-right .price-block-right-bottom h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #474A57;
}
.card-page .card-price .price-block .price-block-right .price-block-right-bottom .price-block-right-form {
  display: flex;
  gap: 4px;
  justify-content: space-between;
}
.card-page .card-price .price-block .price-block-right .price-block-right-bottom .price-block-right-form input {
  display: none;
}
.card-page .card-price .price-block .price-block-right .price-block-right-bottom .price-block-right-form label {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.card-page .card-price .price-block .price-block-right .price-block-right-bottom .price-block-right-form label span {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #212121;
}
.card-page .card-price .price-block .price-block-right .price-block-right-bottom .price-block-right-form label img {
  max-width: 70px;
  height: auto;
}
.card-page .card-price .price-block .price-block-right .price-block-right-bottom .price-block-right-form label .radio-checkbox {
  width: 19px;
  order: 2;
  height: 19px;
  border-radius: 50%;
  background: rgba(153, 153, 153, 0.5);
  border: 1px solid rgba(158, 158, 158, 0.25);
  margin-top: 7px;
}
.card-page .card-price .price-block .price-block-right .price-block-right-bottom .price-block-right-form input:checked + .radio-checkbox {
  background: #FC5057;
  width: 19px;
  height: 19px;
  border: solid 2px white;
  outline: solid 2px #FC5057;
}
.card-page .card-price .price-block .price-block-right .price-block-right-bottom .price-block-right-form .price-card-span {
  order: 4;
}
.card-page .card-price .active-price-block {
  display: flex;
}
.card-page .card-price-mobile {
  margin-top: 50px;
}
.card-page .card-price-mobile > h3 {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 37px;
  line-height: 44px;
  color: #18191F;
  border-bottom: 1px solid black;
  margin-bottom: 50px;
}
.card-page .card-price-mobile .price-btns-mobile {
  display: flex;
  gap: 8px;
  flex-direction: column;
  margin-bottom: 1px;
}
.card-page .card-price-mobile .price-btns-mobile .price-btn {
  width: 100%;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #B98F4F;
  border-radius: 8px 8px 0 0;
  padding: 15px 36px;
  transition: 0.3s;
}
.card-page .card-price-mobile .price-btns-mobile .price-btn:hover {
  background-color: #FC5057;
  transition: 0.3s;
}
.card-page .card-price-mobile .price-btns-mobile .price-btn-active {
  background-color: white;
  color: #474A57;
  cursor: auto;
}
.card-page .card-price-mobile .price-btns-mobile .price-btn-active:hover {
  background-color: white;
  color: #474A57;
}
.card-page .card-price-mobile .price-block {
  display: none;
  gap: 50px;
  background-color: white;
  padding: 64px;
  height: 0;
  flex-direction: column;
}
.card-page .card-price-mobile .price-block .price-block-left {
  display: flex;
  flex-direction: column;
  max-width: 565px;
  width: 100%;
}
.card-page .card-price-mobile .price-block .price-block-left .price-block-left-list {
  padding: 16px 8px;
  border-top: 1px solid #D9DBE1;
}
.card-page .card-price-mobile .price-block .price-block-left .price-block-left-list svg {
  transition: 0.3s;
}
.card-page .card-price-mobile .price-block .price-block-left .price-block-left-list:last-child {
  border-bottom: 1px solid #D9DBE1;
}
.card-page .card-price-mobile .price-block .price-block-left .price-block-left-list .price-block-left-button {
  width: 100%;
  border: none;
  cursor: pointer;
  background: none;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  color: #474A57;
  line-height: 32px;
}
.card-page .card-price-mobile .price-block .price-block-left .price-block-left-list .price-block-left-button path {
  transition: 0.3s;
}
.card-page .card-price-mobile .price-block .price-block-left .price-block-left-list .price-block-left-button:hover {
  color: #FC5057;
  transition: 0.3s;
}
.card-page .card-price-mobile .price-block .price-block-left .price-block-left-list .price-block-left-button:hover path {
  stroke: #FC5057;
  transition: 0.3s;
}
.card-page .card-price-mobile .price-block .price-block-left .price-block-left-list .price-block-left-ul {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 30px;
  overflow: hidden;
  max-height: 0;
  transition: 0.5s;
}
.card-page .card-price-mobile .price-block .price-block-left .price-block-left-list .price-block-left-ul .price-block-left-li {
  display: flex;
  gap: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #474A57;
  transition: 0.5s;
}
.card-page .card-price-mobile .price-block .price-block-left .price-block-left-list .price-block-left-ul .price-block-left-li .checked {
  width: 24px;
  height: 24px;
  background: url("./../imgs/cards/checked.png");
}
.card-page .card-price-mobile .price-block .price-block-left .price-block-left-list-active svg {
  transform: rotate(45deg);
  transition: 0.5s;
}
.card-page .card-price-mobile .price-block .price-block-left .price-block-left-list-active .price-block-left-ul {
  max-height: 100vh;
  margin-top: 24px;
}
.card-page .card-price-mobile .price-block .price-block-right .price-block-right-top {
  border-top: 1px solid #D9DBE1;
  border-bottom: 1px solid #D9DBE1;
  padding: 16px 8px 65px 8px;
}
.card-page .card-price-mobile .price-block .price-block-right .price-block-right-top h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #474A57;
}
.card-page .card-price-mobile .price-block .price-block-right .price-block-right-top .price-block-right-form {
  display: flex;
  gap: 4px;
}
.card-page .card-price-mobile .price-block .price-block-right .price-block-right-top .price-block-right-form input {
  display: none;
}
.card-page .card-price-mobile .price-block .price-block-right .price-block-right-top .price-block-right-form label {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.card-page .card-price-mobile .price-block .price-block-right .price-block-right-top .price-block-right-form label span {
  position: absolute;
  top: 110%;
  color: #474A57;
  font-weight: 400;
  font-size: 9px;
  line-height: 16px;
  display: none;
}
.card-page .card-price-mobile .price-block .price-block-right .price-block-right-top .price-block-right-form label img {
  width: 100%;
  height: auto;
}
.card-page .card-price-mobile .price-block .price-block-right .price-block-right-top .price-block-right-form label:before {
  content: "";
  width: 19px;
  order: 2;
  height: 19px;
  border-radius: 50%;
  background: rgba(153, 153, 153, 0.5);
  border: 1px solid rgba(158, 158, 158, 0.25);
  margin-top: 7px;
}
.card-page .card-price-mobile .price-block .price-block-right .price-block-right-top .price-block-right-form input:checked + label:before {
  background: #FC5057;
  width: 17px;
  height: 17px;
  border: solid 2px white;
  outline: solid 2px #FC5057;
}
.card-page .card-price-mobile .price-block .price-block-right .price-block-right-top .price-block-right-form input:checked + label > span {
  display: block;
}
.card-page .card-price-mobile .price-block .price-block-right .price-block-right-bottom {
  border-bottom: 1px solid #D9DBE1;
  padding: 16px 8px 65px 8px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.card-page .card-price-mobile .price-block .price-block-right .price-block-right-bottom h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #474A57;
}
.card-page .card-price-mobile .price-block .price-block-right .price-block-right-bottom .price-block-right-form {
  display: flex;
  gap: 4px;
  justify-content: space-between;
}
.card-page .card-price-mobile .price-block .price-block-right .price-block-right-bottom .price-block-right-form input {
  display: none;
}
.card-page .card-price-mobile .price-block .price-block-right .price-block-right-bottom .price-block-right-form label {
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.card-page .card-price-mobile .price-block .price-block-right .price-block-right-bottom .price-block-right-form label span {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #212121;
}
.card-page .card-price-mobile .price-block .price-block-right .price-block-right-bottom .price-block-right-form label img {
  max-width: 70px;
  height: auto;
}
.card-page .card-price-mobile .price-block .price-block-right .price-block-right-bottom .price-block-right-form label:before {
  content: "";
  width: 19px;
  margin-top: 16px;
  margin-bottom: 8px;
  order: 2;
  height: 19px;
  border-radius: 50%;
  background: rgba(153, 153, 153, 0.5);
  border: 1px solid rgba(158, 158, 158, 0.25);
}
.card-page .card-price-mobile .price-block .price-block-right .price-block-right-bottom .price-block-right-form input:checked + label:before {
  background: #FC5057;
  width: 17px;
  height: 17px;
  border: solid 2px white;
  outline: solid 2px #FC5057;
}
.card-page .card-price-mobile .price-block .price-block-right .price-block-right-bottom .price-block-right-form .price-card-span {
  order: 4;
}
.card-page .card-price-mobile .active-price-block {
  display: flex;
  height: auto;
  transition: 0.5s all;
}
.card-page .card-get-price {
  background: white;
  display: flex;
  padding: 24px 80px;
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.card-page .card-get-price > span {
  margin-left: auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 41px;
  color: #474A57;
}
.card-page .card-get-price .getPrice {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 57px;
  background-color: #ED1C24;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  transition: 0.3s;
}
.card-page .card-get-price .getPrice:hover {
  background-color: #FC5057;
  transition: 0.3s;
}
.card-page .card-stages {
  background-color: #303D4E;
  padding: 80px 0 100px 0;
}
.card-page .card-stages .stages {
  display: grid;
  gap: 50px;
}
.card-page .card-stages .stages .stages-top {
  text-align: center;
  color: white;
  display: grid;
  gap: 24px;
}
.card-page .card-stages .stages .stages-top h2 {
  font-weight: bold;
  font-size: 37px;
  line-height: 44px;
}
.card-page .card-stages .stages .stages-top p {
  font-size: 16px;
  line-height: 27px;
}
.card-page .card-stages .stages .stages-img {
  display: flex;
  gap: 24px;
}
.card-page .card-stages .stages .stages-img .stages-svg {
  width: 302px;
  height: 322px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: #FFFFFF;
  border-radius: 15px;
  padding: 24px 24px;
  overflow: hidden;
  transition: 0.2s;
}
.card-page .card-stages .stages .stages-img .stages-svg:hover {
  background-color: #ED1C24;
  transition: 0.2s;
}
.card-page .card-stages .stages .stages-img .stages-svg:hover h3 {
  color: white;
  transition: 0.2s;
}
.card-page .card-stages .stages .stages-img .stages-svg:hover p {
  color: white;
  transition: 0.2s;
}
.card-page .card-stages .stages .stages-img .stages-svg:hover .stage-svg {
  background-color: white;
  transition: 0.2s;
}
.card-page .card-stages .stages .stages-img .stages-svg:hover .stage-svg path {
  fill: red;
  transition: 0.2s;
}
.card-page .card-stages .stages .stages-img .stages-svg:hover .stage-arrow circle {
  fill: white;
  transition: 0.2s;
}
.card-page .card-stages .stages .stages-img .stages-svg:hover .stage-arrow path {
  fill: #ED1C24;
  stroke: #ED1C24;
  transition: 0.2s;
}
.card-page .card-stages .stages .stages-img .stages-svg:hover .stage-number-one path {
  fill: white;
  transition: 0.2s;
}
.card-page .card-stages .stages .stages-img .stages-svg:hover .stage-number path {
  fill: white;
  transition: 0.2s;
}
.card-page .card-stages .stages .stages-img .stages-svg h3 {
  font-size: 21px;
  line-height: 135%;
  color: #303D4E;
  transition: 0.2s;
}
.card-page .card-stages .stages .stages-img .stages-svg p {
  font-size: 14px;
  line-height: 18px;
  color: #474A57;
  margin-top: auto;
  transition: 0.2s;
}
.card-page .card-stages .stages .stages-img .stages-svg .stage-svg {
  width: 90px;
  height: 90px;
  border-radius: 20px;
  background-color: #D9DBE1;
  display: flex;
  margin-top: 46px;
  transition: 0.2s;
}
.card-page .card-stages .stages .stages-img .stages-svg .stage-svg svg {
  margin: auto auto;
  transition: 0.2s;
}
.card-page .card-stages .stages .stages-img .stages-svg .stage-arrow {
  position: absolute;
  left: 254px;
  top: 24px;
  transition: 0.2s;
}
.card-page .card-stages .stages .stages-img .stages-svg .stage-number-one {
  position: absolute;
  left: 76.52%;
  top: 56.3%;
  transition: 0.2s;
}
.card-page .card-stages .stages .stages-img .stages-svg .stage-number {
  position: absolute;
  right: 0;
  top: 56.3%;
  transition: 0.2s;
}
.card-page .card-more {
  margin-top: 100px;
  overflow: hidden;
}
.card-page .card-more > h3 {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 37px;
  line-height: 44px;
  color: #18191F;
  border-bottom: 1px solid black;
  margin-bottom: 50px;
}

.card-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.card-swiper {
  max-width: 430px;
}
.card-swiper .swiper-wrapper {
  gap: 23px;
}

.card {
  filter: drop-shadow(0px 4px 4px rgba(96, 97, 112, 0.1));
  border: 1px solid #969BAB;
  border-radius: 8px;
  background-color: white;
  max-width: 411px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  z-index: 1;
}
.card a {
  text-decoration: none;
}
.card:hover {
  box-shadow: 0 2px 15px 9px rgba(96, 97, 112, 0.1);
  transition: 0.2s;
}
.card:hover .project {
  opacity: 0.9;
  transition: 0.2s;
}
.card .project {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  object-fit: contain;
  max-height: 273px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: 0.2s;
}
.card .project-name {
  display: flex;
  gap: 40px;
  padding: 22px;
}
.card .project-name .project-h {
  font-size: 29px;
  font-weight: bold;
  line-height: 40px;
  text-decoration: none;
  color: #18191F;
}
.card .project-name .project-button {
  display: flex;
  gap: 8px;
  position: relative;
  z-index: 3;
}
.card .project-name .project-button .project-link {
  transform: translate(0%, 70%);
  position: absolute;
  display: flex;
  gap: 5px;
  background-color: white;
  border: 1px solid #969BAB;
  border-radius: 5px;
  padding: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
  z-index: 100;
  right: 0;
}
.card .project-name .project-button .project-link .btn-share {
  font-size: 16px;
  background: none;
  border: none;
  transition: 0.2s;
  padding: 5px 5px;
  font-family: "Inter", sans-serif;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
}
.card .project-name .project-button .project-link .btn-share svg {
  width: 36px;
  height: 36px;
}
.card .project-name .project-button .project-link .btn-share path {
  transition: 0.2s;
}
.card .project-name .project-button .project-link .btn-share:hover path {
  fill: #FC5057;
  transition: 0.2s;
}
.card .project-name .project-button .project-link .telegram:hover path {
  fill: none;
  stroke: #FC5057;
  transition: 0.2s;
}
.card .project-name .project-button .project-link .telegram:hover line {
  fill: none;
  stroke: #FC5057;
  transition: 0.2s;
}
.card .project-name .project-button .project-link .telegram path {
  transition: 0.2s;
}
.card .project-name .project-button .project-link .telegram line {
  transition: 0.2s;
}
.card .project-name .project-button .share-active {
  opacity: 1;
  visibility: visible;
}
.card .project-name .project-button .project-buttons {
  background: none;
  cursor: pointer;
  margin-bottom: auto;
  border: none;
  position: relative;
  z-index: 4;
}
.card .project-name .project-button .project-buttons path {
  transition: 0.2s;
}
.card .project-name .project-button .project-buttons:hover path {
  fill: #FC5057;
  transition: 0.2s;
}
.card .project-name .project-button .project-active path {
  fill: red;
}
.card .project-nametxt {
  font-size: 16px;
  color: #18191F;
  line-height: 27px;
  padding: 2px 22px;
}
.card .card-footer {
  display: grid;
  margin-top: auto;
  padding: 22px;
}
.card .card-footer .project-info {
  display: flex;
  justify-content: space-between;
}
.card .card-footer .project-info .project-infoRow {
  display: grid;
  gap: 8px;
}
.card .card-footer .project-info .project-infoRow svg {
  max-height: 36px;
  max-width: 36px;
}
.card .card-footer .project-info .project-infoRow .project-size {
  font-size: 14px;
  line-height: 24px;
  color: #474A57;
}
.card .card-footer .project-info .project-infoRow .project-txtSize {
  font-size: 14px;
  line-height: 18px;
  color: #474A57;
}
.card .card-footer .project-border {
  margin: 36px 0 16px 0;
  border-bottom: 2px solid #969BAB;
}
.card .card-footer .project-footer {
  display: grid;
  gap: 8px;
}
.card .card-footer .project-footer .project-footerInfo {
  display: flex;
  justify-content: space-between;
}
.card .card-footer .project-footer .project-footerInfo .project-type {
  font-size: 16px;
  line-height: 27px;
  color: #18191F;
}
.card .card-footer .project-footer .project-footerInfo .project-summ {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #474A57;
}

.card-new-project {
  background-color: white;
  box-shadow: 0 4px 4px rgba(96, 97, 112, 0.1);
  padding: 40px 110px;
  margin-top: 200px;
  gap: 40px;
  display: flex;
}
.card-new-project .card-new-project-txt {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.card-new-project .card-new-project-txt h4 {
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  color: #474A57;
}
.card-new-project .card-new-project-txt p {
  font-size: 16px;
  line-height: 24px;
  color: #474A57;
}
.card-new-project .card-new-project-form {
  margin-left: auto;
  display: flex;
  gap: 16px;
}
.card-new-project .card-new-project-form input {
  padding: 12px 92px 12px 16px;
  background: #EEEFF4;
  border: 1px solid #969BAB;
  border-radius: 4px;
  font-size: 14px;
  line-height: 24px;
  color: #969BAB;
  transition: 0.3s;
}
.card-new-project .card-new-project-form input:focus {
  outline: none;
}
.card-new-project .card-new-project-form input:hover {
  border-color: #FC5057;
  color: #FC5057;
  transition: 0.3s;
}
.card-new-project .card-new-project-form button {
  background: #ED1C24;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(96, 97, 112, 0.1);
  border-radius: 4px;
  padding: 12px 92px;
  font-size: 14px;
  line-height: 24px;
  color: white;
  transition: 0.3s;
}
.card-new-project .card-new-project-form button:hover {
  background-color: #FC5057;
  transition: 0.3s;
}

/*# sourceMappingURL=style.css.map */
