.drop {
    opacity: 0;
    transform: translateY(-150%);
    transition: 0.5s;
    position: relative;
    z-index: 1;
}


.DropDown {
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s;
}

.burger1 {
    transform: translateY(20%) rotate(0deg);
    -ms-transform:  translateY(20%) rotate(0deg);
    transition: 0.5s;

}

.burger2 {
    opacity: 1;
    transform: translateY(40%);
    -ms-transform:  translateY(40%);
    transition: 0.5s;
}

.burger3 {
    transform: translateY(60%) rotate(0deg);
    -ms-transform:  translateY(60%) rotate(0deg);
    transition: 0.5s;
}

.open1 {
    transform: translate(18%, 20%) rotate(45deg);
    -ms-transform:  translateY(60%) rotate(0deg);
    transition: 0.5s;
}

.open2 {
    opacity: 0;
    transition: 0.2s
}

.open3 {
    -ms-transform:  translate(10.3%, 73.5%) rotate(-45deg);
    width: 37px;
    height: 4px;
    transform:translate(10.3%, 73.5%) rotate(-45deg);
    transition: 0.5s;
}


body > header .container .dropDownPhone {
    transform: translateY(64px);
    -ms-transform:  translateY(64px);
    transition: 0.2s;
    z-index: 2;
}